{
  "openapi": "3.0.0",
  "info": {
    "title": "Gochiira Backend API",
    "version": "1.0",
    "contact": {
      "name": "Omado",
      "url": "https://twitter.com/shallow_omado",
      "email": "dsgamer777@gmail.com"
    },
    "termsOfService": "https://illust.gochiusa.team/terms",
    "description": "ごちイラ内でメインに使用されているAPI。\n現在Bot、ガチャ、フロントエンド の 3箇所で使用中。",
    "license": {
      "name": "GPLv3",
      "url": "https://www.gnu.org/licenses/gpl-3.0.ja.html"
    }
  },
  "servers": [
    {
      "url": "https://api.gochiusa.team",
      "description": "Prod"
    },
    {
      "url": "http://127.0.0.1:8080",
      "description": "Dev"
    }
  ],
  "paths": {
    "/accounts/{accountID}": {
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "accountID",
          "in": "path",
          "required": true,
          "description": "取得したいユーザーのアカウントID"
        }
      ],
      "get": {
        "summary": "Get user info",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAccountResponse"
                }
              }
            }
          }
        },
        "operationId": "getAccount",
        "description": "ユーザーのアカウント情報を取得します",
        "tags": [
          "accounts"
        ]
      },
      "put": {
        "summary": "Edit user info",
        "operationId": "editAccount",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PutAccountResponse"
                },
                "examples": {}
              }
            }
          }
        },
        "tags": [
          "accounts"
        ],
        "description": "アカウント情報を編集します\n(本人または管理者のみがリクエストできます)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutAccountRequest"
              },
              "examples": {
                "example": {
                  "value": {
                    "userDisplayID": "omado",
                    "userName": "お窓",
                    "userPassword": "kafuuch1n0",
                    "userOldPassword": "h0t0c0c0a",
                    "userFavorite": 1,
                    "userTheme": 0,
                    "userPermission": 0,
                    "userLineID": "dosugamea",
                    "userTwitterID": "shallow_omado"
                  }
                }
              }
            }
          },
          "description": "ユーザー本人、もしくは管理者のみデータを変更できます\n変更したいカラムを与え、値に変更後の値を与えると変更できます\nパスワードを変更する場合のみ、例外的に現在のパスワードが要求されます"
        }
      },
      "delete": {
        "summary": "Delete user info",
        "operationId": "deleteAccount",
        "description": "アカウントを削除します\n(本人または管理者のみがリクエストできます)",
        "tags": [
          "accounts"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteAccountRequest"
              }
            }
          },
          "description": "危険な操作のため、パスワードが必要になります"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteAccountResponse"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountID}/upload_history": {
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "accountID",
          "in": "path",
          "required": true,
          "description": "取得したいユーザーのアカウントID"
        }
      ],
      "get": {
        "summary": "Get upload history",
        "tags": [
          "accounts"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUploadHistoryResponse"
                }
              }
            }
          }
        },
        "operationId": "getUploadHistory",
        "description": "イラスト投稿履歴を取得します",
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchQueryPage"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "d"
              ],
              "example": "d",
              "minLength": 1,
              "maxLength": 1
            },
            "in": "query",
            "name": "sort",
            "description": "ソート方法 d:最終更新"
          },
          {
            "$ref": "#/components/parameters/SearchQueryOrder"
          }
        ]
      }
    },
    "/accounts/{accountID}/reissue_token": {
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "accountID",
          "in": "path",
          "required": true,
          "description": "取得したいユーザーのアカウントID"
        }
      ],
      "post": {
        "summary": "Reissue api key",
        "operationId": "reissueToken",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostReissueTokenResponse"
                }
              }
            }
          }
        },
        "description": "アカウントのログインキーを再生成します",
        "tags": [
          "accounts"
        ]
      }
    },
    "/catalog/artists": {
      "get": {
        "summary": "Get artist list",
        "tags": [
          "catalog"
        ],
        "responses": {
          "200": {
            "description": "ヒットしたデータが応答のdata->contentsに配列で返却されます",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCatalogArtistResponse"
                },
                "examples": {}
              }
            }
          }
        },
        "operationId": "getArtistList",
        "description": "絵師一覧を取得します",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "in": "query",
            "name": "page",
            "description": "ページ番号"
          },
          {
            "schema": {
              "type": "string",
              "default": "c",
              "enum": [
                "d",
                "l",
                "c",
                "n"
              ],
              "minLength": 1,
              "maxLength": 1
            },
            "in": "query",
            "name": "sort",
            "description": "ソート方法 c:ヒット数 d:最終更新 l:いいね数 n:名前"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "d",
                "a"
              ],
              "default": "d",
              "example": "d",
              "minLength": 1,
              "maxLength": 1
            },
            "in": "query",
            "name": "order",
            "description": "ソート方向 最大が先頭: \"d\"esc, 最小が先頭:\"a\"sc"
          }
        ]
      },
      "parameters": []
    },
    "/catalog/tags": {
      "get": {
        "summary": "Get tag list",
        "tags": [
          "catalog"
        ],
        "responses": {
          "200": {
            "description": "ヒットしたデータが応答のdata->contentsに配列で返却されます",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCatalogTagResponse"
                },
                "examples": {}
              }
            }
          }
        },
        "operationId": "getTagList",
        "description": "タグ一覧を取得します",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "exclusiveMinimum": true,
              "minimum": 1,
              "default": 1
            },
            "in": "query",
            "name": "page",
            "description": "ページ番号"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "c",
                "d",
                "l",
                "n"
              ],
              "default": "c",
              "minLength": 1,
              "maxLength": 1
            },
            "in": "query",
            "name": "sort",
            "description": "ソート方法 c:ヒット数 d:最終更新 l:いいね数 n:名前"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "d",
                "a"
              ],
              "default": "d",
              "example": "d",
              "maxLength": 1,
              "minLength": 1
            },
            "in": "query",
            "name": "order",
            "description": "ソート方向 最大が先頭: \"d\"esc, 最小が先頭:\"a\"sc"
          }
        ]
      },
      "parameters": []
    },
    "/catalog/characters": {
      "get": {
        "summary": "Get character list",
        "tags": [
          "catalog"
        ],
        "responses": {
          "200": {
            "description": "ヒットしたデータが応答のdata->contentsに配列で返却されます",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCatalogCharacterResponse"
                },
                "examples": {}
              }
            }
          }
        },
        "operationId": "getCharacterList",
        "description": "キャラクター一覧を取得します",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1,
              "exclusiveMinimum": true
            },
            "in": "query",
            "name": "page",
            "description": "ページ番号"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "c",
                "d",
                "l",
                "n"
              ],
              "default": "c",
              "minLength": 1,
              "maxLength": 1
            },
            "in": "query",
            "name": "sort",
            "description": "ソート方法 c:ヒット数 d:最終更新 l:いいね数 n:名前"
          },
          {
            "schema": {
              "type": "string",
              "default": "d",
              "enum": [
                "d",
                "a"
              ],
              "example": "d",
              "minLength": 1,
              "maxLength": 1
            },
            "in": "query",
            "name": "order",
            "description": "ソート方向 最大が先頭: \"d\"esc, 最小が先頭:\"a\"sc"
          }
        ]
      }
    },
    "/arts/{illustID}": {
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "illustID",
          "in": "path",
          "required": true,
          "description": "取得したいイラストのID"
        }
      ],
      "get": {
        "summary": "Get art info",
        "tags": [
          "arts"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetArtResponse"
                }
              }
            }
          }
        },
        "operationId": "getArt",
        "description": "指定したイラストを取得します"
      },
      "put": {
        "summary": "Edit art",
        "operationId": "put-arts-illustID",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PutArtResponse"
                }
              }
            }
          }
        },
        "description": "指定したイラストの情報を編集します\nパラメータで与えられたデータに応じて柔軟に\n絵師名・タグ・キャラクター等を同時に書き換えます",
        "tags": [
          "arts"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutArtRequest"
              }
            }
          },
          "description": ""
        }
      },
      "delete": {
        "summary": "Delete art",
        "operationId": "delete-arts-illustID",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteArtResponse"
                }
              }
            }
          }
        },
        "description": "指定したイラストを削除します\n削除してほしくないため非推奨とします\n(このエンドポイントから削除したイラストは\n参照が不可能になるだけであり一定日数サーバー上に残されます)",
        "deprecated": true,
        "tags": [
          "arts"
        ]
      }
    },
    "/navigations/characters": {
      "get": {
        "summary": "Get character navigation tab (for site)",
        "tags": [
          "navigations"
        ],
        "responses": {
          "200": {
            "description": "応答のdataに配列で返却されます",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNavigationGeneralResponse"
                },
                "examples": {}
              }
            }
          }
        },
        "operationId": "getCharacterNavigation",
        "description": "イラスト数の多いキャラクター上位5件を取得します\nサイト内上部 ナビゲーションメニューで使用しています"
      }
    },
    "/navigations/artists": {
      "get": {
        "summary": "Get artist navigation tab (for site)",
        "tags": [
          "navigations"
        ],
        "responses": {
          "200": {
            "description": "応答のdataに配列で返却されます",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNavigationGeneralResponse"
                },
                "examples": {}
              }
            }
          }
        },
        "operationId": "getArtistNavigation",
        "description": "イラスト数の多い絵師上位5件を取得します\nサイト内上部 ナビゲーションメニューで使用しています"
      }
    },
    "/navigations/tags": {
      "get": {
        "summary": "Get tag navigation tab (for site)",
        "tags": [
          "navigations"
        ],
        "responses": {
          "200": {
            "description": "応答のdataに配列で返却されます",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNavigationGeneralResponse"
                },
                "examples": {}
              }
            }
          }
        },
        "operationId": "getTagNavigation",
        "description": "イラスト数の多いタグ上位5件を取得します\nサイト内上部 ナビゲーションメニューで使用しています"
      }
    },
    "/navigations/uploaders": {
      "get": {
        "summary": "Get uploader navigation tab (for site)",
        "tags": [
          "navigations"
        ],
        "responses": {
          "200": {
            "description": "応答のdataに配列で返却されます",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNavigationGeneralResponse"
                },
                "examples": {}
              }
            }
          }
        },
        "operationId": "getUploaderNavigation",
        "description": "イラスト数の多い投稿者上位5件を取得します\nサイト内上部 ナビゲーションメニューで使用しています"
      }
    },
    "/news/list": {
      "get": {
        "summary": "Get news list",
        "tags": [
          "news"
        ],
        "responses": {
          "200": {
            "description": "応答のdataに配列で返却されます",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNewsListResponse"
                },
                "examples": {}
              }
            }
          }
        },
        "operationId": "getNewsList",
        "description": "ニュース一覧を取得します"
      }
    },
    "/news/{newsID}": {
      "parameters": [
        {
          "schema": {
            "type": "integer",
            "minimum": 1,
            "exclusiveMinimum": true
          },
          "name": "newsID",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get news",
        "tags": [
          "news"
        ],
        "responses": {
          "200": {
            "description": "応答のdataに返却されます",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNewsResponse"
                },
                "examples": {}
              }
            }
          }
        },
        "operationId": "getNews",
        "description": "指定したニュースの内容を取得します"
      },
      "delete": {
        "summary": "Delete news",
        "operationId": "deleteNews",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteNewsResponse"
                }
              }
            }
          }
        },
        "tags": [
          "news"
        ],
        "description": "指定したニュースを削除します\n管理者のみリクエストできます"
      },
      "put": {
        "summary": "Edit news",
        "operationId": "editNews",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PutNewsResponse"
                }
              }
            }
          }
        },
        "tags": [
          "news"
        ],
        "description": "指定したニュースのタイトル/本文/カラーを編集します\n管理者のみリクエストできます",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutNewsRequest"
              }
            }
          }
        }
      }
    },
    "/mylist/{mylistID}": {
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "mylistID",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get mylist data",
        "tags": [
          "mylist"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMylistResponse"
                },
                "examples": {}
              }
            }
          }
        },
        "operationId": "getMylist",
        "description": "指定したマイリストに登録されたイラスト一覧を取得します",
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchQueryPage"
          },
          {
            "$ref": "#/components/parameters/SearchQuerySort"
          },
          {
            "$ref": "#/components/parameters/SearchQueryOrder"
          }
        ]
      },
      "put": {
        "summary": "Edit mylist",
        "operationId": "editMylist",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PutMylistResponse"
                }
              }
            }
          }
        },
        "description": "マイリストのタイトル/説明文/内容(イラスト)を編集します",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutMylistRequest"
              }
            }
          },
          "description": "変更したいものを指定してリクエストします"
        },
        "tags": [
          "mylist"
        ]
      },
      "delete": {
        "summary": "Delete mylist",
        "operationId": "deleteMylist",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteMylistResponse"
                }
              }
            }
          }
        },
        "description": "マイリストを削除します",
        "tags": [
          "mylist"
        ]
      }
    },
    "/mylist/list": {
      "get": {
        "summary": "Get mylist list",
        "tags": [
          "mylist"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMylistListResponse"
                },
                "examples": {}
              }
            }
          }
        },
        "operationId": "getMylists",
        "description": "自分の作成したマイリスト一覧を取得します\n(現在フロントエンド側に実装がありません)"
      }
    },
    "/search/tag": {
      "get": {
        "summary": "Search by tag",
        "tags": [
          "search"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchGeneralResponse"
                },
                "examples": {}
              }
            }
          }
        },
        "operationId": "searchArtByTag",
        "description": "指定したタグを持つイラスト一覧を取得します",
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchQuerySort"
          },
          {
            "$ref": "#/components/parameters/SearchQueryOrder"
          },
          {
            "$ref": "#/components/parameters/SearchQueryPage"
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "id",
            "description": "タグID",
            "required": true
          },
          {
            "$ref": "#/components/parameters/SearchQueryMylistAllow"
          }
        ]
      }
    },
    "/search/character": {
      "get": {
        "summary": "Search by character",
        "tags": [
          "search"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchGeneralResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 200,
                      "message": "found",
                      "data": {
                        "title": "パソコン",
                        "count": 1,
                        "current": 1,
                        "pages": 1,
                        "imgs": [
                          {
                            "illustID": 1,
                            "artistID": 1,
                            "title": "パソコンのキャラクター（ノートパソコン）(笑顔)",
                            "caption": "快調に動く笑顔のノート型のコンピューターと、壊れて困った顔をしているコンピューターのイラストです。\n",
                            "date": "2021-01-07 12:31:01",
                            "pages": 1,
                            "like": 53,
                            "mylist": 1,
                            "mylisted": false,
                            "originUrl": "https://www.irasutoya.com/2017/01/blog-post_792.html?page=1",
                            "originService": "独自",
                            "nsfw": false,
                            "artist": {
                              "id": 1,
                              "name": "みふね"
                            },
                            "extension": "png"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "searchArtByCharacter",
        "description": "指定したキャラクターを持つイラスト一覧を取得します",
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchQuerySort"
          },
          {
            "$ref": "#/components/parameters/SearchQueryOrder"
          },
          {
            "$ref": "#/components/parameters/SearchQueryPage"
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "id",
            "description": "キャラID(タグIDと同一)",
            "required": true
          },
          {
            "$ref": "#/components/parameters/SearchQueryMylistAllow"
          }
        ]
      }
    },
    "/search/artist": {
      "get": {
        "summary": "Search by artist",
        "tags": [
          "search"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchGeneralResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 200,
                      "message": "found",
                      "data": {
                        "title": "みふね",
                        "count": 4,
                        "current": 1,
                        "pages": 1,
                        "imgs": [
                          {
                            "illustID": 4,
                            "artistID": 1,
                            "title": "社畜のイラスト",
                            "caption": "会社に飼い慣らされ家畜のように扱われている男性会社員（サラリーマン）、俗にいう社畜のイラストです。",
                            "date": "2021-01-07 14:53:43",
                            "pages": 1,
                            "like": 1,
                            "mylist": 0,
                            "mylisted": false,
                            "originUrl": "?page=1",
                            "originService": "独自",
                            "nsfw": false,
                            "artist": {
                              "id": 1,
                              "name": "みふね"
                            },
                            "extension": "png"
                          },
                          {
                            "illustID": 3,
                            "artistID": 1,
                            "title": "なかなか当たらないガチャのイラスト",
                            "caption": "当たりが出る確率がとても低いガチャガチャを回し続けている人のイラストです。",
                            "date": "2021-01-07 14:51:59",
                            "pages": 1,
                            "like": 1,
                            "mylist": 0,
                            "mylisted": false,
                            "originUrl": "https://www.irasutoya.com/2016/02/blog-post_256.html?page=1",
                            "originService": "独自",
                            "nsfw": false,
                            "artist": {
                              "id": 1,
                              "name": "みふね"
                            },
                            "extension": "png"
                          },
                          {
                            "illustID": 2,
                            "artistID": 1,
                            "title": "単位を落とす学生のイラスト（男性）",
                            "caption": "大学生の男の子が単位を落として焦っているイラストです。",
                            "date": "2021-01-07 12:53:04",
                            "pages": 1,
                            "like": 2,
                            "mylist": 0,
                            "mylisted": false,
                            "originUrl": "https://www.irasutoya.com/2016/10/blog-post_23.html?page=1",
                            "originService": "独自",
                            "nsfw": false,
                            "artist": {
                              "id": 1,
                              "name": "みふね"
                            },
                            "extension": "png"
                          },
                          {
                            "illustID": 1,
                            "artistID": 1,
                            "title": "パソコンのキャラクター（ノートパソコン）(笑顔)",
                            "caption": "快調に動く笑顔のノート型のコンピューターと、壊れて困った顔をしているコンピューターのイラストです。\n",
                            "date": "2021-01-07 12:31:01",
                            "pages": 1,
                            "like": 53,
                            "mylist": 1,
                            "mylisted": false,
                            "originUrl": "https://www.irasutoya.com/2017/01/blog-post_792.html?page=1",
                            "originService": "独自",
                            "nsfw": false,
                            "artist": {
                              "id": 1,
                              "name": "みふね"
                            },
                            "extension": "png"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "searchArtByArtist",
        "description": "指定した絵師のイラスト一覧を取得します",
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchQuerySort"
          },
          {
            "$ref": "#/components/parameters/SearchQueryOrder"
          },
          {
            "$ref": "#/components/parameters/SearchQueryPage"
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "id",
            "description": "絵師ID",
            "required": true
          },
          {
            "$ref": "#/components/parameters/SearchQueryMylistAllow"
          }
        ]
      }
    },
    "/search/keyword": {
      "get": {
        "summary": "Search by keyword",
        "tags": [
          "search"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchGeneralResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 200,
                      "message": "found",
                      "data": {
                        "title": "cafe",
                        "count": 1,
                        "current": 1,
                        "pages": 1,
                        "imgs": [
                          {
                            "illustID": 6,
                            "artistID": 3,
                            "title": "Cafe Image",
                            "caption": "Ready for the breakfast rush to start",
                            "date": "2021-01-07 15:01:01",
                            "pages": 1,
                            "like": 1,
                            "mylist": 0,
                            "mylisted": false,
                            "originUrl": "https://unsplash.com/photos/dwQRixazu9I?page=1",
                            "originService": "独自",
                            "nsfw": false,
                            "artist": {
                              "id": 3,
                              "name": "Andy Falconer"
                            },
                            "extension": "jpg"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "searchArtByKeyword",
        "description": "指定したキーワードを含むイラスト一覧を取得します",
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchQuerySort"
          },
          {
            "$ref": "#/components/parameters/SearchQueryOrder"
          },
          {
            "$ref": "#/components/parameters/SearchQueryPage"
          },
          {
            "schema": {
              "type": "string",
              "example": "cafe"
            },
            "in": "query",
            "name": "keyword",
            "description": "検索対象ワード",
            "required": true
          },
          {
            "$ref": "#/components/parameters/SearchQueryMylistAllow"
          }
        ]
      }
    },
    "/search/all": {
      "get": {
        "summary": "Search all arts",
        "tags": [
          "search"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchGeneralResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 200,
                      "message": "found",
                      "data": {
                        "title": "全て",
                        "count": 8,
                        "current": 1,
                        "pages": 1,
                        "imgs": [
                          {
                            "illustID": 8,
                            "artistID": 5,
                            "title": "tea pours into white teacup photo",
                            "caption": "",
                            "date": "2021-01-07 15:16:58",
                            "pages": 1,
                            "like": 1,
                            "mylist": 0,
                            "mylisted": false,
                            "originUrl": "https://unsplash.com/photos/oBoELXgJR1w?page=1",
                            "originService": "独自",
                            "nsfw": false,
                            "artist": {
                              "id": 5,
                              "name": "CHI CHEN"
                            },
                            "extension": "jpg"
                          },
                          {
                            "illustID": 7,
                            "artistID": 4,
                            "title": "clear glass cup with tea near brown ceramic teapot",
                            "caption": "",
                            "date": "2021-01-07 15:15:28",
                            "pages": 1,
                            "like": 1,
                            "mylist": 1,
                            "mylisted": true,
                            "originUrl": "https://unsplash.com/photos/L82-kkEBOd0?page=1",
                            "originService": "独自",
                            "nsfw": false,
                            "artist": {
                              "id": 4,
                              "name": "Manki Kim"
                            },
                            "extension": "jpg"
                          },
                          {
                            "illustID": 6,
                            "artistID": 3,
                            "title": "Cafe Image",
                            "caption": "Ready for the breakfast rush to start",
                            "date": "2021-01-07 15:01:01",
                            "pages": 1,
                            "like": 1,
                            "mylist": 0,
                            "mylisted": false,
                            "originUrl": "https://unsplash.com/photos/dwQRixazu9I?page=1",
                            "originService": "独自",
                            "nsfw": false,
                            "artist": {
                              "id": 3,
                              "name": "Andy Falconer"
                            },
                            "extension": "jpg"
                          },
                          {
                            "illustID": 5,
                            "artistID": 2,
                            "title": "top view photography of heart latte coffee photo",
                            "caption": "Cappuccino in a bed of fresh roasted coffee beans.",
                            "date": "2021-01-07 14:56:37",
                            "pages": 1,
                            "like": 1,
                            "mylist": 0,
                            "mylisted": false,
                            "originUrl": "https://unsplash.com/photos/XOhI_kW_TaM?page=1",
                            "originService": "独自",
                            "nsfw": false,
                            "artist": {
                              "id": 2,
                              "name": "Nathan Dumlao"
                            },
                            "extension": "jpg"
                          },
                          {
                            "illustID": 4,
                            "artistID": 1,
                            "title": "社畜のイラスト",
                            "caption": "会社に飼い慣らされ家畜のように扱われている男性会社員（サラリーマン）、俗にいう社畜のイラストです。",
                            "date": "2021-01-07 14:53:43",
                            "pages": 1,
                            "like": 1,
                            "mylist": 0,
                            "mylisted": false,
                            "originUrl": "?page=1",
                            "originService": "独自",
                            "nsfw": false,
                            "artist": {
                              "id": 1,
                              "name": "みふね"
                            },
                            "extension": "png"
                          },
                          {
                            "illustID": 3,
                            "artistID": 1,
                            "title": "なかなか当たらないガチャのイラスト",
                            "caption": "当たりが出る確率がとても低いガチャガチャを回し続けている人のイラストです。",
                            "date": "2021-01-07 14:51:59",
                            "pages": 1,
                            "like": 1,
                            "mylist": 0,
                            "mylisted": false,
                            "originUrl": "https://www.irasutoya.com/2016/02/blog-post_256.html?page=1",
                            "originService": "独自",
                            "nsfw": false,
                            "artist": {
                              "id": 1,
                              "name": "みふね"
                            },
                            "extension": "png"
                          },
                          {
                            "illustID": 2,
                            "artistID": 1,
                            "title": "単位を落とす学生のイラスト（男性）",
                            "caption": "大学生の男の子が単位を落として焦っているイラストです。",
                            "date": "2021-01-07 12:53:04",
                            "pages": 1,
                            "like": 2,
                            "mylist": 0,
                            "mylisted": false,
                            "originUrl": "https://www.irasutoya.com/2016/10/blog-post_23.html?page=1",
                            "originService": "独自",
                            "nsfw": false,
                            "artist": {
                              "id": 1,
                              "name": "みふね"
                            },
                            "extension": "png"
                          },
                          {
                            "illustID": 1,
                            "artistID": 1,
                            "title": "パソコンのキャラクター（ノートパソコン）(笑顔)",
                            "caption": "快調に動く笑顔のノート型のコンピューターと、壊れて困った顔をしているコンピューターのイラストです。\n",
                            "date": "2021-01-07 12:31:01",
                            "pages": 1,
                            "like": 53,
                            "mylist": 1,
                            "mylisted": false,
                            "originUrl": "https://www.irasutoya.com/2017/01/blog-post_792.html?page=1",
                            "originService": "独自",
                            "nsfw": false,
                            "artist": {
                              "id": 1,
                              "name": "みふね"
                            },
                            "extension": "png"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "searchArtByAll",
        "description": "登録されたイラスト一覧を取得します",
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchQuerySort"
          },
          {
            "$ref": "#/components/parameters/SearchQueryOrder"
          },
          {
            "$ref": "#/components/parameters/SearchQueryPage"
          },
          {
            "$ref": "#/components/parameters/SearchQueryMylistAllow"
          }
        ]
      }
    },
    "/search/random": {
      "get": {
        "summary": "Search by random",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchGeneralResponse"
                }
              }
            }
          }
        },
        "operationId": "searchArtByRandom",
        "description": "ランダムなイラストを取得します",
        "tags": [
          "search"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchQueryMylistAllow"
          }
        ]
      }
    },
    "/search/image/self": {
      "post": {
        "summary": "Search by image",
        "tags": [
          "search"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchByImageResponse"
                }
              }
            }
          }
        },
        "operationId": "searchArtByImage",
        "description": "画像からごちイラ内に登録されたイラストを検索します",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchByImageRequest"
              }
            }
          }
        }
      },
      "parameters": []
    },
    "/search/image/saucenao": {
      "post": {
        "summary": "Search by image at saucenao",
        "tags": [
          "search"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchByImageAtSauceNaoResponse"
                }
              }
            }
          }
        },
        "operationId": "searchArtByImageUsingSaucenao",
        "description": "画像からSauceNAOに登録されたイラストを検索します",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchByImageRequest"
              }
            }
          }
        }
      }
    },
    "/accounts/me": {
      "get": {
        "summary": "Get user info (self)",
        "tags": [
          "accounts"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAccountMeResponse"
                }
              }
            }
          }
        },
        "operationId": "getSelfAccount",
        "description": "自分自身にまつわる情報をすべて取得します\n通常、ログイン時に一度だけ呼び出されます"
      },
      "parameters": []
    },
    "/accounts/login/form": {
      "post": {
        "summary": "Login with form",
        "tags": [
          "accounts"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginWithFormResponse"
                }
              }
            }
          }
        },
        "operationId": "loginWithForm",
        "description": "IDとパスワードを用いてユーザー認証し、APIトークンを発行します",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginWithFormRequest"
              },
              "examples": {
                "user": {
                  "value": {
                    "id": "test_user",
                    "password": "this_is_only_for_test"
                  }
                },
                "admin": {
                  "value": {
                    "id": "test_admin",
                    "password": "this_is_only_for_test"
                  }
                }
              }
            }
          },
          "description": "ユーザーIDとパスワードをパラメータに取ります"
        }
      }
    },
    "/artists": {
      "post": {
        "summary": "Create artist",
        "operationId": "createArtist",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateArtistResponse"
                }
              }
            }
          }
        },
        "description": "新しい絵師を生成します(イラスト投稿時に存在しなければ自動で作成されるため\n直接操作する必要はありません)",
        "deprecated": true,
        "tags": [
          "artists"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateArtistRequest"
              }
            }
          }
        }
      }
    },
    "/artists/{artistID}": {
      "get": {
        "summary": "Get artist",
        "tags": [
          "artists"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetArtistResponse"
                }
              }
            }
          }
        },
        "operationId": "getArtist",
        "description": "指定した絵師の情報を取得します。存在しない情報欄にはnullが入ります。"
      },
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "artistID",
          "in": "path",
          "required": true,
          "description": "対象の絵師ID"
        }
      ],
      "delete": {
        "summary": "Delete artist",
        "operationId": "deleteArtist",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteArtistResponse"
                }
              }
            }
          }
        },
        "description": "指定した絵師の情報を削除します\n(イラストによって参照されていない場合のみ削除できるため、通常利用機会はありません)",
        "deprecated": true,
        "tags": [
          "artists"
        ]
      },
      "put": {
        "summary": "Edit artist",
        "operationId": "editArtist",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PutArtistResponse"
                }
              }
            }
          }
        },
        "description": "指定した絵師の情報を置き換えます。\nリクエストで指定されたパラメータだけを置き換えます。",
        "tags": [
          "artists"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutArtistRequest"
              }
            }
          },
          "description": ""
        }
      }
    },
    "/arts/{illustID}/replace": {
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "illustID",
          "in": "path",
          "required": true,
          "description": "置き換えしたい(画質が低い方の)イラストID"
        }
      ],
      "put": {
        "summary": "Combine art info",
        "operationId": "replaceArt",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceArtResponse"
                }
              }
            }
          }
        },
        "tags": [
          "arts"
        ],
        "description": "パスパラメータで指定された低画質なイラストに対して\nクエリパラメータで指定されたより画質の良いイラストで統合(置き換え)処理を行います。\n画質が低い方のいいね・タグ・出典・コメントが画質が高い方のイラストに対して統合されます。\n置き換えられた画質が低い方のイラストは検索結果に表示されなくなりますが、IDを直接指定すれば閲覧できる状態で残ります。",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceArtRequest"
              }
            }
          }
        }
      }
    },
    "/arts/{illustID}/tags": {
      "get": {
        "summary": "Get art tags",
        "tags": [
          "arts"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetArtTagsResponse"
                }
              }
            }
          }
        },
        "operationId": "getArtTags",
        "description": "指定したイラストに付いているタグのみを一覧で取得します"
      },
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "illustID",
          "in": "path",
          "required": true,
          "description": "対象のイラストID"
        }
      ],
      "put": {
        "summary": "Edit art tags",
        "operationId": "editArtTags",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PutArtTagsResponse"
                }
              }
            }
          }
        },
        "description": "指定したイラストのタグ一覧に、与えられたIDのタグを追加します\n(イラスト本体の編集時に付けられたタグ名から\n自動的にタグIDを引き出し追加/削除を行う処理が追加されたため\nこちらのエンドポイントを使用する必要はありません)",
        "deprecated": true,
        "tags": [
          "arts"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutArtTagsRequest"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete art tag",
        "operationId": "deleteArtTags",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteArtTagsResponse"
                }
              }
            }
          }
        },
        "description": "指定したイラストのタグ一覧から、与えられたIDのタグを削除します\n(イラスト本体の編集時に付けられたタグ名から\n自動的にタグIDを引き出し追加/削除を行う処理が追加されたため\nこちらのエンドポイントを使用する必要はありません)",
        "deprecated": true,
        "tags": [
          "arts"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteArtTagsRequest"
              }
            }
          }
        }
      }
    },
    "/arts/{illustID}/characters": {
      "get": {
        "summary": "Get art characters",
        "tags": [
          "arts"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetArtChractersResponse"
                }
              }
            }
          }
        },
        "operationId": "getArtCharacters",
        "description": "指定したイラストに付いているキャラクターのみを一覧で取得します"
      },
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "illustID",
          "in": "path",
          "required": true,
          "description": "対象のイラストID"
        }
      ],
      "put": {
        "summary": "Edit art characters",
        "operationId": "editArtCharacters",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PutArtCharactersResponse"
                }
              }
            }
          }
        },
        "description": "指定したイラストのキャラクター一覧に、与えられたIDのキャラクターを追加します\n(イラスト本体の編集時に付けられたキャラクター名から\n自動的にキャラクターIDを引き出し追加/削除を行う処理が追加されたため\nこちらのエンドポイントを使用する必要はありません)",
        "deprecated": true,
        "tags": [
          "arts"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutArtChractersRequest"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete art character",
        "operationId": "deleteArtCharacters",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteArtCharactersResponse"
                }
              }
            }
          }
        },
        "description": "指定したイラストのキャラクター一覧から、与えられたIDのキャラクターを削除します\n(イラスト本体の編集時に付けられたキャラクター名から\n自動的にキャラクターIDを引き出し追加/削除を行う処理が追加されたため\nこちらのエンドポイントを使用する必要はありません)",
        "deprecated": true,
        "tags": [
          "arts"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteArtCharactersRequest"
              }
            }
          }
        }
      }
    },
    "/arts/{illustID}/likes": {
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "illustID",
          "in": "path",
          "required": true,
          "description": "いいねしたいイラストのID"
        }
      ],
      "put": {
        "summary": "Plus art like",
        "operationId": "addArtLike",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PutArtLikesResponse"
                }
              }
            }
          }
        },
        "tags": [
          "arts"
        ],
        "description": "指定したイラストのいいね数を1増加させます\n(いいねの種別を選択できる仕様となったため、このエンドポイントは現在非推奨ですが\n種別を指定するいいねよりも応答が速いため残っています)",
        "deprecated": true
      },
      "get": {
        "summary": "Get art likes",
        "operationId": "getArtLikes",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetArtLikesResponse"
                }
              }
            }
          }
        },
        "description": "指定したイラストのいいね数だけを取得します",
        "tags": [
          "arts"
        ]
      }
    },
    "/arts/{illustID}/likes/{likeType}": {
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "illustID",
          "in": "path",
          "required": true,
          "description": "いいねしたいイラストのID"
        },
        {
          "schema": {
            "type": "integer"
          },
          "name": "likeType",
          "in": "path",
          "required": true,
          "description": "いいね種別 1:黄 2:緑 3:赤 4:青"
        }
      ],
      "put": {
        "summary": "Plus art like (with using star)",
        "operationId": "addArtLikeByStar",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "arts"
        ],
        "description": "指定したイラストのいいね数を1増加させます\nいいねする都度、likeTypeに指定されたスターを消費します\n(ToyMoneyApiに問い合わせを行った上で増加処理を行うため若干時間がかかります)"
      }
    },
    "/arts/{illustID}/views": {
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "illustID",
          "in": "path",
          "required": true,
          "description": "閲覧したイラストのID"
        }
      ],
      "put": {
        "summary": "Plus art view",
        "operationId": "addArtView",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PutArtViewsResponse"
                }
              }
            }
          }
        },
        "tags": [
          "arts"
        ],
        "description": "指定したイラストの閲覧回数を1増加させます\n同一アカウントからのイラスト閲覧は1日1回のみカウントされます"
      },
      "get": {
        "summary": "Get art views",
        "operationId": "getArtViews",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetArtViewsResponse"
                }
              }
            }
          }
        },
        "description": "指定したイラストの閲覧回数のみを取得します",
        "tags": [
          "arts"
        ]
      }
    },
    "/arts/{illustID}/comments": {
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "illustID",
          "in": "path",
          "required": true,
          "description": "対象のイラストID"
        }
      ],
      "get": {
        "summary": "Get art comments",
        "tags": [
          "arts"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetArtCommentsResponse"
                }
              }
            }
          }
        },
        "operationId": "getArtComments",
        "description": "指定したイラストに付いているコメントのみを一覧で取得します"
      },
      "post": {
        "summary": "Add art comment",
        "operationId": "addArtComment",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostArtCommentResponse"
                }
              }
            }
          }
        },
        "description": "指定したイラストにコメントを追加します",
        "tags": [
          "arts"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostArtCommentRequest"
              }
            }
          }
        }
      }
    },
    "/arts/{illustID}/comments/{commentID}": {
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "illustID",
          "in": "path",
          "required": true,
          "description": "対象のイラストID"
        },
        {
          "schema": {
            "type": "integer"
          },
          "name": "commentID",
          "in": "path",
          "required": true,
          "description": "編集したいコメントのID"
        }
      ],
      "put": {
        "summary": "Edit art comment",
        "operationId": "editArtCommentById",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PutArtCommentResponse"
                }
              }
            }
          }
        },
        "tags": [
          "arts"
        ],
        "description": "指定したイラストに付けたコメントを編集します\n(ActivityPubを使用している場合、編集後の内容が再投稿されます)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutArtCommentRequest"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete art comment",
        "operationId": "deleteArtCommentById",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteArtCommentesponse"
                }
              }
            }
          }
        },
        "description": "指定したイラストに付けたコメントを削除します",
        "tags": [
          "arts"
        ]
      },
      "get": {
        "summary": "Get art comment",
        "operationId": "getArtCommentById",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetArtCommentResponse"
                }
              }
            }
          }
        },
        "description": "指定したイラストに付いている、指定されたIDのコメントを取得します",
        "tags": [
          "arts"
        ]
      }
    },
    "/arts": {
      "post": {
        "summary": "Create art",
        "operationId": "addArt",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostArtResponse"
                }
              }
            }
          }
        },
        "tags": [
          "arts"
        ],
        "description": "パラメータで与えられたイラストを投稿します",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostArtRequest"
              }
            }
          }
        }
      }
    },
    "/search/uploaders": {
      "get": {
        "summary": "Search by uploader",
        "tags": [
          "search"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchGeneralResponse"
                }
              }
            }
          }
        },
        "operationId": "searchArtByUploader",
        "description": "指定した投稿者のイラスト一覧を取得します",
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchQuerySort"
          },
          {
            "$ref": "#/components/parameters/SearchQueryOrder"
          },
          {
            "$ref": "#/components/parameters/SearchQueryPage"
          },
          {
            "$ref": "#/components/parameters/SearchQueryMylistAllow"
          }
        ]
      }
    },
    "/catalog/uploaders": {
      "get": {
        "summary": "Get uploader list",
        "tags": [
          "catalog"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCatalogUploaderResponse"
                }
              }
            }
          }
        },
        "operationId": "getUploaderList",
        "description": "投稿者一覧を取得します",
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchQueryPage"
          },
          {
            "$ref": "#/components/parameters/SearchQuerySort"
          },
          {
            "$ref": "#/components/parameters/SearchQueryOrder"
          }
        ]
      }
    },
    "/characters": {
      "post": {
        "summary": "Add character",
        "operationId": "addCharacter",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostCharacterResponse"
                }
              }
            }
          }
        },
        "tags": [
          "characters"
        ],
        "description": "キャラクタータグを作成します",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CharacterStruct"
              },
              "examples": {}
            }
          }
        }
      }
    },
    "/characters/{charaID}": {
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "charaID",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get character",
        "tags": [
          "characters"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCharacterResponse"
                }
              }
            }
          }
        },
        "operationId": "getCharacter",
        "description": "キャラクタータグを取得します\n(内部的にタグ情報と同じです)"
      },
      "put": {
        "summary": "Edit character",
        "operationId": "editCharacter",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PutCharacterResponse"
                }
              }
            }
          }
        },
        "tags": [
          "characters"
        ],
        "description": "キャラクター情報を編集します\n(内部的にタグ情報と同じです)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CharacterStruct"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete character",
        "operationId": "deleteCharacter",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteCharacterResponse"
                }
              }
            }
          }
        },
        "tags": [
          "characters"
        ],
        "description": "キャラクタータグを削除します\n(内部的にタグ情報と同じです)",
        "deprecated": true
      }
    },
    "/invites": {
      "post": {
        "summary": "Create invitation",
        "operationId": "createInvitation",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostInviteResponse"
                }
              }
            }
          }
        },
        "tags": [
          "invites"
        ],
        "description": "招待コードを発行します、一般ユーザーは1人につき1コードまで作成できます。\n管理者はcode/countを指定すると任意のコードを指定数作成できます。",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostInviteRequest"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete invitation",
        "operationId": "deleteInvitation",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteInviteResponse"
                }
              }
            }
          }
        },
        "description": "招待コードを無効化します",
        "tags": [
          "invites"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteInviteRequest"
              }
            }
          }
        }
      }
    },
    "/mutes": {
      "post": {
        "summary": "Add mute",
        "operationId": "addMute",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostMuteResponse"
                }
              }
            }
          }
        },
        "tags": [
          "mutes"
        ],
        "description": "ミュート情報を追加します",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostMuteRequest"
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get mutes",
        "operationId": "getMutes",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMutesResponse"
                }
              }
            }
          }
        },
        "tags": [
          "mutes"
        ],
        "description": "ミュート中の絵師/タグ情報一覧を取得します"
      },
      "delete": {
        "summary": "Remove mute",
        "operationId": "deleteMute",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteMuteResponse"
                }
              }
            }
          }
        },
        "tags": [
          "mutes"
        ],
        "description": "ミュート情報を削除します",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteMuteRequest"
              }
            }
          }
        }
      }
    },
    "/mylist": {
      "post": {
        "summary": "Create mylist",
        "operationId": "createMylist",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMylistResponse"
                }
              }
            }
          }
        },
        "description": "マイリストを作成します\n(現在フロントエンド側に実装がありません)",
        "tags": [
          "mylist"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMylistRequest"
              }
            }
          }
        }
      }
    },
    "/mylist/{mylistID}/finds": {
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "mylistID",
          "in": "path",
          "required": true
        }
      ],
      "post": {
        "summary": "Find arts registered",
        "operationId": "findInMylistByIds",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostMylistFindsResponse"
                }
              }
            }
          }
        },
        "description": "指定したイラスト(単数/複数)がマイリストに含まれているかを判定します\n検索リクエストでwith_mylisted=0としている場合、必要となる可能性があります",
        "tags": [
          "mylist"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostMylistFindsRequest"
              }
            }
          }
        }
      }
    },
    "/news": {
      "post": {
        "summary": "Add news",
        "operationId": "addNews",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostNewsResponse"
                }
              }
            }
          }
        },
        "description": "ニュースを追加します\n(管理者のみリクエストできます)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostNewsRequest"
              }
            }
          }
        },
        "tags": [
          "news"
        ]
      }
    },
    "/notify/clients": {
      "get": {
        "summary": "Get notify clients",
        "tags": [
          "notify"
        ],
        "operationId": "getNotifyClients",
        "description": "現在のユーザーが設定済みの通知クライアント一覧を取得します",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNotifyClientsResponse"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "type",
            "description": "0:全て 1:LineNotify 2:WebPush"
          }
        ]
      },
      "parameters": []
    },
    "/notify/clients/web": {
      "post": {
        "summary": "Register webpush notify client",
        "operationId": "registerWebNotifyClient",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterWebPushResponse"
                }
              }
            }
          }
        },
        "description": "クライアント側で作成したパブリック/プライベートVAPIDキーを\nuserID、クライアント名、通知レベルと共にサーバーのデータベースに登録し\n通知クライアントの1種として保存する(何個でも設定できる)",
        "tags": [
          "notify"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterWebPushRequest"
              }
            }
          },
          "description": ""
        }
      },
      "parameters": []
    },
    "/notify/conditions": {
      "post": {
        "summary": "Register notify condition",
        "operationId": "registerNotifyCondition",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostNotifyConditionResponse"
                }
              }
            }
          }
        },
        "description": "通知条件を追加します",
        "tags": [
          "notify"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostNotifyConditionRequest"
              }
            }
          }
        }
      },
      "parameters": [],
      "get": {
        "summary": "Get notify conditions",
        "operationId": "getNotifyConditions",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNotifyConditionsResponse"
                }
              }
            }
          }
        },
        "description": "通知条件一覧を取得します",
        "tags": [
          "notify"
        ]
      }
    },
    "/notify/clients/line": {
      "post": {
        "summary": "Register line notify client",
        "operationId": "registerLineNotifyClient",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterLineNotifyResponse"
                }
              }
            }
          }
        },
        "description": "\"ユーザー発行の\"LINENotifyのトークンとデバイス名をPOSTして、通知クライアントの一種として保存する。(何個でも設定できる)",
        "tags": [
          "notify"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterLineNotifyRequest"
              }
            }
          }
        }
      },
      "parameters": []
    },
    "/notify/clients/{clientID}": {
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "clientID",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get notify client",
        "tags": [
          "notify"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNotifyClientResponse"
                }
              }
            }
          }
        },
        "operationId": "getNotifyClient",
        "description": "指定した通知クライアント情報を取得します"
      },
      "put": {
        "summary": "Edit notify client",
        "operationId": "editNotifyClient",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PutNotifyClientResponse"
                }
              }
            }
          }
        },
        "description": "指定した通知クライアント情報を編集します",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutNotifyClientRequest"
              }
            }
          }
        },
        "tags": [
          "notify"
        ]
      },
      "delete": {
        "summary": "Delete notify client",
        "operationId": "deleteNotifyClient",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteNotifyClientResponse"
                }
              }
            }
          }
        },
        "description": "指定した通知クライアントを削除します",
        "tags": [
          "notify"
        ]
      }
    },
    "/notify/conditions/{conditionID}": {
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "conditionID",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get notify condition",
        "tags": [
          "notify"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNotifyConditionResponse"
                }
              }
            }
          }
        },
        "operationId": "getNotifyCondition",
        "description": "通知条件を取得します"
      },
      "put": {
        "summary": "Edit notify condition",
        "operationId": "editNotifyCondition",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PutNotifyConditionResponse"
                }
              }
            }
          }
        },
        "tags": [
          "notify"
        ],
        "description": "通知条件を編集します",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotifyConditionStruct"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete notify condition",
        "operationId": "deleteNotifyCondition",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteNotifyConditionResponse"
                }
              }
            }
          }
        },
        "tags": [
          "notify"
        ],
        "description": "通知条件を削除します"
      }
    },
    "/ranking/yearly/views": {
      "get": {
        "summary": "Get yearly views ranking",
        "tags": [
          "ranking"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchGeneralResponse"
                }
              }
            }
          }
        },
        "operationId": "getYearlyViewsRanking",
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchQueryPage"
          },
          {
            "$ref": "#/components/parameters/SearchQueryOrder"
          },
          {
            "$ref": "#/components/parameters/SearchQueryMylistDeny"
          }
        ],
        "description": "年間閲覧数ランキングを取得します"
      }
    },
    "/ranking/yearly/likes": {
      "get": {
        "summary": "Get yearly likes ranking",
        "tags": [
          "ranking"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchGeneralResponse"
                }
              }
            }
          }
        },
        "operationId": "getYearlyLikesRanking",
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchQueryPage"
          },
          {
            "$ref": "#/components/parameters/SearchQueryOrder"
          },
          {
            "$ref": "#/components/parameters/SearchQueryMylistDeny"
          }
        ],
        "description": "年間いいね数ランキングを取得します"
      }
    },
    "/ranking/monthly/views": {
      "get": {
        "summary": "Get monthly views ranking",
        "tags": [
          "ranking"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchGeneralResponse"
                }
              }
            }
          }
        },
        "operationId": "getMonthlyViewsRanking",
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchQueryPage"
          },
          {
            "$ref": "#/components/parameters/SearchQueryOrder"
          },
          {
            "$ref": "#/components/parameters/SearchQueryMylistDeny"
          }
        ],
        "description": "月間閲覧数ランキングを取得します"
      }
    },
    "/ranking/monthly/likes": {
      "get": {
        "summary": "Get monthly likes ranking",
        "tags": [
          "ranking"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchGeneralResponse"
                }
              }
            }
          }
        },
        "operationId": "getMonthlyLikesRanking",
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchQueryPage"
          },
          {
            "$ref": "#/components/parameters/SearchQueryOrder"
          },
          {
            "$ref": "#/components/parameters/SearchQueryMylistDeny"
          }
        ],
        "description": "月間いいね数ランキングを取得します"
      }
    },
    "/ranking/weekly/views": {
      "get": {
        "summary": "Get weekly views ranking",
        "tags": [
          "ranking"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchGeneralResponse"
                }
              }
            }
          }
        },
        "operationId": "getWeeklyViewsRanking",
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchQueryPage"
          },
          {
            "$ref": "#/components/parameters/SearchQueryOrder"
          },
          {
            "$ref": "#/components/parameters/SearchQueryMylistDeny"
          }
        ],
        "description": "週間閲覧数ランキングを取得します"
      }
    },
    "/ranking/weekly/likes": {
      "get": {
        "summary": "Get weekly likes ranking",
        "tags": [
          "ranking"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchGeneralResponse"
                }
              }
            }
          }
        },
        "operationId": "getWeeklyLikesRanking",
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchQueryPage"
          },
          {
            "$ref": "#/components/parameters/SearchQueryOrder"
          },
          {
            "$ref": "#/components/parameters/SearchQueryMylistDeny"
          }
        ],
        "description": "週間いいね数ランキングを取得します"
      }
    },
    "/report/arts/{illustID}": {
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "illustID",
          "in": "path",
          "required": true
        }
      ],
      "post": {
        "summary": "Report art",
        "tags": [
          "report"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportGeneralResponse"
                }
              }
            }
          }
        },
        "operationId": "reportArt",
        "description": "指定したイラストを運営に通報します\nむやみに利用するとアカウントが停止される可能性があります",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportGeneralRequest"
              }
            }
          }
        }
      }
    },
    "/report/tags/{tagID}": {
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "tagID",
          "in": "path",
          "required": true
        }
      ],
      "post": {
        "summary": "Report tag",
        "tags": [
          "report"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportGeneralResponse"
                }
              }
            }
          }
        },
        "operationId": "reportTag",
        "description": "指定したタグを運営に通報します\nむやみに利用するとアカウントが停止される可能性があります",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportGeneralRequest"
              }
            }
          }
        }
      }
    },
    "/report/user/{userID}": {
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "userID",
          "in": "path",
          "required": true
        }
      ],
      "post": {
        "summary": "Report user",
        "tags": [
          "report"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportGeneralResponse"
                }
              }
            }
          }
        },
        "operationId": "reportUser",
        "description": "指定したユーザーを運営に通報します\nむやみに利用するとアカウントが停止される可能性があります",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportGeneralRequest"
              }
            }
          }
        }
      }
    },
    "/report/wiki/{articleID}": {
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "articleID",
          "in": "path",
          "required": true
        }
      ],
      "post": {
        "summary": "Report article",
        "tags": [
          "report"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportGeneralResponse"
                }
              }
            }
          }
        },
        "operationId": "reportArticle",
        "description": "指定した記事を運営に通報します\nむやみに利用するとアカウントが停止される可能性があります",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportGeneralRequest"
              }
            }
          }
        }
      }
    },
    "/scrape": {
      "post": {
        "summary": "Scrape content",
        "operationId": "scrapeContent",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostScrapeResponse"
                }
              }
            }
          }
        },
        "tags": [
          "scrape"
        ],
        "description": "渡されたURLのページ情報をスクレイピングします\nむやみに利用するとアカウントが停止される可能性があります",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostScrapeRequest"
              }
            }
          }
        }
      }
    },
    "/upload": {
      "post": {
        "summary": "Upload content",
        "operationId": "uploadContent",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostUploadResponse"
                }
              }
            }
          }
        },
        "description": "画像や動画を投稿します\nむやみに利用するとアカウントが停止される可能性があります",
        "tags": [
          "upload"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostUploadRequest"
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SearchResult": {
        "title": "SearchResult",
        "type": "object",
        "x-examples": {
          "example-1": {
            "illustID": 0,
            "artistID": 0,
            "title": "string",
            "caption": "string",
            "date": "string",
            "pages": 0,
            "like": 0,
            "mylist": 0,
            "mylisted": true,
            "originUrl": "string",
            "originService": "string",
            "nsfw": false,
            "artist": {
              "name": "string"
            },
            "extension": "string"
          }
        },
        "description": "検索の応答モデル。配列で並んで返される。",
        "properties": {
          "illustID": {
            "type": "integer",
            "description": "イラストID"
          },
          "artistID": {
            "type": "integer",
            "description": "絵師ID(前との互換のために用意、非推奨)"
          },
          "title": {
            "type": "string",
            "minLength": 1,
            "description": "イラスト(作品)名"
          },
          "caption": {
            "type": "string",
            "description": "説明文\nNOTE: 通常出典記載の説明文と同じ物が入る"
          },
          "date": {
            "type": "string",
            "minLength": 19,
            "maxLength": 19,
            "example": "2021-01-07 12:48:42",
            "description": "登録日(%Y-%m-%d %H:%M:%S)"
          },
          "pages": {
            "type": "integer",
            "description": "グループの場合のページ数(未使用)"
          },
          "like": {
            "type": "integer",
            "description": "累計いいね数"
          },
          "mylist": {
            "type": "integer",
            "description": "マイリスト済みのユーザー数"
          },
          "mylisted": {
            "type": "boolean",
            "description": "リクエストしたユーザーがマイリストしているか"
          },
          "originUrl": {
            "type": "string",
            "minLength": 1,
            "description": "出典URL"
          },
          "originService": {
            "type": "string",
            "minLength": 1,
            "description": "出典のサービス名"
          },
          "nsfw": {
            "type": "boolean",
            "description": "アダルトコンテンツか否か"
          },
          "artist": {
            "type": "object",
            "description": "絵師情報",
            "required": [
              "name",
              "id"
            ],
            "properties": {
              "name": {
                "type": "string",
                "minLength": 1,
                "description": "絵師名"
              },
              "id": {
                "type": "integer",
                "description": "絵師のサイト内通し番号"
              }
            }
          },
          "extension": {
            "type": "string",
            "minLength": 1,
            "description": "RAWファイルの拡張子",
            "enum": [
              "png",
              "jpg",
              "jpeg",
              "webp",
              "mp4"
            ],
            "example": "png"
          },
          "similarity": {
            "type": "number",
            "description": "元画像との類似度(画像検索のみ)",
            "minimum": 0,
            "maximum": 1
          }
        },
        "required": [
          "illustID",
          "artistID",
          "title",
          "caption",
          "date",
          "pages",
          "like",
          "mylist",
          "mylisted",
          "originUrl",
          "originService",
          "nsfw",
          "artist",
          "extension"
        ]
      },
      "NewsStruct": {
        "title": "News",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "date": {
            "type": "string",
            "minLength": 1
          },
          "color": {
            "type": "integer"
          },
          "title": {
            "type": "string",
            "minLength": 1
          },
          "body": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "id",
          "date",
          "color",
          "title",
          "body"
        ],
        "description": "サイト内の新着情報モデル。",
        "x-examples": {}
      },
      "NavigationResult": {
        "title": "NavigationResult",
        "type": "object",
        "description": "サイト内上部ナビゲーションのエンドポイントで用いる応答モデル",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 50
          },
          "id": {
            "type": "integer"
          },
          "count": {
            "type": "integer"
          }
        },
        "required": [
          "name",
          "id",
          "count"
        ]
      },
      "PutAccountRequest": {
        "title": "PutAccountRequest",
        "type": "object",
        "x-examples": {
          "example": {
            "userDisplayID": "omado",
            "userName": "お窓",
            "userPassword": "kafuuch1n0",
            "userOldPassword": "h0t0c0c0a",
            "userFavorite": 1,
            "userTheme": 0,
            "userPermission": 0,
            "userLineID": "dosugamea",
            "userTwitterID": "shallow_omado"
          }
        },
        "description": "アカウントの編集に使うリクエスト",
        "properties": {
          "userDisplayID": {
            "type": "string",
            "description": "(Twitterのような)表示IDを指定します。ここで指定したIDがログインに使用されます。英数字のみ入力できます。",
            "example": "omado",
            "maxLength": 20,
            "minLength": 3
          },
          "userName": {
            "type": "string",
            "description": "他のユーザーに表示されるユーザー名/投稿者名",
            "example": "お窓",
            "maxLength": 20,
            "minLength": 1
          },
          "userPassword": {
            "type": "string",
            "description": "新しいパスワードを入力します",
            "example": "kafuuch1n0",
            "format": "password",
            "maxLength": 50,
            "minLength": 8
          },
          "userOldPassword": {
            "type": "string",
            "description": "現時点のパスワードを入力します。\nuserPasswordを変更する場合に必要となります。",
            "example": "h0t0c0c0a",
            "format": "password",
            "maxLength": 50,
            "minLength": 8
          },
          "userFavorite": {
            "type": "integer",
            "description": "ユーザーの推しキャラのIDを選択します",
            "example": 1,
            "format": "int32",
            "maximum": 100,
            "minimum": 0
          },
          "userTheme": {
            "type": "integer",
            "description": "サイト内のテーマ色(もしくはレイアウト?)が変更できることを想定して仮に置かれたものです(未使用)",
            "example": 0,
            "exclusiveMinimum": false,
            "minimum": 0,
            "maximum": 9,
            "format": "int32"
          },
          "userPermission": {
            "type": "integer",
            "description": "ユーザーが持つ権限を指定します、SysOpのみ変更できます。\n0:User 5:Admin 9:Sysop になっています\n(変更されたユーザーは再ログインが必要です)",
            "example": 0,
            "enum": [
              0,
              5,
              9
            ],
            "format": "int32",
            "minimum": 0,
            "maximum": 9
          },
          "userLineID": {
            "type": "string",
            "description": "LINEと連携している場合にユーザーページに表示されることを想定して仮に置かれたものです(未使用)",
            "example": "dosugamea",
            "maxLength": 30
          },
          "userTwitterID": {
            "type": "string",
            "description": "Twitterと連携している場合にユーザーページに表示されることを想定して仮に置かれたものです(未使用)",
            "example": "shallow_omado",
            "maxLength": 30
          }
        }
      },
      "DeleteAccountRequest": {
        "title": "DeleteAccountRequest",
        "type": "object",
        "properties": {
          "password": {
            "type": "string",
            "format": "password",
[...]
