{
  "openapi": "3.0.0",
  "info": {
    "title": "Gochiira Backend API",
    "version": "1.0",
    "contact": {
      "name": "Omado",
      "url": "https://twitter.com/shallow_omado",
      "email": "dsgamer777@gmail.com"
    },
    "termsOfService": "https://illust.gochiusa.team/terms",
    "description": "ごちイラ内でメインに使用されているAPI。\n現在Bot、ガチャ、フロントエンド の 3箇所で使用中。",
    "license": {
      "name": "GPLv3",
      "url": "https://www.gnu.org/licenses/gpl-3.0.ja.html"
    }
  },
  "servers": [
    {
      "url": "https://api.gochiusa.team",
      "description": "Prod"
    },
    {
      "url": "http://127.0.0.1:8080",
      "description": "Dev"
    }
  ],
  "paths": {
    "/accounts/{accountID}": {
      "parameters": [
        {
          "schema": {
            "type": "number"
          },
          "name": "accountID",
          "in": "path",
          "required": true,
          "description": "取得したいユーザーのアカウントID"
        }
      ],
      "get": {
        "summary": "Get user info",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {}
              }
            }
          }
        },
        "operationId": "get-accounts-accountID",
        "description": "ユーザーのアカウント情報を取得します",
        "tags": [
          "accounts"
        ]
      }
    },
    "/accounts/{accountID}/upload_history": {
      "parameters": [
        {
          "schema": {
            "type": "number"
          },
          "name": "accountID",
          "in": "path",
          "required": true,
          "description": "取得したいユーザーのアカウントID"
        }
      ],
      "get": {
        "summary": "Get upload history",
        "tags": [
          "accounts"
        ],
        "responses": {
          "200": {
            "description": "ヒットしたデータが応答のdata->contentsに配列で返却されます",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number"
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string",
                          "minLength": 1
                        },
                        "count": {
                          "type": "number"
                        },
                        "current": {
                          "type": "number"
                        },
                        "pages": {
                          "type": "number"
                        },
                        "contents": {
                          "type": "array",
                          "uniqueItems": true,
                          "minItems": 1,
                          "items": {
                            "required": [
                              "uploadID",
                              "started",
                              "finished",
                              "status",
                              "illustID"
                            ],
                            "properties": {
                              "uploadID": {
                                "type": "number"
                              },
                              "started": {
                                "type": "string",
                                "minLength": 1
                              },
                              "finished": {
                                "type": "string",
                                "minLength": 1
                              },
                              "status": {
                                "type": "number"
                              },
                              "illustID": {
                                "type": "number"
                              }
                            }
                          }
                        }
                      },
                      "required": [
                        "title",
                        "count",
                        "current",
                        "pages",
                        "contents"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 200,
                      "message": "ok",
                      "data": {
                        "title": "アップロード履歴",
                        "count": 2321,
                        "current": 1,
                        "pages": 117,
                        "contents": [
                          {
                            "uploadID": 12045,
                            "started": "2021-02-21 22:24:22",
                            "finished": "2021-02-21 22:24:27",
                            "status": 5,
                            "illustID": 9381
                          },
                          {
                            "uploadID": 12044,
                            "started": "2021-02-21 22:23:41",
                            "finished": "2021-02-21 22:23:45",
                            "status": 5,
                            "illustID": 9380
                          },
                          {
                            "uploadID": 12036,
                            "started": "2021-02-21 20:30:39",
                            "finished": "2021-02-21 20:30:43",
                            "status": 5,
                            "illustID": 9375
                          },
                          {
                            "uploadID": 12004,
                            "started": "2021-02-20 20:20:19",
                            "finished": "2021-02-20 20:20:29",
                            "status": 5,
                            "illustID": 9355
                          },
                          {
                            "uploadID": 12003,
                            "started": "2021-02-20 20:03:30",
                            "finished": "2021-02-20 20:03:46",
                            "status": 5,
                            "illustID": 9354
                          },
                          {
                            "uploadID": 11972,
                            "started": "2021-02-19 21:30:58",
                            "finished": "2021-02-19 21:31:00",
                            "status": 5,
                            "illustID": 9336
                          },
                          {
                            "uploadID": 11971,
                            "started": "2021-02-19 21:30:52",
                            "finished": "2021-02-19 21:30:55",
                            "status": 5,
                            "illustID": 9335
                          },
                          {
                            "uploadID": 11970,
                            "started": "2021-02-19 21:30:46",
                            "finished": "2021-02-19 21:30:49",
                            "status": 5,
                            "illustID": 9334
                          },
                          {
                            "uploadID": 10756,
                            "started": "2021-01-20 03:12:57",
                            "finished": "2021-01-20 03:13:04",
                            "status": 5,
                            "illustID": 8418
                          },
                          {
                            "uploadID": 10755,
                            "started": "2021-01-20 03:09:31",
                            "finished": "2021-01-20 03:09:39",
                            "status": 5,
                            "illustID": 8417
                          },
                          {
                            "uploadID": 10754,
                            "started": "2021-01-20 02:57:00",
                            "finished": "2021-01-20 02:57:09",
                            "status": 5,
                            "illustID": 8416
                          },
                          {
                            "uploadID": 10753,
                            "started": "2021-01-20 02:56:44",
                            "finished": "2021-01-20 02:56:52",
                            "status": 5,
                            "illustID": 8415
                          },
                          {
                            "uploadID": 10663,
                            "started": "2021-01-17 22:21:22",
                            "finished": "2021-01-17 22:21:35",
                            "status": 5,
                            "illustID": 8364
                          },
                          {
                            "uploadID": 10658,
                            "started": "2021-01-17 21:14:02",
                            "finished": "2021-01-17 21:14:06",
                            "status": 5,
                            "illustID": 8360
                          },
                          {
                            "uploadID": 10657,
                            "started": "2021-01-17 21:07:54",
                            "finished": "2021-01-17 21:07:57",
                            "status": 5,
                            "illustID": 8359
                          },
                          {
                            "uploadID": 10656,
                            "started": "2021-01-17 21:07:47",
                            "finished": "2021-01-17 21:07:51",
                            "status": 5,
                            "illustID": 8358
                          },
                          {
                            "uploadID": 10655,
                            "started": "2021-01-17 21:07:41",
                            "finished": "2021-01-17 21:07:43",
                            "status": 5,
                            "illustID": 8357
                          },
                          {
                            "uploadID": 10654,
                            "started": "2021-01-17 21:07:34",
                            "finished": "2021-01-17 21:07:37",
                            "status": 5,
                            "illustID": 8356
                          },
                          {
                            "uploadID": 10653,
                            "started": "2021-01-17 21:07:27",
                            "finished": "2021-01-17 21:07:30",
                            "status": 5,
                            "illustID": 8355
                          },
                          {
                            "uploadID": 10652,
                            "started": "2021-01-17 21:06:35",
                            "finished": "2021-01-17 21:06:39",
                            "status": 5,
                            "illustID": 8354
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-accounts-accountID-upload_history",
        "description": "イラスト投稿履歴を取得します"
      }
    },
    "/accounts/{accountID}/apiKey": {
      "parameters": [
        {
          "schema": {
            "type": "number"
          },
          "name": "accountID",
          "in": "path",
          "required": true,
          "description": "取得したいユーザーのアカウントID"
        }
      ],
      "get": {
        "summary": "Reissue api key",
        "tags": [
          "accounts"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "operationId": "get-accounts-accountID-apiKey",
        "description": "アカウントのログインキーを再生成します"
      }
    },
    "/catalog/artists": {
      "get": {
        "summary": "Get artist list",
        "tags": [
          "catalog"
        ],
        "responses": {
          "200": {
            "description": "ヒットしたデータが応答のdata->contentsに配列で返却されます",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number"
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string",
                          "minLength": 1
                        },
                        "count": {
                          "type": "number"
                        },
                        "current": {
                          "type": "number"
                        },
                        "pages": {
                          "type": "number"
                        },
                        "contents": {
                          "type": "array",
                          "uniqueItems": true,
                          "minItems": 1,
                          "items": {
                            "required": [
                              "id",
                              "name",
                              "endpoint",
                              "count",
                              "lcount"
                            ],
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string",
                                "minLength": 1
                              },
                              "description": {},
                              "group": {},
                              "pixivID": {},
                              "twitterID": {},
                              "mastodon": {},
                              "homepage": {},
                              "endpoint": {
                                "type": "string",
                                "minLength": 1
                              },
                              "count": {
                                "type": "number"
                              },
                              "lcount": {
                                "type": "number"
                              }
                            }
                          }
                        }
                      },
                      "required": [
                        "title",
                        "count",
                        "current",
                        "pages",
                        "contents"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 200,
                      "message": "found",
                      "data": {
                        "title": "絵師",
                        "count": 5,
                        "current": 1,
                        "pages": 1,
                        "contents": [
                          {
                            "id": 5,
                            "name": "CHI CHEN",
                            "description": null,
                            "group": null,
                            "pixivID": null,
                            "twitterID": null,
                            "mastodon": null,
                            "homepage": null,
                            "endpoint": "https://example.com",
                            "count": 1,
                            "lcount": 1
                          },
                          {
                            "id": 4,
                            "name": "Manki Kim",
                            "description": null,
                            "group": null,
                            "pixivID": null,
                            "twitterID": null,
                            "mastodon": null,
                            "homepage": null,
                            "endpoint": "https://example.com",
                            "count": 1,
                            "lcount": 1
                          },
                          {
                            "id": 3,
                            "name": "Andy Falconer",
                            "description": null,
                            "group": null,
                            "pixivID": null,
                            "twitterID": null,
                            "mastodon": null,
                            "homepage": null,
                            "endpoint": "https://example.com",
                            "count": 1,
                            "lcount": 1
                          },
                          {
                            "id": 2,
                            "name": "Nathan Dumlao",
                            "description": null,
                            "group": null,
                            "pixivID": null,
                            "twitterID": null,
                            "mastodon": null,
                            "homepage": null,
                            "endpoint": "https://example.com",
                            "count": 1,
                            "lcount": 1
                          },
                          {
                            "id": 1,
                            "name": "みふね",
                            "description": null,
                            "group": null,
                            "pixivID": null,
                            "twitterID": null,
                            "mastodon": null,
                            "homepage": null,
                            "endpoint": "https://example.com",
                            "count": 4,
                            "lcount": 57
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-catalog-artists",
        "description": "絵師一覧を取得します",
        "parameters": [
          {
            "schema": {
              "type": "number",
              "default": 1,
              "minimum": 1,
              "exclusiveMinimum": true
            },
            "in": "query",
            "name": "page",
            "description": "ページ番号"
          },
          {
            "schema": {
              "type": "string",
              "default": "c",
              "enum": [
                "d",
                "l",
                "c",
                "n"
              ]
            },
            "in": "query",
            "name": "sort",
            "description": "ソート方法 c:ヒット数 d:最終更新 l:いいね数 n:名前"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "d",
                "a"
              ],
              "default": "a"
            },
            "in": "query",
            "name": "order",
            "description": "ソート方向 最大が先頭: \"d\"esc, 最小が先頭:\"a\"sc"
          }
        ]
      },
      "parameters": []
    },
    "/catalog/tags": {
      "get": {
        "summary": "Get tag list",
        "tags": [
          "catalog"
        ],
        "responses": {
          "200": {
            "description": "ヒットしたデータが応答のdata->contentsに配列で返却されます",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number"
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "title",
                        "count",
                        "current",
                        "pages",
                        "contents"
                      ],
                      "properties": {
                        "title": {
                          "type": "string",
                          "minLength": 1
                        },
                        "count": {
                          "type": "number"
                        },
                        "current": {
                          "type": "number"
                        },
                        "pages": {
                          "type": "number"
                        },
                        "contents": {
                          "type": "array",
                          "uniqueItems": true,
                          "minItems": 1,
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string",
                                "minLength": 1
                              },
                              "description": {},
                              "nsfw": {
                                "type": "number"
                              },
                              "endpoint": {},
                              "count": {
                                "type": "number"
                              },
                              "lcount": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "id",
                              "name",
                              "nsfw",
                              "count",
                              "lcount"
                            ]
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 200,
                      "message": "found",
                      "data": {
                        "title": "タグ",
                        "count": 4073,
                        "current": 1,
                        "pages": 204,
                        "contents": [
                          {
                            "id": 4175,
                            "name": "魅惑の脚線美",
                            "description": null,
                            "nsfw": 0,
                            "endpoint": null,
                            "count": 1,
                            "lcount": 0
                          },
                          {
                            "id": 3931,
                            "name": "2021年02月",
                            "description": null,
                            "nsfw": 0,
                            "endpoint": null,
                            "count": 574,
                            "lcount": 172
                          },
                          {
                            "id": 1230,
                            "name": "タイツ越しのパンツ",
                            "description": null,
                            "nsfw": 0,
                            "endpoint": null,
                            "count": 4,
                            "lcount": 10
                          },
                          {
                            "id": 5,
                            "name": "宇治松千夜",
                            "description": "千夜さん",
                            "nsfw": 0,
                            "endpoint": null,
                            "count": 909,
                            "lcount": 925
                          },
                          {
                            "id": 510,
                            "name": "HD",
                            "description": null,
                            "nsfw": 0,
                            "endpoint": null,
                            "count": 1022,
                            "lcount": 745
                          },
                          {
                            "id": 89,
                            "name": "パンツ",
                            "description": null,
                            "nsfw": 0,
                            "endpoint": null,
                            "count": 134,
                            "lcount": 376
                          },
                          {
                            "id": 192,
                            "name": "ぱんつ",
                            "description": null,
                            "nsfw": 0,
                            "endpoint": null,
                            "count": 84,
                            "lcount": 75
                          },
                          {
                            "id": 422,
                            "name": "差分",
                            "description": null,
                            "nsfw": 0,
                            "endpoint": null,
                            "count": 521,
                            "lcount": 279
                          },
                          {
                            "id": 2,
                            "name": "保登心愛",
                            "description": "ココアさん",
                            "nsfw": 0,
                            "endpoint": null,
                            "count": 2140,
                            "lcount": 4543
                          },
                          {
                            "id": 469,
                            "name": "FHD",
                            "description": null,
                            "nsfw": 0,
                            "endpoint": null,
                            "count": 2696,
                            "lcount": 2818
                          },
                          {
                            "id": 1,
                            "name": "香風智乃",
                            "description": "チノちゃん",
                            "nsfw": 0,
                            "endpoint": null,
                            "count": 4366,
                            "lcount": 12920
                          },
                          {
                            "id": 414,
                            "name": "R18",
                            "description": null,
                            "nsfw": 0,
                            "endpoint": null,
                            "count": 1869,
                            "lcount": 681
                          },
                          {
                            "id": 471,
                            "name": "2K",
                            "description": null,
                            "nsfw": 0,
                            "endpoint": null,
                            "count": 1392,
                            "lcount": 1639
                          },
                          {
                            "id": 546,
                            "name": "女の子",
                            "description": null,
                            "nsfw": 0,
                            "endpoint": null,
                            "count": 498,
                            "lcount": 264
                          },
                          {
                            "id": 4174,
                            "name": "eQGMN5bqb8n",
                            "description": null,
                            "nsfw": 0,
                            "endpoint": null,
                            "count": 2,
                            "lcount": 0
                          },
                          {
                            "id": 920,
                            "name": "めぐみ",
                            "description": null,
                            "nsfw": 0,
                            "endpoint": null,
                            "count": 69,
                            "lcount": 6
                          },
                          {
                            "id": 81,
                            "name": "奈津恵",
                            "description": null,
                            "nsfw": 0,
                            "endpoint": null,
                            "count": 689,
                            "lcount": 622
                          },
                          {
                            "id": 4173,
                            "name": "eTH7NS2kKk7",
                            "description": null,
                            "nsfw": 0,
                            "endpoint": null,
                            "count": 2,
                            "lcount": 0
                          },
                          {
                            "id": 2085,
                            "name": "ほとここあ",
                            "description": null,
                            "nsfw": 0,
                            "endpoint": null,
                            "count": 3,
                            "lcount": 0
                          },
                          {
                            "id": 468,
                            "name": "4K",
                            "description": null,
                            "nsfw": 0,
                            "endpoint": null,
                            "count": 3066,
                            "lcount": 2723
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-catalog-tags",
        "description": "タグ一覧を取得します",
        "parameters": [
          {
            "schema": {
              "type": "number",
              "exclusiveMinimum": true,
              "minimum": 1,
              "default": 1
            },
            "in": "query",
            "name": "page",
            "description": "ページ番号"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "c",
                "d",
                "l",
                "n"
              ],
              "default": "c"
            },
            "in": "query",
            "name": "sort",
            "description": "ソート方法 c:ヒット数 d:最終更新 l:いいね数 n:名前"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "d",
                "a"
              ],
              "default": "a"
            },
            "in": "query",
            "name": "order",
            "description": "ソート方向 最大が先頭: \"d\"esc, 最小が先頭:\"a\"sc"
          }
        ]
      },
      "parameters": []
    },
    "/catalog/characters": {
      "get": {
        "summary": "Get character list",
        "tags": [
          "catalog"
        ],
        "responses": {
          "200": {
            "description": "ヒットしたデータが応答のdata->contentsに配列で返却されます",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number"
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string",
                          "minLength": 1
                        },
                        "count": {
                          "type": "number"
                        },
                        "current": {
                          "type": "number"
                        },
                        "pages": {
                          "type": "number"
                        },
                        "contents": {
                          "type": "array",
                          "uniqueItems": true,
                          "minItems": 1,
                          "items": {
                            "required": [
                              "id",
                              "name",
                              "nsfw",
                              "count",
                              "lcount"
                            ],
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string",
                                "minLength": 1
                              },
                              "description": {},
                              "nsfw": {
                                "type": "number"
                              },
                              "count": {
                                "type": "number"
                              },
                              "lcount": {
                                "type": "number"
                              }
                            }
                          }
                        }
                      },
                      "required": [
                        "title",
                        "count",
                        "current",
                        "pages",
                        "contents"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 200,
                      "message": "found",
                      "data": {
                        "title": "キャラ",
                        "count": 1,
                        "current": 1,
                        "pages": 1,
                        "contents": [
                          {
                            "id": 2,
                            "name": "パソコン",
                            "description": null,
                            "nsfw": 0,
                            "count": 1,
                            "lcount": 53
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-catalog-characters",
        "description": "キャラクター一覧を取得します",
        "parameters": [
          {
            "schema": {
              "type": "number",
              "default": 1,
              "minimum": 1,
              "exclusiveMinimum": true
            },
            "in": "query",
            "name": "page",
            "description": "ページ番号"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "c",
                "d",
                "l",
                "n"
              ],
              "default": "c"
            },
            "in": "query",
            "name": "sort",
            "description": "ソート方法 c:ヒット数 d:最終更新 l:いいね数 n:名前"
          },
          {
            "schema": {
              "type": "string",
              "default": "a",
              "enum": [
                "d",
                "a"
              ]
            },
            "in": "query",
            "name": "order",
            "description": "ソート方向 最大が先頭: \"d\"esc, 最小が先頭:\"a\"sc"
          }
        ]
      }
    },
    "/arts/{illustID}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "illustID",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get art info",
        "tags": [
          "arts"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number"
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "illustID",
                        "title",
                        "caption",
                        "date",
                        "pages",
                        "like",
                        "view",
                        "mylist",
                        "mylisted",
                        "originUrl",
                        "originService",
                        "nsfw",
                        "hash",
                        "extension",
                        "user",
                        "status",
                        "width",
                        "height",
                        "filesize",
                        "tag",
                        "chara",
                        "group",
                        "system",
                        "replace",
                        "star"
                      ],
                      "properties": {
                        "illustID": {
                          "type": "number"
                        },
                        "title": {
                          "type": "string",
                          "minLength": 1
                        },
                        "caption": {
                          "type": "string"
                        },
                        "date": {
                          "type": "string",
                          "minLength": 1
                        },
                        "pages": {
                          "type": "number"
                        },
                        "like": {
                          "type": "number"
                        },
                        "view": {
                          "type": "number"
                        },
                        "mylist": {
                          "type": "number"
                        },
                        "mylisted": {
                          "type": "boolean"
                        },
                        "originUrl": {
                          "type": "string",
                          "minLength": 1
                        },
                        "originService": {
                          "type": "string",
                          "minLength": 1
                        },
                        "nsfw": {
                          "type": "number"
                        },
                        "hash": {
                          "type": "number"
                        },
                        "extension": {
                          "type": "string",
                          "minLength": 1
                        },
                        "artist": {
                          "type": "object",
                          "required": [
                            "id",
                            "name"
                          ],
                          "properties": {
                            "id": {
                              "type": "number"
                            },
                            "name": {
                              "type": "string",
                              "minLength": 1
                            }
                          }
                        },
                        "user": {
                          "type": "object",
                          "required": [
                            "id",
                            "name"
                          ],
                          "properties": {
                            "id": {
                              "type": "number"
                            },
                            "name": {
                              "type": "string",
                              "minLength": 1
                            }
                          }
                        },
                        "status": {
                          "type": "number"
                        },
                        "width": {
                          "type": "number"
                        },
                        "height": {
                          "type": "number"
                        },
                        "filesize": {
                          "type": "string",
                          "minLength": 1
                        },
                        "tag": {
                          "type": "array",
                          "uniqueItems": true,
                          "minItems": 1,
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string",
                                "minLength": 1
                              },
                              "nsfw": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "id",
                              "name",
                              "nsfw"
                            ]
                          }
                        },
                        "chara": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "group": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "system": {
                          "type": "array",
                          "uniqueItems": true,
                          "minItems": 1,
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string",
                                "minLength": 1
                              }
                            },
                            "required": [
                              "id",
                              "name"
                            ]
                          }
                        },
                        "replace": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "star": {
                          "type": "object",
                          "required": [
                            "yellow",
                            "green",
                            "red",
                            "blue"
                          ],
                          "properties": {
                            "yellow": {
                              "type": "number"
                            },
                            "green": {
                              "type": "number"
                            },
                            "red": {
                              "type": "number"
                            },
                            "blue": {
                              "type": "number"
                            }
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 200,
                      "data": {
                        "illustID": 8,
                        "title": "tea pours into white teacup photo",
                        "caption": "",
                        "date": "2021-01-07 15:16:58",
                        "pages": 1,
                        "like": 1,
                        "view": 2,
                        "mylist": 0,
                        "mylisted": false,
                        "originUrl": "https://unsplash.com/photos/oBoELXgJR1w?page=1",
                        "originService": "独自",
                        "nsfw": 0,
                        "hash": 12743176166585612000,
                        "extension": "jpg",
                        "artist": {
                          "id": 5,
                          "name": "CHI CHEN"
                        },
                        "user": {
                          "id": 2,
                          "name": "ドマオーさん"
                        },
                        "status": 0,
                        "width": 3333,
                        "height": 4391,
                        "filesize": "491K",
                        "tag": [
                          {
                            "id": 21,
                            "name": "ティーカップ",
                            "nsfw": 0
                          },
                          {
                            "id": 20,
                            "name": "紅茶",
                            "nsfw": 0
                          },
                          {
                            "id": 18,
                            "name": "カフェ",
                            "nsfw": 0
                          }
                        ],
                        "chara": [],
                        "group": [],
                        "system": [
                          {
                            "id": 4,
                            "name": "2021年01月"
                          },
                          {
                            "id": 17,
                            "name": "4K"
                          }
                        ],
                        "replace": [],
                        "star": {
                          "yellow": 1,
                          "green": 0,
                          "blue": 0,
                          "red": 0
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-arts-artID",
        "description": "指定したイラストを取得します"
      }
    },
    "/navigations/characters": {
      "get": {
        "summary": "Get character navigation tab (for site)",
        "tags": [
          "navigations"
        ],
        "responses": {
          "200": {
            "description": "応答のdataに配列で返却されます",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number"
                    },
                    "data": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "required": [
                          "name",
                          "id",
                          "count"
                        ],
                        "properties": {
                          "name": {
                            "type": "string",
                            "minLength": 1
                          },
                          "id": {
                            "type": "number"
                          },
                          "count": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 200,
                      "data": [
                        {
                          "name": "香風智乃",
                          "id": 1,
                          "count": 4366
                        },
                        {
                          "name": "保登心愛",
                          "id": 2,
                          "count": 2140
                        },
                        {
                          "name": "桐間紗路",
                          "id": 4,
                          "count": 1183
                        },
                        {
                          "name": "天々座理世",
                          "id": 3,
                          "count": 1140
                        },
                        {
                          "name": "宇治松千夜",
                          "id": 5,
                          "count": 909
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-navigations-characters",
        "description": "イラスト数の多いキャラクター上位5件を取得します"
      }
    },
    "/navigations/artists": {
      "get": {
        "summary": "Get artist navigation tab (for site)",
        "tags": [
          "navigations"
        ],
        "responses": {
          "200": {
            "description": "応答のdataに配列で返却されます",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number"
                    },
                    "data": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "required": [
                          "name",
                          "id",
                          "count"
                        ],
                        "properties": {
                          "name": {
                            "type": "string",
                            "minLength": 1
                          },
                          "id": {
                            "type": "number"
                          },
                          "count": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 200,
                      "data": [
                        {
                          "name": "ごちシコ",
                          "id": 413,
                          "count": 129
                        },
                        {
                          "name": "きゅんもふ",
                          "id": 88,
                          "count": 92
                        },
                        {
                          "name": "KS",
                          "id": 146,
                          "count": 86
                        },
                        {
                          "name": "りかたん☆",
                          "id": 548,
                          "count": 83
                        },
                        {
                          "name": "きよ蔵",
                          "id": 71,
                          "count": 80
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-navigations-artists",
        "description": "イラスト数の多い絵師上位5件を取得します"
      }
    },
    "/navigations/tags": {
      "get": {
        "summary": "Get tag navigation tab (for site)",
        "tags": [
          "navigations"
        ],
        "responses": {
          "200": {
            "description": "応答のdataに配列で返却されます",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number"
                    },
                    "data": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "required": [
                          "name",
                          "id",
                          "count"
                        ],
                        "properties": {
                          "name": {
                            "type": "string",
                            "minLength": 1
                          },
                          "id": {
                            "type": "number"
                          },
                          "count": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 200,
                      "data": [
                        {
                          "name": "2020年12月",
                          "id": 2973,
                          "count": 1580
                        },
                        {
                          "name": "2020年10月",
                          "id": 1793,
                          "count": 1536
                        },
                        {
                          "name": "2020年11月",
                          "id": 2429,
                          "count": 1324
                        },
                        {
                          "name": "2021年01月",
                          "id": 3529,
                          "count": 874
                        },
                        {
                          "name": "2021年02月",
                          "id": 3931,
                          "count": 574
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-navigations-tags",
        "description": "イラスト数の多いタグ上位5件を取得します"
      }
    },
    "/news/list": {
      "get": {
        "summary": "Get news list",
        "tags": [
          "news"
        ],
        "responses": {
          "200": {
            "description": "応答のdataに配列で返却されます",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number"
                    },
                    "data": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "required": [
                          "id",
                          "date",
                          "color",
                          "title",
                          "body"
                        ],
                        "properties": {
                          "id": {
                            "type": "number"
                          },
                          "date": {
                            "type": "string",
                            "minLength": 1
                          },
                          "color": {
                            "type": "number"
                          },
                          "title": {
                            "type": "string",
                            "minLength": 1
                          },
                          "body": {
                            "type": "string",
                            "minLength": 1
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 200,
                      "data": [
                        {
                          "id": 3,
                          "date": "2021-01-07 15:31:24",
                          "color": 0,
                          "title": "記載中の画像について / About these arts",
                          "body": "これらの画像は素材配布としての意図はなく、サイトの機能検証の"
                        },
                        {
                          "id": 2,
                          "date": "2021-01-07 15:25:14",
                          "color": 0,
                          "title": "デモ版の仕様 / Limitations of demo",
                          "body": "通知機能は動作しません。 Notification feat"
                        },
                        {
                          "id": 1,
                          "date": "2021-01-07 15:21:06",
                          "color": 4,
                          "title": "既知のバグ Known bugs",
                          "body": "ログイン済み状態でトップページをリロードすると真っ白になりま"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-news-list",
        "description": "ニュース一覧を取得します"
      }
    },
    "/news/{newsID}": {
      "parameters": [
        {
          "schema": {
            "type": "number",
            "minimum": 1,
            "exclusiveMinimum": true
          },
          "name": "newsID",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get news",
        "tags": [
          "news"
        ],
        "responses": {
          "200": {
            "description": "応答のdataに返却されます",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "number"
                        },
                        "date": {
                          "type": "string",
                          "minLength": 1
                        },
                        "color": {
                          "type": "number"
                        },
                        "title": {
                          "type": "string",
                          "minLength": 1
                        },
                        "body": {
                          "type": "string",
                          "minLength": 1
                        }
                      },
                      "required": [
                        "id",
                        "date",
                        "color",
                        "title",
                        "body"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 200,
                      "data": {
                        "id": 3,
                        "date": "2021-01-07 15:31:24",
                        "color": 0,
                        "title": "記載中の画像について / About these arts",
                        "body": "これらの画像は素材配布としての意図はなく、サイトの機能検証のためのものです。素材をお求めの場合はhttps://unsplash.com または https://www.irasutoya.com に直接アクセスしてください。 These arts are for feature-test purpose only. You can get free images on https://unsplash.com or https://www.irasutoya.com."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-news-newsID",
        "description": "指定したニュースの内容を取得します"
      }
    },
    "/mylist/{mylistID}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "mylistID",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get mylist data",
        "tags": [
          "mylist"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number"
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string",
                          "minLength": 1
                        },
                        "count": {
                          "type": "number"
                        },
                        "current": {
                          "type": "number"
                        },
                        "pages": {
                          "type": "number"
                        },
                        "imgs": {
                          "type": "array",
                          "uniqueItems": true,
                          "minItems": 1,
                          "items": {
                            "required": [
                              "illustID",
                              "artistID",
                              "title",
                              "caption",
                              "date",
                              "pages",
                              "like",
                              "mylist",
                              "mylisted",
                              "originUrl",
                              "originService",
                              "nsfw",
                              "extension"
                            ],
                            "properties": {
                              "illustID": {
                                "type": "number"
                              },
                              "artistID": {
                                "type": "number"
                              },
                              "title": {
                                "type": "string",
                                "minLength": 1
                              },
                              "caption": {
                                "type": "string"
                              },
                              "date": {
                                "type": "string",
                                "minLength": 1
                              },
                              "pages": {
                                "type": "number"
                              },
                              "like": {
                                "type": "number"
                              },
                              "mylist": {
                                "type": "number"
                              },
                              "mylisted": {
                                "type": "boolean"
                              },
                              "originUrl": {
                                "type": "string",
                                "minLength": 1
                              },
                              "originService": {
                                "type": "string",
                                "minLength": 1
                              },
                              "nsfw": {
                                "type": "number"
                              },
                              "artist": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "minLength": 1
                                  }
                                },
                                "required": [
                                  "name"
                                ]
                              },
                              "extension": {
                                "type": "string",
                                "minLength": 1
                              }
                            }
                          }
                        }
                      },
                      "required": [
                        "title",
                        "count",
                        "current",
                        "pages",
                        "imgs"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 200,
                      "message": "ok",
                      "data": {
                        "title": "Testのマイリスト",
                        "count": 1,
                        "current": 1,
                        "pages": 1,
                        "imgs": [
                          {
                            "illustID": 7,
                            "artistID": 4,
                            "title": "clear glass cup with tea near brown ceramic teapot",
                            "caption": "",
                            "date": "2021-01-07 15:15:28",
                            "pages": 1,
                            "like": 1,
                            "mylist": 1,
                            "mylisted": true,
                            "originUrl": "https://unsplash.com/photos/L82-kkEBOd0?page=1",
                            "originService": "独自",
                            "nsfw": 0,
                            "artist": {
                              "name": "Manki Kim"
                            },
                            "extension": "jpg"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-mylist-mylistID",
        "description": "指定したマイリストに登録されたイラスト一覧を取得します"
      }
    },
    "/mylist/list": {
      "get": {
        "summary": "Get mylist list",
        "tags": [
          "mylist"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "operationId": "get-mylist-list",
        "description": "自分の作成したマイリスト一覧を取得します\n(現在1人辺り1マイリストしか作成できないのでこのエンドポイントは無意味です)",
        "deprecated": true
      }
    },
    "/search/tag": {
      "get": {
        "summary": "Search by tag",
        "tags": [
          "search"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number"
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string",
                          "minLength": 1
                        },
                        "count": {
                          "type": "number"
                        },
                        "current": {
                          "type": "number"
                        },
                        "pages": {
                          "type": "number"
                        },
                        "imgs": {
                          "type": "array",
                          "uniqueItems": true,
                          "minItems": 1,
                          "items": {
                            "required": [
                              "illustID",
                              "artistID",
                              "title",
                              "caption",
                              "date",
                              "pages",
                              "like",
                              "mylist",
                              "mylisted",
                              "originUrl",
                              "originService",
                              "nsfw",
                              "extension"
                            ],
                            "properties": {
                              "illustID": {
                                "type": "number"
                              },
                              "artistID": {
                                "type": "number"
                              },
                              "title": {
                                "type": "string",
                                "minLength": 1
                              },
                              "caption": {
                                "type": "string"
                              },
                              "date": {
                                "type": "string",
                                "minLength": 1
                              },
                              "pages": {
                                "type": "number"
                              },
                              "like": {
                                "type": "number"
                              },
                              "mylist": {
                                "type": "number"
                              },
                              "mylisted": {
                                "type": "boolean"
                              },
                              "originUrl": {
                                "type": "string",
                                "minLength": 1
                              },
                              "originService": {
                                "type": "string",
                                "minLength": 1
                              },
                              "nsfw": {
                                "type": "number"
                              },
                              "artist": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "minLength": 1
                                  }
                                },
                                "required": [
                                  "name"
                                ]
                              },
                              "extension": {
                                "type": "string",
                                "minLength": 1
                              }
                            }
                          }
                        }
                      },
                      "required": [
                        "title",
                        "count",
                        "current",
                        "pages",
                        "imgs"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 200,
                      "message": "found",
                      "data": {
                        "title": "ティーカップ",
                        "count": 2,
                        "current": 1,
                        "pages": 1,
                        "imgs": [
                          {
                            "illustID": 8,
                            "artistID": 5,
                            "title": "tea pours into white teacup photo",
                            "caption": "",
                            "date": "2021-01-07 15:16:58",
                            "pages": 1,
                            "like": 1,
                            "mylist": 0,
                            "mylisted": false,
                            "originUrl": "https://unsplash.com/photos/oBoELXgJR1w?page=1",
                            "originService": "独自",
                            "nsfw": 0,
                            "artist": {
                              "name": "CHI CHEN"
                            },
                            "extension": "jpg"
                          },
                          {
                            "illustID": 7,
                            "artistID": 4,
                            "title": "clear glass cup with tea near brown ceramic teapot",
                            "caption": "",
                            "date": "2021-01-07 15:15:28",
                            "pages": 1,
                            "like": 1,
                            "mylist": 1,
                            "mylisted": true,
                            "originUrl": "https://unsplash.com/photos/L82-kkEBOd0?page=1",
                            "originService": "独自",
                            "nsfw": 0,
                            "artist": {
                              "name": "Manki Kim"
                            },
                            "extension": "jpg"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-search-tag",
        "description": "指定したタグを持つイラスト一覧を取得します",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "l",
                "d"
              ],
              "default": "d"
            },
            "in": "query",
            "name": "sort",
            "description": "ソート方法 l:いいね数順 d:投稿日順"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "d",
                "a"
              ],
              "default": "d"
            },
            "in": "query",
            "name": "order",
            "description": "ソート方向 d:降順 a:昇順"
          },
          {
            "schema": {
              "type": "number",
              "minimum": 1,
              "exclusiveMinimum": true
            },
            "in": "query",
            "name": "page",
            "description": "ページ番号"
          },
          {
            "schema": {
              "type": "number"
            },
            "in": "query",
            "name": "id",
            "description": "タグID",
            "required": true
          }
        ]
      }
    },
    "/search/character": {
      "get": {
        "summary": "Search by character",
        "tags": [
          "search"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number"
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string",
                          "minLength": 1
                        },
                        "count": {
                          "type": "number"
                        },
                        "current": {
                          "type": "number"
                        },
                        "pages": {
                          "type": "number"
                        },
                        "imgs": {
                          "type": "array",
                          "uniqueItems": true,
                          "minItems": 1,
                          "items": {
                            "required": [
                              "illustID",
                              "artistID",
                              "title",
                              "caption",
                              "date",
                              "pages",
                              "like",
                              "mylist",
                              "mylisted",
                              "originUrl",
                              "originService",
                              "nsfw",
                              "extension"
                            ],
                            "properties": {
                              "illustID": {
                                "type": "number"
                              },
                              "artistID": {
                                "type": "number"
                              },
                              "title": {
                                "type": "string",
                                "minLength": 1
                              },
                              "caption": {
                                "type": "string",
                                "minLength": 1
                              },
                              "date": {
                                "type": "string",
                                "minLength": 1
                              },
                              "pages": {
                                "type": "number"
                              },
                              "like": {
                                "type": "number"
                              },
                              "mylist": {
                                "type": "number"
                              },
                              "mylisted": {
                                "type": "boolean"
                              },
                              "originUrl": {
                                "type": "string",
                                "minLength": 1
                              },
                              "originService": {
                                "type": "string",
                                "minLength": 1
                              },
                              "nsfw": {
                                "type": "number"
                              },
                              "artist": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "minLength": 1
                                  }
                                },
                                "required": [
                                  "name"
                                ]
                              },
                              "extension": {
                                "type": "string",
                                "minLength": 1
                              }
                            }
                          }
                        }
                      },
                      "required": [
                        "title",
                        "count",
                        "current",
                        "pages",
                        "imgs"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 200,
                      "message": "found",
                      "data": {
                        "title": "パソコン",
                        "count": 1,
                        "current": 1,
                        "pages": 1,
                        "imgs": [
                          {
                            "illustID": 1,
                            "artistID": 1,
                            "title": "パソコンのキャラクター（ノートパソコン）(笑顔)",
                            "caption": "快調に動く笑顔のノート型のコンピューターと、壊れて困った顔をしているコンピューターのイラストです。\n",
                            "date": "2021-01-07 12:31:01",
                            "pages": 1,
                            "like": 53,
                            "mylist": 1,
                            "mylisted": false,
                            "originUrl": "https://www.irasutoya.com/2017/01/blog-post_792.html?page=1",
                            "originService": "独自",
                            "nsfw": 0,
                            "artist": {
                              "name": "みふね"
                            },
                            "extension": "png"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-search-character",
        "description": "指定したキャラクターを持つイラスト一覧を取得します",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "l",
                "d"
              ],
              "default": "d"
            },
            "in": "query",
            "name": "sort",
            "description": "ソート方法 l:いいね数順 d:投稿日順"
          },
          {
            "schema": {
              "type": "string",
              "default": "d",
              "enum": [
                "d",
                "a"
              ]
            },
            "in": "query",
            "name": "order",
            "description": "ソート方向 d:降順 a:昇順"
          },
          {
            "schema": {
              "type": "number",
              "minimum": 1,
              "exclusiveMinimum": true
            },
            "in": "query",
            "name": "page",
            "description": "ページ番号"
          },
          {
            "schema": {
              "type": "number"
            },
            "in": "query",
            "name": "id",
            "description": "キャラID(タグIDと同一)",
            "required": true
          }
        ]
      }
    },
    "/search/artist": {
      "get": {
        "summary": "Search by artist",
        "tags": [
          "search"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number"
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string",
                          "minLength": 1
                        },
                        "count": {
                          "type": "number"
                        },
                        "current": {
                          "type": "number"
                        },
                        "pages": {
                          "type": "number"
                        },
                        "imgs": {
                          "type": "array",
                          "uniqueItems": true,
                          "minItems": 1,
                          "items": {
                            "required": [
                              "illustID",
                              "artistID",
                              "title",
                              "caption",
                              "date",
                              "pages",
                              "like",
                              "mylist",
                              "mylisted",
                              "originUrl",
                              "originService",
                              "nsfw",
                              "extension"
                            ],
                            "properties": {
                              "illustID": {
                                "type": "number"
                              },
                              "artistID": {
                                "type": "number"
                              },
                              "title": {
                                "type": "string",
                                "minLength": 1
                              },
                              "caption": {
                                "type": "string",
                                "minLength": 1
                              },
                              "date": {
                                "type": "string",
                                "minLength": 1
                              },
                              "pages": {
                                "type": "number"
                              },
                              "like": {
                                "type": "number"
                              },
                              "mylist": {
                                "type": "number"
                              },
                              "mylisted": {
                                "type": "boolean"
                              },
                              "originUrl": {
                                "type": "string",
                                "minLength": 1
                              },
                              "originService": {
                                "type": "string",
                                "minLength": 1
                              },
                              "nsfw": {
                                "type": "number"
                              },
                              "artist": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "minLength": 1
                                  }
                                },
                                "required": [
                                  "name"
                                ]
                              },
                              "extension": {
                                "type": "string",
                                "minLength": 1
                              }
                            }
                          }
                        }
                      },
                      "required": [
                        "title",
                        "count",
                        "current",
                        "pages",
                        "imgs"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 200,
                      "message": "found",
                      "data": {
                        "title": "みふね",
                        "count": 4,
                        "current": 1,
                        "pages": 1,
                        "imgs": [
                          {
                            "illustID": 4,
                            "artistID": 1,
                            "title": "社畜のイラスト",
                            "caption": "会社に飼い慣らされ家畜のように扱われている男性会社員（サラリーマン）、俗にいう社畜のイラストです。",
                            "date": "2021-01-07 14:53:43",
                            "pages": 1,
                            "like": 1,
                            "mylist": 0,
                            "mylisted": false,
                            "originUrl": "?page=1",
                            "originService": "独自",
                            "nsfw": 0,
                            "artist": {
                              "name": "みふね"
                            },
                            "extension": "png"
                          },
                          {
                            "illustID": 3,
                            "artistID": 1,
                            "title": "なかなか当たらないガチャのイラスト",
                            "caption": "当たりが出る確率がとても低いガチャガチャを回し続けている人のイラストです。",
                            "date": "2021-01-07 14:51:59",
                            "pages": 1,
                            "like": 1,
                            "mylist": 0,
                            "mylisted": false,
                            "originUrl": "https://www.irasutoya.com/2016/02/blog-post_256.html?page=1",
                            "originService": "独自",
                            "nsfw": 0,
                            "artist": {
                              "name": "みふね"
                            },
                            "extension": "png"
                          },
                          {
                            "illustID": 2,
                            "artistID": 1,
                            "title": "単位を落とす学生のイラスト（男性）",
                            "caption": "大学生の男の子が単位を落として焦っているイラストです。",
                            "date": "2021-01-07 12:53:04",
                            "pages": 1,
                            "like": 2,
                            "mylist": 0,
                            "mylisted": false,
                            "originUrl": "https://www.irasutoya.com/2016/10/blog-post_23.html?page=1",
                            "originService": "独自",
                            "nsfw": 0,
                            "artist": {
                              "name": "みふね"
                            },
                            "extension": "png"
                          },
                          {
                            "illustID": 1,
                            "artistID": 1,
                            "title": "パソコンのキャラクター（ノートパソコン）(笑顔)",
                            "caption": "快調に動く笑顔のノート型のコンピューターと、壊れて困った顔をしているコンピューターのイラストです。\n",
                            "date": "2021-01-07 12:31:01",
                            "pages": 1,
                            "like": 53,
                            "mylist": 1,
                            "mylisted": false,
                            "originUrl": "https://www.irasutoya.com/2017/01/blog-post_792.html?page=1",
                            "originService": "独自",
                            "nsfw": 0,
                            "artist": {
                              "name": "みふね"
                            },
                            "extension": "png"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get-search-artist",
        "description": "指定した絵師のイラスト一覧を取得します",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "l",
                "d"
              ],
              "default": "d"
            },
            "in": "query",
            "name": "sort",
            "description": "ソート方法 l:いいね数順 d:投稿日順"
          },
          {
            "schema": {
              "type": "string",
              "default": "d",
              "enum": [
                "d",
                "a"
              ]
            },
            "in": "query",
            "name": "order",
            "description": "ソート方向 d:降順 a:昇順"
          },
          {
            "schema": {
              "type": "number",
              "minimum": 1,
              "exclusiveMinimum": true
            },
            "in": "query",
            "name": "page",
            "description": "ページ番号"
          },
          {
            "schema": {
              "type": "number"
            },
            "in": "query",
            "name": "id",
            "description": "絵師ID",
            "required": true
          }
        ]
      }
    },
    "/search/keyword": {
      "get": {
        "summary": "Search by keyword",
        "tags": [
          "search"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number"
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string",
                          "minLength": 1
                        },
                        "count": {
                          "type": "number"
                        },
                        "current": {
                          "type": "number"
                        },
                        "pages": {
                          "type": "number"
                        },
                        "imgs": {
                          "type": "array",
                          "uniqueItems": true,
                          "minItems": 1,
                          "items": {
                            "required": [
                              "illustID",
                              "artistID",
                              "title",
                              "caption",
                              "date",
                              "pages",
                              "like",
                              "mylist",
                              "mylisted",
                              "originUrl",
                              "originService",
                              "nsfw",
                              "extension"
                            ],
                            "properties": {
                              "illustID": {
                                "type": "number"
                              },
                              "artistID": {
                                "type": "number"
                              },
                              "title": {
                                "type": "string",
                                "minLength": 1
                              },
                              "caption": {
                                "type": "string",
                                "minLength": 1
                              },
                              "date": {
                                "type": "string",
                                "minLength": 1
                              },
                              "pages": {
                                "type": "number"
                              },
                              "like": {
                                "type": "number"
                              },
                              "mylist": {
                                "type": "number"
                              },
                              "mylisted": {
                                "type": "boolean"
                              },
                              "originUrl": {
                                "type": "string",
                                "minLength": 1
                              },
                              "originService": {
                                "type": "string",
                                "minLength": 1
                              },
                              "nsfw": {
                                "type": "number"
                              },
                              "artist": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
[...]
