{
  "openapi": "3.0.0",
  "info": {
    "title": "Gochiira Backend API",
    "version": "1.0",
    "contact": {
      "name": "Omado",
      "url": "https://twitter.com/shallow_omado",
      "email": "dsgamer777@gmail.com"
    },
    "termsOfService": "https://illust.gochiusa.team/terms",
    "description": "ごちイラ内でメインに使用されているAPI。\n現在Bot、ガチャ、フロントエンド の 3箇所で使用中。",
    "license": {
      "name": "GPLv3",
      "url": "https://www.gnu.org/licenses/gpl-3.0.ja.html"
    }
  },
  "servers": [
    {
      "url": "https://api.gochiusa.team",
      "description": "Prod"
    },
    {
      "url": "http://127.0.0.1:8080",
      "description": "Dev"
    }
  ],
  "paths": {
    "/accounts/{accountID}": {
      "parameters": [
        {
          "schema": {
            "type": "number"
          },
          "name": "accountID",
          "in": "path",
          "required": true,
          "description": "取得したいユーザーのアカウントID"
        }
      ],
      "get": {
        "summary": "Get user info",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAccountResponse"
                }
              }
            }
          }
        },
        "operationId": "getAccount",
        "description": "ユーザーのアカウント情報を取得します",
        "tags": [
          "accounts"
        ]
      },
      "put": {
        "summary": "Edit user info",
        "operationId": "editAccount",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PutAccountResponse"
                },
                "examples": {}
              }
            }
          }
        },
        "tags": [
          "accounts"
        ],
        "description": "アカウント情報を編集します\n(本人または管理者のみがリクエストできます)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutAccountRequest"
              },
              "examples": {
                "example": {
                  "value": {
                    "userDisplayID": "omado",
                    "userName": "お窓",
                    "userPassword": "kafuuch1n0",
                    "userOldPassword": "h0t0c0c0a",
                    "userFavorite": 1,
                    "userTheme": 0,
                    "userPermission": 0,
                    "userLineID": "dosugamea",
                    "userTwitterID": "shallow_omado"
                  }
                }
              }
            }
          },
          "description": "ユーザー本人、もしくは管理者のみデータを変更できます\n変更したいカラムを与え、値に変更後の値を与えると変更できます\nパスワードを変更する場合のみ、例外的に現在のパスワードが要求されます"
        }
      },
      "delete": {
        "summary": "Delete user info",
        "operationId": "deleteAccount",
        "description": "アカウントを削除します\n(本人または管理者のみがリクエストできます)",
        "tags": [
          "accounts"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteAccountRequest"
              }
            }
          },
          "description": "危険な操作のため、パスワードが必要になります"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteAccountResponse"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountID}/upload_history": {
      "parameters": [
        {
          "schema": {
            "type": "number"
          },
          "name": "accountID",
          "in": "path",
          "required": true,
          "description": "取得したいユーザーのアカウントID"
        }
      ],
      "get": {
        "summary": "Get upload history",
        "tags": [
          "accounts"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUploadHistoryResponse"
                }
              }
            }
          }
        },
        "operationId": "getUploadHistory",
        "description": "イラスト投稿履歴を取得します",
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchQueryPage"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "d"
              ],
              "example": "d",
              "minLength": 1,
              "maxLength": 1
            },
            "in": "query",
            "name": "sort",
            "description": "ソート方法 d:最終更新"
          },
          {
            "$ref": "#/components/parameters/SearchQueryOrder"
          }
        ]
      }
    },
    "/accounts/{accountID}/reissue_token": {
      "parameters": [
        {
          "schema": {
            "type": "number"
          },
          "name": "accountID",
          "in": "path",
          "required": true,
          "description": "取得したいユーザーのアカウントID"
        }
      ],
      "post": {
        "summary": "Reissue api key",
        "operationId": "reissueToken",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostReissueTokenResponse"
                }
              }
            }
          }
        },
        "description": "アカウントのログインキーを再生成します",
        "tags": [
          "accounts"
        ]
      }
    },
    "/catalog/artists": {
      "get": {
        "summary": "Get artist list",
        "tags": [
          "catalog"
        ],
        "responses": {
          "200": {
            "description": "ヒットしたデータが応答のdata->contentsに配列で返却されます",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number"
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string",
                          "minLength": 1
                        },
                        "count": {
                          "type": "number"
                        },
                        "current": {
                          "type": "number"
                        },
                        "pages": {
                          "type": "number"
                        },
                        "contents": {
                          "type": "array",
                          "uniqueItems": true,
                          "minItems": 1,
                          "items": {
                            "required": [
                              "id",
                              "name",
                              "endpoint",
                              "count",
                              "lcount"
                            ],
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string",
                                "minLength": 1
                              },
                              "description": {},
                              "group": {},
                              "pixivID": {},
                              "twitterID": {},
                              "mastodon": {},
                              "homepage": {},
                              "endpoint": {
                                "type": "string",
                                "minLength": 1
                              },
                              "count": {
                                "type": "number"
                              },
                              "lcount": {
                                "type": "number"
                              }
                            }
                          }
                        }
                      },
                      "required": [
                        "title",
                        "count",
                        "current",
                        "pages",
                        "contents"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 200,
                      "message": "found",
                      "data": {
                        "title": "絵師",
                        "count": 5,
                        "current": 1,
                        "pages": 1,
                        "contents": [
                          {
                            "id": 5,
                            "name": "CHI CHEN",
                            "description": null,
                            "group": null,
                            "pixivID": null,
                            "twitterID": null,
                            "mastodon": null,
                            "homepage": null,
                            "endpoint": "https://example.com",
                            "count": 1,
                            "lcount": 1
                          },
                          {
                            "id": 4,
                            "name": "Manki Kim",
                            "description": null,
                            "group": null,
                            "pixivID": null,
                            "twitterID": null,
                            "mastodon": null,
                            "homepage": null,
                            "endpoint": "https://example.com",
                            "count": 1,
                            "lcount": 1
                          },
                          {
                            "id": 3,
                            "name": "Andy Falconer",
                            "description": null,
                            "group": null,
                            "pixivID": null,
                            "twitterID": null,
                            "mastodon": null,
                            "homepage": null,
                            "endpoint": "https://example.com",
                            "count": 1,
                            "lcount": 1
                          },
                          {
                            "id": 2,
                            "name": "Nathan Dumlao",
                            "description": null,
                            "group": null,
                            "pixivID": null,
                            "twitterID": null,
                            "mastodon": null,
                            "homepage": null,
                            "endpoint": "https://example.com",
                            "count": 1,
                            "lcount": 1
                          },
                          {
                            "id": 1,
                            "name": "みふね",
                            "description": null,
                            "group": null,
                            "pixivID": null,
                            "twitterID": null,
                            "mastodon": null,
                            "homepage": null,
                            "endpoint": "https://example.com",
                            "count": 4,
                            "lcount": 57
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "getArtistList",
        "description": "絵師一覧を取得します",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "in": "query",
            "name": "page",
            "description": "ページ番号"
          },
          {
            "schema": {
              "type": "string",
              "default": "c",
              "enum": [
                "d",
                "l",
                "c",
                "n"
              ],
              "minLength": 1,
              "maxLength": 1
            },
            "in": "query",
            "name": "sort",
            "description": "ソート方法 c:ヒット数 d:最終更新 l:いいね数 n:名前"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "d",
                "a"
              ],
              "default": "d",
              "example": "d",
              "minLength": 1,
              "maxLength": 1
            },
            "in": "query",
            "name": "order",
            "description": "ソート方向 最大が先頭: \"d\"esc, 最小が先頭:\"a\"sc"
          }
        ]
      },
      "parameters": []
    },
    "/catalog/tags": {
      "get": {
        "summary": "Get tag list",
        "tags": [
          "catalog"
        ],
        "responses": {
          "200": {
            "description": "ヒットしたデータが応答のdata->contentsに配列で返却されます",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number"
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "title",
                        "count",
                        "current",
                        "pages",
                        "contents"
                      ],
                      "properties": {
                        "title": {
                          "type": "string",
                          "minLength": 1
                        },
                        "count": {
                          "type": "number"
                        },
                        "current": {
                          "type": "number"
                        },
                        "pages": {
                          "type": "number"
                        },
                        "contents": {
                          "type": "array",
                          "uniqueItems": true,
                          "minItems": 1,
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string",
                                "minLength": 1
                              },
                              "description": {},
                              "nsfw": {
                                "type": "number"
                              },
                              "endpoint": {},
                              "count": {
                                "type": "number"
                              },
                              "lcount": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "id",
                              "name",
                              "nsfw",
                              "count",
                              "lcount"
                            ]
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 200,
                      "message": "found",
                      "data": {
                        "title": "タグ",
                        "count": 4073,
                        "current": 1,
                        "pages": 204,
                        "contents": [
                          {
                            "id": 4175,
                            "name": "魅惑の脚線美",
                            "description": null,
                            "nsfw": 0,
                            "endpoint": null,
                            "count": 1,
                            "lcount": 0
                          },
                          {
                            "id": 3931,
                            "name": "2021年02月",
                            "description": null,
                            "nsfw": 0,
                            "endpoint": null,
                            "count": 574,
                            "lcount": 172
                          },
                          {
                            "id": 1230,
                            "name": "タイツ越しのパンツ",
                            "description": null,
                            "nsfw": 0,
                            "endpoint": null,
                            "count": 4,
                            "lcount": 10
                          },
                          {
                            "id": 5,
                            "name": "宇治松千夜",
                            "description": "千夜さん",
                            "nsfw": 0,
                            "endpoint": null,
                            "count": 909,
                            "lcount": 925
                          },
                          {
                            "id": 510,
                            "name": "HD",
                            "description": null,
                            "nsfw": 0,
                            "endpoint": null,
                            "count": 1022,
                            "lcount": 745
                          },
                          {
                            "id": 89,
                            "name": "パンツ",
                            "description": null,
                            "nsfw": 0,
                            "endpoint": null,
                            "count": 134,
                            "lcount": 376
                          },
                          {
                            "id": 192,
                            "name": "ぱんつ",
                            "description": null,
                            "nsfw": 0,
                            "endpoint": null,
                            "count": 84,
                            "lcount": 75
                          },
                          {
                            "id": 422,
                            "name": "差分",
                            "description": null,
                            "nsfw": 0,
                            "endpoint": null,
                            "count": 521,
                            "lcount": 279
                          },
                          {
                            "id": 2,
                            "name": "保登心愛",
                            "description": "ココアさん",
                            "nsfw": 0,
                            "endpoint": null,
                            "count": 2140,
                            "lcount": 4543
                          },
                          {
                            "id": 469,
                            "name": "FHD",
                            "description": null,
                            "nsfw": 0,
                            "endpoint": null,
                            "count": 2696,
                            "lcount": 2818
                          },
                          {
                            "id": 1,
                            "name": "香風智乃",
                            "description": "チノちゃん",
                            "nsfw": 0,
                            "endpoint": null,
                            "count": 4366,
                            "lcount": 12920
                          },
                          {
                            "id": 414,
                            "name": "R18",
                            "description": null,
                            "nsfw": 0,
                            "endpoint": null,
                            "count": 1869,
                            "lcount": 681
                          },
                          {
                            "id": 471,
                            "name": "2K",
                            "description": null,
                            "nsfw": 0,
                            "endpoint": null,
                            "count": 1392,
                            "lcount": 1639
                          },
                          {
                            "id": 546,
                            "name": "女の子",
                            "description": null,
                            "nsfw": 0,
                            "endpoint": null,
                            "count": 498,
                            "lcount": 264
                          },
                          {
                            "id": 4174,
                            "name": "eQGMN5bqb8n",
                            "description": null,
                            "nsfw": 0,
                            "endpoint": null,
                            "count": 2,
                            "lcount": 0
                          },
                          {
                            "id": 920,
                            "name": "めぐみ",
                            "description": null,
                            "nsfw": 0,
                            "endpoint": null,
                            "count": 69,
                            "lcount": 6
                          },
                          {
                            "id": 81,
                            "name": "奈津恵",
                            "description": null,
                            "nsfw": 0,
                            "endpoint": null,
                            "count": 689,
                            "lcount": 622
                          },
                          {
                            "id": 4173,
                            "name": "eTH7NS2kKk7",
                            "description": null,
                            "nsfw": 0,
                            "endpoint": null,
                            "count": 2,
                            "lcount": 0
                          },
                          {
                            "id": 2085,
                            "name": "ほとここあ",
                            "description": null,
                            "nsfw": 0,
                            "endpoint": null,
                            "count": 3,
                            "lcount": 0
                          },
                          {
                            "id": 468,
                            "name": "4K",
                            "description": null,
                            "nsfw": 0,
                            "endpoint": null,
                            "count": 3066,
                            "lcount": 2723
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "getTagList",
        "description": "タグ一覧を取得します",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "exclusiveMinimum": true,
              "minimum": 1,
              "default": 1
            },
            "in": "query",
            "name": "page",
            "description": "ページ番号"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "c",
                "d",
                "l",
                "n"
              ],
              "default": "c",
              "minLength": 1,
              "maxLength": 1
            },
            "in": "query",
            "name": "sort",
            "description": "ソート方法 c:ヒット数 d:最終更新 l:いいね数 n:名前"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "d",
                "a"
              ],
              "default": "d",
              "example": "d",
              "maxLength": 1,
              "minLength": 1
            },
            "in": "query",
            "name": "order",
            "description": "ソート方向 最大が先頭: \"d\"esc, 最小が先頭:\"a\"sc"
          }
        ]
      },
      "parameters": []
    },
    "/catalog/characters": {
      "get": {
        "summary": "Get character list",
        "tags": [
          "catalog"
        ],
        "responses": {
          "200": {
            "description": "ヒットしたデータが応答のdata->contentsに配列で返却されます",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number"
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string",
                          "minLength": 1
                        },
                        "count": {
                          "type": "number"
                        },
                        "current": {
                          "type": "number"
                        },
                        "pages": {
                          "type": "number"
                        },
                        "contents": {
                          "type": "array",
                          "uniqueItems": true,
                          "minItems": 1,
                          "items": {
                            "required": [
                              "id",
                              "name",
                              "nsfw",
                              "count",
                              "lcount"
                            ],
                            "properties": {
                              "id": {
                                "type": "number"
                              },
                              "name": {
                                "type": "string",
                                "minLength": 1
                              },
                              "description": {},
                              "nsfw": {
                                "type": "number"
                              },
                              "count": {
                                "type": "number"
                              },
                              "lcount": {
                                "type": "number"
                              }
                            }
                          }
                        }
                      },
                      "required": [
                        "title",
                        "count",
                        "current",
                        "pages",
                        "contents"
                      ]
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 200,
                      "message": "found",
                      "data": {
                        "title": "キャラ",
                        "count": 1,
                        "current": 1,
                        "pages": 1,
                        "contents": [
                          {
                            "id": 2,
                            "name": "パソコン",
                            "description": null,
                            "nsfw": 0,
                            "count": 1,
                            "lcount": 53
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "getCharacterList",
        "description": "キャラクター一覧を取得します",
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1,
              "exclusiveMinimum": true
            },
            "in": "query",
            "name": "page",
            "description": "ページ番号"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "c",
                "d",
                "l",
                "n"
              ],
              "default": "c",
              "minLength": 1,
              "maxLength": 1
            },
            "in": "query",
            "name": "sort",
            "description": "ソート方法 c:ヒット数 d:最終更新 l:いいね数 n:名前"
          },
          {
            "schema": {
              "type": "string",
              "default": "d",
              "enum": [
                "d",
                "a"
              ],
              "example": "d",
              "minLength": 1,
              "maxLength": 1
            },
            "in": "query",
            "name": "order",
            "description": "ソート方向 最大が先頭: \"d\"esc, 最小が先頭:\"a\"sc"
          }
        ]
      }
    },
    "/arts/{illustID}": {
      "parameters": [
        {
          "schema": {
            "type": "number"
          },
          "name": "illustID",
          "in": "path",
          "required": true,
          "description": "取得したいイラストのID"
        }
      ],
      "get": {
        "summary": "Get art info",
        "tags": [
          "arts"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetArtResponse"
                }
              }
            }
          }
        },
        "operationId": "getArt",
        "description": "指定したイラストを取得します"
      },
      "put": {
        "summary": "Edit art",
        "operationId": "put-arts-illustID",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PutArtResponse"
                }
              }
            }
          }
        },
        "description": "指定したイラストの情報を編集します\nパラメータで与えられたデータに応じて柔軟に\n絵師名・タグ・キャラクター等を同時に書き換えます",
        "tags": [
          "arts"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutArtRequest"
              }
            }
          },
          "description": ""
        }
      },
      "delete": {
        "summary": "Delete art",
        "operationId": "delete-arts-illustID",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteArtResponse"
                }
              }
            }
          }
        },
        "description": "指定したイラストを削除します\n削除してほしくないため非推奨とします\n(このエンドポイントから削除したイラストは\n参照が不可能になるだけであり一定日数サーバー上に残されます)",
        "deprecated": true,
        "tags": [
          "arts"
        ]
      }
    },
    "/navigations/characters": {
      "get": {
        "summary": "Get character navigation tab (for site)",
        "tags": [
          "navigations"
        ],
        "responses": {
          "200": {
            "description": "応答のdataに配列で返却されます",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number"
                    },
                    "data": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "$ref": "#/components/schemas/NavigationResult"
                      }
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 200,
                      "data": [
                        {
                          "name": "香風智乃",
                          "id": 1,
                          "count": 4366
                        },
                        {
                          "name": "保登心愛",
                          "id": 2,
                          "count": 2140
                        },
                        {
                          "name": "桐間紗路",
                          "id": 4,
                          "count": 1183
                        },
                        {
                          "name": "天々座理世",
                          "id": 3,
                          "count": 1140
                        },
                        {
                          "name": "宇治松千夜",
                          "id": 5,
                          "count": 909
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "getCharacterNavigation",
        "description": "イラスト数の多いキャラクター上位5件を取得します\nサイト内上部 ナビゲーションメニューで使用しています"
      }
    },
    "/navigations/artists": {
      "get": {
        "summary": "Get artist navigation tab (for site)",
        "tags": [
          "navigations"
        ],
        "responses": {
          "200": {
            "description": "応答のdataに配列で返却されます",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number"
                    },
                    "data": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "$ref": "#/components/schemas/NavigationResult"
                      }
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 200,
                      "data": [
                        {
                          "name": "ごちシコ",
                          "id": 413,
                          "count": 129
                        },
                        {
                          "name": "きゅんもふ",
                          "id": 88,
                          "count": 92
                        },
                        {
                          "name": "KS",
                          "id": 146,
                          "count": 86
                        },
                        {
                          "name": "りかたん☆",
                          "id": 548,
                          "count": 83
                        },
                        {
                          "name": "きよ蔵",
                          "id": 71,
                          "count": 80
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "getArtistNavigation",
        "description": "イラスト数の多い絵師上位5件を取得します\nサイト内上部 ナビゲーションメニューで使用しています"
      }
    },
    "/navigations/tags": {
      "get": {
        "summary": "Get tag navigation tab (for site)",
        "tags": [
          "navigations"
        ],
        "responses": {
          "200": {
            "description": "応答のdataに配列で返却されます",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number"
                    },
                    "data": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "$ref": "#/components/schemas/NavigationResult"
                      }
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 200,
                      "data": [
                        {
                          "name": "2020年12月",
                          "id": 2973,
                          "count": 1580
                        },
                        {
                          "name": "2020年10月",
                          "id": 1793,
                          "count": 1536
                        },
                        {
                          "name": "2020年11月",
                          "id": 2429,
                          "count": 1324
                        },
                        {
                          "name": "2021年01月",
                          "id": 3529,
                          "count": 874
                        },
                        {
                          "name": "2021年02月",
                          "id": 3931,
                          "count": 574
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "getTagNavigation",
        "description": "イラスト数の多いタグ上位5件を取得します\nサイト内上部 ナビゲーションメニューで使用しています"
      }
    },
    "/news/list": {
      "get": {
        "summary": "Get news list",
        "tags": [
          "news"
        ],
        "responses": {
          "200": {
            "description": "応答のdataに配列で返却されます",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number"
                    },
                    "data": {
                      "type": "array",
                      "uniqueItems": true,
                      "minItems": 1,
                      "items": {
                        "$ref": "#/components/schemas/NewsStruct"
                      }
                    }
                  },
                  "required": [
                    "status",
                    "data"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 200,
                      "data": [
                        {
                          "id": 3,
                          "date": "2021-01-07 15:31:24",
                          "color": 0,
                          "title": "記載中の画像について / About these arts",
                          "body": "これらの画像は素材配布としての意図はなく、サイトの機能検証の"
                        },
                        {
                          "id": 2,
                          "date": "2021-01-07 15:25:14",
                          "color": 0,
                          "title": "デモ版の仕様 / Limitations of demo",
                          "body": "通知機能は動作しません。 Notification feat"
                        },
                        {
                          "id": 1,
                          "date": "2021-01-07 15:21:06",
                          "color": 4,
                          "title": "既知のバグ Known bugs",
                          "body": "ログイン済み状態でトップページをリロードすると真っ白になりま"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "getNewsList",
        "description": "ニュース一覧を取得します"
      }
    },
    "/news/{newsID}": {
      "parameters": [
        {
          "schema": {
            "type": "number",
            "minimum": 1,
            "exclusiveMinimum": true
          },
          "name": "newsID",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get news",
        "tags": [
          "news"
        ],
        "responses": {
          "200": {
            "description": "応答のdataに返却されます",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number"
                    },
                    "data": {
                      "$ref": "#/components/schemas/NewsStruct"
                    }
                  },
                  "required": [
                    "status"
                  ]
                },
                "examples": {
                  "example-exists": {
                    "value": {
                      "status": 200,
                      "data": {
                        "id": 3,
                        "date": "2021-01-07 15:31:24",
                        "color": 0,
                        "title": "記載中の画像について / About these arts",
                        "body": "これらの画像は素材配布としての意図はなく、サイトの機能検証のためのものです。素材をお求めの場合はhttps://unsplash.com または https://www.irasutoya.com に直接アクセスしてください。 These arts are for feature-test purpose only. You can get free images on https://unsplash.com or https://www.irasutoya.com."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "getNewsById",
        "description": "指定したニュースの内容を取得します"
      }
    },
    "/mylist/{mylistID}": {
      "parameters": [
        {
          "schema": {
            "type": "number"
          },
          "name": "mylistID",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get mylist data",
        "tags": [
          "mylist"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number"
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "title",
                        "count",
                        "current",
                        "pages",
                        "imgs"
                      ],
                      "properties": {
                        "title": {
                          "type": "string",
                          "minLength": 1
                        },
                        "count": {
                          "type": "number"
                        },
                        "current": {
                          "type": "number"
                        },
                        "pages": {
                          "type": "number"
                        },
                        "imgs": {
                          "type": "array",
                          "uniqueItems": true,
                          "minItems": 1,
                          "items": {
                            "$ref": "#/components/schemas/SearchResult"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 200,
                      "message": "ok",
                      "data": {
                        "title": "Testのマイリスト",
                        "count": 1,
                        "current": 1,
                        "pages": 1,
                        "imgs": [
                          {
                            "illustID": 7,
                            "artistID": 4,
                            "title": "clear glass cup with tea near brown ceramic teapot",
                            "caption": "",
                            "date": "2021-01-07 15:15:28",
                            "pages": 1,
                            "like": 1,
                            "mylist": 1,
                            "mylisted": true,
                            "originUrl": "https://unsplash.com/photos/L82-kkEBOd0?page=1",
                            "originService": "独自",
                            "nsfw": false,
                            "artist": {
                              "id": 4,
                              "name": "Manki Kim"
                            },
                            "extension": "jpg"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "getMylistById",
        "description": "指定したマイリストに登録されたイラスト一覧を取得します"
      }
    },
    "/mylist/list": {
      "get": {
        "summary": "Get mylist list",
        "tags": [
          "mylist"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "operationId": "getMylists",
        "description": "自分の作成したマイリスト一覧を取得します\n(現在1人辺り1マイリストしか作成できないのでこのエンドポイントは無意味です)",
        "deprecated": true
      }
    },
    "/search/tag": {
      "get": {
        "summary": "Search by tag",
        "tags": [
          "search"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number"
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "title",
                        "count",
                        "current",
                        "pages",
                        "imgs"
                      ],
                      "properties": {
                        "title": {
                          "type": "string",
                          "minLength": 1
                        },
                        "count": {
                          "type": "number"
                        },
                        "current": {
                          "type": "number"
                        },
                        "pages": {
                          "type": "number"
                        },
                        "imgs": {
                          "type": "array",
                          "uniqueItems": true,
                          "minItems": 1,
                          "items": {
                            "$ref": "#/components/schemas/SearchResult"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 200,
                      "message": "found",
                      "data": {
                        "title": "ティーカップ",
                        "count": 2,
                        "current": 1,
                        "pages": 1,
                        "imgs": [
                          {
                            "illustID": 8,
                            "artistID": 5,
                            "title": "tea pours into white teacup photo",
                            "caption": "",
                            "date": "2021-01-07 15:16:58",
                            "pages": 1,
                            "like": 1,
                            "mylist": 0,
                            "mylisted": false,
                            "originUrl": "https://unsplash.com/photos/oBoELXgJR1w?page=1",
                            "originService": "独自",
                            "nsfw": false,
                            "artist": {
                              "id": 5,
                              "name": "CHI CHEN"
                            },
                            "extension": "jpg"
                          },
                          {
                            "illustID": 7,
                            "artistID": 4,
                            "title": "clear glass cup with tea near brown ceramic teapot",
                            "caption": "",
                            "date": "2021-01-07 15:15:28",
                            "pages": 1,
                            "like": 1,
                            "mylist": 1,
                            "mylisted": true,
                            "originUrl": "https://unsplash.com/photos/L82-kkEBOd0?page=1",
                            "originService": "独自",
                            "nsfw": false,
                            "artist": {
                              "id": 4,
                              "name": "Manki Kim"
                            },
                            "extension": "jpg"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "searchArtByTag",
        "description": "指定したタグを持つイラスト一覧を取得します",
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchQuerySort"
          },
          {
            "$ref": "#/components/parameters/SearchQueryOrder"
          },
          {
            "$ref": "#/components/parameters/SearchQueryPage"
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "id",
            "description": "タグID",
            "required": true
          }
        ]
      }
    },
    "/search/character": {
      "get": {
        "summary": "Search by character",
        "tags": [
          "search"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number"
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "title",
                        "count",
                        "current",
                        "pages",
                        "imgs"
                      ],
                      "properties": {
                        "title": {
                          "type": "string",
                          "minLength": 1
                        },
                        "count": {
                          "type": "number"
                        },
                        "current": {
                          "type": "number"
                        },
                        "pages": {
                          "type": "number"
                        },
                        "imgs": {
                          "type": "array",
                          "uniqueItems": true,
                          "minItems": 1,
                          "items": {
                            "$ref": "#/components/schemas/SearchResult"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 200,
                      "message": "found",
                      "data": {
                        "title": "パソコン",
                        "count": 1,
                        "current": 1,
                        "pages": 1,
                        "imgs": [
                          {
                            "illustID": 1,
                            "artistID": 1,
                            "title": "パソコンのキャラクター（ノートパソコン）(笑顔)",
                            "caption": "快調に動く笑顔のノート型のコンピューターと、壊れて困った顔をしているコンピューターのイラストです。\n",
                            "date": "2021-01-07 12:31:01",
                            "pages": 1,
                            "like": 53,
                            "mylist": 1,
                            "mylisted": false,
                            "originUrl": "https://www.irasutoya.com/2017/01/blog-post_792.html?page=1",
                            "originService": "独自",
                            "nsfw": false,
                            "artist": {
                              "id": 1,
                              "name": "みふね"
                            },
                            "extension": "png"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "searchArtByCharacter",
        "description": "指定したキャラクターを持つイラスト一覧を取得します",
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchQuerySort"
          },
          {
            "$ref": "#/components/parameters/SearchQueryOrder"
          },
          {
            "$ref": "#/components/parameters/SearchQueryPage"
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "id",
            "description": "キャラID(タグIDと同一)",
            "required": true
          }
        ]
      }
    },
    "/search/artist": {
      "get": {
        "summary": "Search by artist",
        "tags": [
          "search"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number"
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "title",
                        "count",
                        "current",
                        "pages",
                        "imgs"
                      ],
                      "properties": {
                        "title": {
                          "type": "string",
                          "minLength": 1
                        },
                        "count": {
                          "type": "number"
                        },
                        "current": {
                          "type": "number"
                        },
                        "pages": {
                          "type": "number"
                        },
                        "imgs": {
                          "type": "array",
                          "uniqueItems": true,
                          "minItems": 1,
                          "items": {
                            "$ref": "#/components/schemas/SearchResult"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 200,
                      "message": "found",
                      "data": {
                        "title": "みふね",
                        "count": 4,
                        "current": 1,
                        "pages": 1,
                        "imgs": [
                          {
                            "illustID": 4,
                            "artistID": 1,
                            "title": "社畜のイラスト",
                            "caption": "会社に飼い慣らされ家畜のように扱われている男性会社員（サラリーマン）、俗にいう社畜のイラストです。",
                            "date": "2021-01-07 14:53:43",
                            "pages": 1,
                            "like": 1,
                            "mylist": 0,
                            "mylisted": false,
                            "originUrl": "?page=1",
                            "originService": "独自",
                            "nsfw": false,
                            "artist": {
                              "id": 1,
                              "name": "みふね"
                            },
                            "extension": "png"
                          },
                          {
                            "illustID": 3,
                            "artistID": 1,
                            "title": "なかなか当たらないガチャのイラスト",
                            "caption": "当たりが出る確率がとても低いガチャガチャを回し続けている人のイラストです。",
                            "date": "2021-01-07 14:51:59",
                            "pages": 1,
                            "like": 1,
                            "mylist": 0,
                            "mylisted": false,
                            "originUrl": "https://www.irasutoya.com/2016/02/blog-post_256.html?page=1",
                            "originService": "独自",
                            "nsfw": false,
                            "artist": {
                              "id": 1,
                              "name": "みふね"
                            },
                            "extension": "png"
                          },
                          {
                            "illustID": 2,
                            "artistID": 1,
                            "title": "単位を落とす学生のイラスト（男性）",
                            "caption": "大学生の男の子が単位を落として焦っているイラストです。",
                            "date": "2021-01-07 12:53:04",
                            "pages": 1,
                            "like": 2,
                            "mylist": 0,
                            "mylisted": false,
                            "originUrl": "https://www.irasutoya.com/2016/10/blog-post_23.html?page=1",
                            "originService": "独自",
                            "nsfw": false,
                            "artist": {
                              "id": 1,
                              "name": "みふね"
                            },
                            "extension": "png"
                          },
                          {
                            "illustID": 1,
                            "artistID": 1,
                            "title": "パソコンのキャラクター（ノートパソコン）(笑顔)",
                            "caption": "快調に動く笑顔のノート型のコンピューターと、壊れて困った顔をしているコンピューターのイラストです。\n",
                            "date": "2021-01-07 12:31:01",
                            "pages": 1,
                            "like": 53,
                            "mylist": 1,
                            "mylisted": false,
                            "originUrl": "https://www.irasutoya.com/2017/01/blog-post_792.html?page=1",
                            "originService": "独自",
                            "nsfw": false,
                            "artist": {
                              "id": 1,
                              "name": "みふね"
                            },
                            "extension": "png"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "searchArtByArtist",
        "description": "指定した絵師のイラスト一覧を取得します",
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchQuerySort"
          },
          {
            "$ref": "#/components/parameters/SearchQueryOrder"
          },
          {
            "$ref": "#/components/parameters/SearchQueryPage"
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "id",
            "description": "絵師ID",
            "required": true
          }
        ]
      }
    },
    "/search/keyword": {
      "get": {
        "summary": "Search by keyword",
        "tags": [
          "search"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number"
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "title",
                        "count",
                        "current",
                        "pages",
                        "imgs"
                      ],
                      "properties": {
                        "title": {
                          "type": "string",
                          "minLength": 1
                        },
                        "count": {
                          "type": "number"
                        },
                        "current": {
                          "type": "number"
                        },
                        "pages": {
                          "type": "number"
                        },
                        "imgs": {
                          "type": "array",
                          "uniqueItems": true,
                          "minItems": 1,
                          "items": {
                            "$ref": "#/components/schemas/SearchResult"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 200,
                      "message": "found",
                      "data": {
                        "title": "cafe",
                        "count": 1,
                        "current": 1,
                        "pages": 1,
                        "imgs": [
                          {
                            "illustID": 6,
                            "artistID": 3,
                            "title": "Cafe Image",
                            "caption": "Ready for the breakfast rush to start",
                            "date": "2021-01-07 15:01:01",
                            "pages": 1,
                            "like": 1,
                            "mylist": 0,
                            "mylisted": false,
                            "originUrl": "https://unsplash.com/photos/dwQRixazu9I?page=1",
                            "originService": "独自",
                            "nsfw": false,
                            "artist": {
                              "id": 3,
                              "name": "Andy Falconer"
                            },
                            "extension": "jpg"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "searchArtByKeyword",
        "description": "指定したキーワードを含むイラスト一覧を取得します",
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchQuerySort"
          },
          {
            "$ref": "#/components/parameters/SearchQueryOrder"
          },
          {
            "$ref": "#/components/parameters/SearchQueryPage"
          },
          {
            "schema": {
              "type": "string",
              "example": "cafe"
            },
            "in": "query",
            "name": "keyword",
            "description": "検索対象ワード",
            "required": true
          }
        ]
      }
    },
    "/search/all": {
      "get": {
        "summary": "Search all arts",
        "tags": [
          "search"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "description": "",
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number"
                    },
                    "message": {
                      "type": "string",
                      "minLength": 1
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "title",
                        "count",
                        "current",
                        "pages",
                        "imgs"
                      ],
                      "properties": {
                        "title": {
                          "type": "string",
                          "minLength": 1
                        },
                        "count": {
                          "type": "number"
                        },
                        "current": {
                          "type": "number"
                        },
                        "pages": {
                          "type": "number"
                        },
                        "imgs": {
                          "type": "array",
                          "uniqueItems": true,
                          "minItems": 1,
                          "items": {
                            "$ref": "#/components/schemas/SearchResult"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "data"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "status": 200,
                      "message": "found",
                      "data": {
                        "title": "全て",
                        "count": 8,
                        "current": 1,
                        "pages": 1,
                        "imgs": [
                          {
                            "illustID": 8,
                            "artistID": 5,
                            "title": "tea pours into white teacup photo",
                            "caption": "",
                            "date": "2021-01-07 15:16:58",
                            "pages": 1,
                            "like": 1,
                            "mylist": 0,
                            "mylisted": false,
                            "originUrl": "https://unsplash.com/photos/oBoELXgJR1w?page=1",
                            "originService": "独自",
                            "nsfw": false,
                            "artist": {
                              "id": 5,
                              "name": "CHI CHEN"
                            },
                            "extension": "jpg"
                          },
                          {
                            "illustID": 7,
                            "artistID": 4,
                            "title": "clear glass cup with tea near brown ceramic teapot",
                            "caption": "",
                            "date": "2021-01-07 15:15:28",
                            "pages": 1,
                            "like": 1,
                            "mylist": 1,
                            "mylisted": true,
                            "originUrl": "https://unsplash.com/photos/L82-kkEBOd0?page=1",
                            "originService": "独自",
                            "nsfw": false,
                            "artist": {
                              "id": 4,
                              "name": "Manki Kim"
                            },
                            "extension": "jpg"
                          },
                          {
                            "illustID": 6,
                            "artistID": 3,
                            "title": "Cafe Image",
                            "caption": "Ready for the breakfast rush to start",
                            "date": "2021-01-07 15:01:01",
                            "pages": 1,
                            "like": 1,
                            "mylist": 0,
                            "mylisted": false,
                            "originUrl": "https://unsplash.com/photos/dwQRixazu9I?page=1",
                            "originService": "独自",
                            "nsfw": false,
                            "artist": {
                              "id": 3,
                              "name": "Andy Falconer"
                            },
                            "extension": "jpg"
                          },
                          {
                            "illustID": 5,
                            "artistID": 2,
                            "title": "top view photography of heart latte coffee photo",
                            "caption": "Cappuccino in a bed of fresh roasted coffee beans.",
                            "date": "2021-01-07 14:56:37",
                            "pages": 1,
                            "like": 1,
                            "mylist": 0,
                            "mylisted": false,
                            "originUrl": "https://unsplash.com/photos/XOhI_kW_TaM?page=1",
                            "originService": "独自",
                            "nsfw": false,
                            "artist": {
                              "id": 2,
                              "name": "Nathan Dumlao"
                            },
                            "extension": "jpg"
                          },
                          {
                            "illustID": 4,
                            "artistID": 1,
                            "title": "社畜のイラスト",
                            "caption": "会社に飼い慣らされ家畜のように扱われている男性会社員（サラリーマン）、俗にいう社畜のイラストです。",
                            "date": "2021-01-07 14:53:43",
                            "pages": 1,
                            "like": 1,
                            "mylist": 0,
                            "mylisted": false,
                            "originUrl": "?page=1",
                            "originService": "独自",
                            "nsfw": false,
                            "artist": {
                              "id": 1,
                              "name": "みふね"
                            },
                            "extension": "png"
                          },
                          {
                            "illustID": 3,
                            "artistID": 1,
                            "title": "なかなか当たらないガチャのイラスト",
                            "caption": "当たりが出る確率がとても低いガチャガチャを回し続けている人のイラストです。",
                            "date": "2021-01-07 14:51:59",
                            "pages": 1,
                            "like": 1,
                            "mylist": 0,
                            "mylisted": false,
                            "originUrl": "https://www.irasutoya.com/2016/02/blog-post_256.html?page=1",
                            "originService": "独自",
                            "nsfw": false,
                            "artist": {
                              "id": 1,
                              "name": "みふね"
                            },
                            "extension": "png"
                          },
                          {
                            "illustID": 2,
                            "artistID": 1,
                            "title": "単位を落とす学生のイラスト（男性）",
                            "caption": "大学生の男の子が単位を落として焦っているイラストです。",
                            "date": "2021-01-07 12:53:04",
                            "pages": 1,
                            "like": 2,
                            "mylist": 0,
                            "mylisted": false,
                            "originUrl": "https://www.irasutoya.com/2016/10/blog-post_23.html?page=1",
                            "originService": "独自",
                            "nsfw": false,
                            "artist": {
                              "id": 1,
                              "name": "みふね"
                            },
                            "extension": "png"
                          },
                          {
                            "illustID": 1,
                            "artistID": 1,
                            "title": "パソコンのキャラクター（ノートパソコン）(笑顔)",
                            "caption": "快調に動く笑顔のノート型のコンピューターと、壊れて困った顔をしているコンピューターのイラストです。\n",
                            "date": "2021-01-07 12:31:01",
                            "pages": 1,
                            "like": 53,
                            "mylist": 1,
                            "mylisted": false,
                            "originUrl": "https://www.irasutoya.com/2017/01/blog-post_792.html?page=1",
                            "originService": "独自",
                            "nsfw": false,
                            "artist": {
                              "id": 1,
                              "name": "みふね"
                            },
                            "extension": "png"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "searchArtByAll",
        "description": "登録されたイラスト一覧を取得します",
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchQuerySort"
          },
          {
            "$ref": "#/components/parameters/SearchQueryOrder"
          },
          {
            "$ref": "#/components/parameters/SearchQueryPage"
          }
        ]
      }
    },
    "/search/random": {
      "get": {
        "summary": "Search by random",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "operationId": "searchArtByRandom",
        "description": "ランダムなイラストを取得します",
        "tags": [
          "search"
        ]
      }
    },
    "/search/image/self": {
      "post": {
        "summary": "Search by image",
        "tags": [
          "search"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "operationId": "searchArtByImage",
        "description": "画像からごちイラ内に登録されたイラストを検索します"
      },
      "parameters": []
    },
    "/search/image/saucenao": {
      "post": {
        "summary": "Search by image at saucenao",
        "tags": [
          "search"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "operationId": "searchArtByImageUsingSaucenao",
        "description": "画像からSauceNAOに登録されたイラストを検索します"
      }
    },
    "/accounts/me": {
      "get": {
        "summary": "Get user info (self)",
        "tags": [
          "accounts"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAccountMeResponse"
                }
              }
            }
          }
        },
        "operationId": "getSelfAccount",
        "description": "自分自身にまつわる情報をすべて取得します\n通常、ログイン時に一度だけ呼び出されます"
      },
      "parameters": []
    },
    "/accounts/login/form": {
      "post": {
        "summary": "Login with form",
        "tags": [
          "accounts"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginWithFormResponse"
                }
              }
            }
          }
        },
        "operationId": "loginWithForm",
        "description": "IDとパスワードを用いてユーザー認証し、APIトークンを発行します",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginWithFormRequest"
              },
              "examples": {
                "user": {
                  "value": {
                    "id": "test_user",
                    "password": "this_is_only_for_test"
                  }
                },
                "admin": {
                  "value": {
                    "id": "test_admin",
                    "password": "this_is_only_for_test"
                  }
                }
              }
            }
          },
          "description": "ユーザーIDとパスワードをパラメータに取ります"
        }
      }
    },
    "/artists": {
      "post": {
        "summary": "Create artist",
        "operationId": "createArtist",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateArtistResponse"
                }
              }
            }
          }
        },
        "description": "新しい絵師を生成します(イラスト投稿時に存在しなければ自動で作成されるため\n直接操作する必要はありません)",
        "deprecated": true,
        "tags": [
          "artists"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateArtistRequest"
              }
            }
          }
        }
      }
    },
    "/artists/{artistID}": {
      "get": {
        "summary": "Get artist",
        "tags": [
          "artists"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetArtistResponse"
                }
              }
            }
          }
        },
        "operationId": "getArtist",
        "description": "指定した絵師の情報を取得します。存在しない情報欄にはnullが入ります。"
      },
      "parameters": [
        {
          "schema": {
            "type": "number"
          },
          "name": "artistID",
          "in": "path",
          "required": true,
          "description": "対象の絵師ID"
        }
      ],
      "delete": {
        "summary": "Delete artist",
        "operationId": "deleteArtist",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteArtistResponse"
                }
              }
            }
          }
        },
        "description": "指定した絵師の情報を削除します\n(イラストによって参照されていない場合のみ削除できるため、通常利用機会はありません)",
        "deprecated": true,
        "tags": [
          "artists"
        ]
      },
      "put": {
        "summary": "Edit artist",
        "operationId": "editArtist",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PutArtistResponse"
                }
              }
            }
          }
        },
        "description": "指定した絵師の情報を置き換えます。\nリクエストで指定されたパラメータだけを置き換えます。",
        "tags": [
          "artists"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutArtistRequest"
              }
            }
          },
          "description": ""
        }
      }
    },
    "/arts/{illustID}/replace": {
      "parameters": [
        {
          "schema": {
            "type": "number"
          },
          "name": "illustID",
          "in": "path",
          "required": true,
          "description": "置き換えしたい(画質が低い方の)イラストID"
        }
      ],
      "put": {
        "summary": "Combine art info",
        "operationId": "replaceArt",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReplaceArtResponse"
                }
              }
            }
          }
        },
        "tags": [
          "arts"
        ],
        "description": "パスパラメータで指定された低画質なイラストに対して\nクエリパラメータで指定されたより画質の良いイラストで統合(置き換え)処理を行います。\n画質が低い方のいいね・タグ・出典・コメントが画質が高い方のイラストに対して統合されます。\n置き換えられた画質が低い方のイラストは検索結果に表示されなくなりますが、IDを直接指定すれば閲覧できる状態で残ります。",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceArtRequest"
              }
            }
          }
        }
      }
    },
    "/arts/{illustID}/tags": {
      "get": {
        "summary": "Get art tags",
        "tags": [
          "arts"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetArtTagsResponse"
                }
              }
            }
          }
        },
        "operationId": "getArtTags",
        "description": "指定したイラストに付いているタグのみを一覧で取得します"
      },
      "parameters": [
        {
          "schema": {
            "type": "number"
          },
          "name": "illustID",
          "in": "path",
          "required": true,
          "description": "対象のイラストID"
        }
      ],
      "put": {
        "summary": "Edit art tags",
        "operationId": "editArtTags",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PutArtTagsResponse"
                }
              }
            }
          }
        },
        "description": "指定したイラストのタグ一覧に、与えられたIDのタグを追加します\n(イラスト本体の編集時に付けられたタグ名から\n自動的にタグIDを引き出し追加/削除を行う処理が追加されたため\nこちらのエンドポイントを使用する必要はありません)",
        "deprecated": true,
        "tags": [
          "arts"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutArtTagsRequest"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete art tag",
        "operationId": "deleteArtTags",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteArtTagsResponse"
                }
              }
            }
          }
        },
        "description": "指定したイラストのタグ一覧から、与えられたIDのタグを削除します\n(イラスト本体の編集時に付けられたタグ名から\n自動的にタグIDを引き出し追加/削除を行う処理が追加されたため\nこちらのエンドポイントを使用する必要はありません)",
        "deprecated": true,
        "tags": [
          "arts"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteArtTagsRequest"
              }
            }
          }
        }
      }
    },
    "/arts/{illustID}/characters": {
      "get": {
        "summary": "Get art characters",
        "tags": [
          "arts"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetArtChractersResponse"
                }
              }
            }
          }
        },
        "operationId": "getArtCharacters",
        "description": "指定したイラストに付いているキャラクターのみを一覧で取得します"
      },
      "parameters": [
        {
          "schema": {
            "type": "number"
          },
          "name": "illustID",
          "in": "path",
          "required": true,
          "description": "対象のイラストID"
        }
      ],
      "put": {
        "summary": "Edit art characters",
        "operationId": "editArtCharacters",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PutArtCharactersResponse"
                }
              }
            }
          }
        },
        "description": "指定したイラストのキャラクター一覧に、与えられたIDのキャラクターを追加します\n(イラスト本体の編集時に付けられたキャラクター名から\n自動的にキャラクターIDを引き出し追加/削除を行う処理が追加されたため\nこちらのエンドポイントを使用する必要はありません)",
        "deprecated": true,
        "tags": [
          "arts"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutArtChractersRequest"
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete art character",
        "operationId": "deleteArtCharacters",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteArtCharactersResponse"
                }
              }
            }
          }
        },
        "description": "指定したイラストのキャラクター一覧から、与えられたIDのキャラクターを削除します\n(イラスト本体の編集時に付けられたキャラクター名から\n自動的にキャラクターIDを引き出し追加/削除を行う処理が追加されたため\nこちらのエンドポイントを使用する必要はありません)",
        "deprecated": true,
        "tags": [
          "arts"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteArtCharactersRequest"
              }
            }
          }
        }
      }
    },
    "/arts/{illustID}/likes": {
      "parameters": [
        {
          "schema": {
            "type": "number"
          },
          "name": "illustID",
          "in": "path",
          "required": true,
          "description": "いいねしたいイラストのID"
        }
      ],
      "put": {
        "summary": "Plus art like",
        "operationId": "addArtLike",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PutArtLikesResponse"
                }
              }
            }
          }
        },
        "tags": [
          "arts"
        ],
        "description": "指定したイラストのいいね数を1増加させます\n(いいねの種別を選択できる仕様となったため、このエンドポイントは現在非推奨ですが\n種別を指定するいいねよりも応答が速いため残っています)",
        "deprecated": true
      },
      "get": {
        "summary": "Get art likes",
        "operationId": "getArtLikes",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetArtLikesResponse"
                }
              }
            }
          }
        },
        "description": "指定したイラストのいいね数だけを取得します",
        "tags": [
          "arts"
        ]
      }
    },
    "/arts/{illustID}/likes/{likeType}": {
      "parameters": [
        {
          "schema": {
            "type": "number"
          },
          "name": "illustID",
          "in": "path",
          "required": true,
          "description": "いいねしたいイラストのID"
        },
        {
          "schema": {
            "type": "number"
          },
          "name": "likeType",
          "in": "path",
          "required": true,
          "description": "いいね種別 1:黄 2:緑 3:赤 4:青"
        }
      ],
      "put": {
        "summary": "Plus art like (with using star)",
        "operationId": "addArtLikeByStar",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "arts"
        ],
        "description": "指定したイラストのいいね数を1増加させます\nいいねする都度、likeTypeに指定されたスターを消費します\n(ToyMoneyApiに問い合わせを行った上で増加処理を行うため若干時間がかかります)"
      }
    },
    "/arts/{illustID}/views": {
      "parameters": [
        {
          "schema": {
            "type": "number"
          },
          "name": "illustID",
          "in": "path",
          "required": true,
          "description": "閲覧したイラストのID"
        }
      ],
      "put": {
        "summary": "Plus art view",
        "operationId": "addArtView",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PutArtViewsResponse"
                }
              }
            }
          }
        },
        "tags": [
          "arts"
        ],
        "description": "指定したイラストの閲覧回数を1増加させます\n同一アカウントからのイラスト閲覧は1日1回のみカウントされます"
      },
      "get": {
        "summary": "Get art views",
        "operationId": "getArtViews",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetArtViewsResponse"
                }
              }
            }
          }
        },
        "description": "指定したイラストの閲覧回数のみを取得します",
        "tags": [
          "arts"
        ]
      }
    },
    "/arts/{illustID}/comments": {
      "parameters": [
        {
          "schema": {
            "type": "number"
          },
          "name": "illustID",
          "in": "path",
          "required": true,
          "description": "対象のイラストID"
        }
      ],
      "get": {
        "summary": "Get art comments",
        "tags": [
          "arts"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "operationId": "getArtComments",
        "description": "指定したイラストに付いているコメントのみを一覧で取得します"
      },
      "post": {
        "summary": "Add art comment",
        "operationId": "addArtComment",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "指定したイラストにコメントを追加します",
        "tags": [
          "arts"
        ]
      }
    },
    "/arts/{illustID}/comments/{commentID}": {
      "parameters": [
        {
          "schema": {
            "type": "number"
          },
          "name": "illustID",
          "in": "path",
          "required": true,
          "description": "対象のイラストID"
        },
        {
          "schema": {
            "type": "number"
          },
          "name": "commentID",
          "in": "path",
          "required": true,
          "description": "編集したいコメントのID"
        }
      ],
      "put": {
        "summary": "Edit art comment",
        "operationId": "editArtCommentById",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "arts"
        ],
        "description": "指定したイラストに付けたコメントを編集します\n(ActivityPubを使用している場合、編集後の内容が再投稿されます)"
      },
      "delete": {
        "summary": "Delete art comment",
        "operationId": "deleteArtCommentById",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "指定したイラストに付けたコメントを削除します",
        "tags": [
          "arts"
        ]
      },
      "get": {
        "summary": "Get art comment",
        "operationId": "getArtCommentById",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "指定したイラストに付いている、指定されたIDのコメントを取得します",
        "tags": [
          "arts"
        ]
      }
    },
    "/arts": {
      "post": {
        "summary": "Create art",
        "operationId": "addArt",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "arts"
        ],
        "description": "パラメータで与えられたイラストを投稿します"
      }
    },
    "/accounts/login/line": {
      "post": {
        "summary": "Login with line",
        "operationId": "loginWithLine",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginWithLineResponse"
                }
              }
            }
          }
        },
        "description": "LINEアカウントを使ってログインする際にコールバックするエンドポイント\n(サイト内以外からこちらにリクエストすることはできません)",
        "tags": [
          "accounts"
        ]
      }
    },
    "/accounts/{accountID}/connect/line": {
      "parameters": [
        {
          "schema": {
            "type": "number"
          },
          "name": "accountID",
          "in": "path",
          "required": true
        }
      ],
      "post": {
        "summary": "Connect to line account (for site)",
        "operationId": "connectLineAccount",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "LINEアカウントにアカウントを連携する際にコールバックするエンドポイント\n(サイト内以外からこちらにリクエストすることはできません)",
        "tags": [
          "accounts"
        ]
      }
    },
    "/accounts/{accountID}/connect/telegram": {
      "parameters": [
        {
          "schema": {
            "type": "number"
          },
          "name": "accountID",
          "in": "path",
          "required": true
        }
      ],
      "post": {
        "summary": "Connect to telegram account (for site)",
        "operationId": "connectTelegramAccount",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Telegramアカウントにアカウントを連携する際にコールバックするエンドポイント\n(サイト内以外からこちらにリクエストすることはできません)",
        "tags": [
          "accounts"
        ]
      }
    },
    "/accounts/{accountID}/connect/line_notify": {
      "parameters": [
        {
          "schema": {
            "type": "number"
          },
          "name": "accountID",
          "in": "path",
          "required": true
        }
      ],
      "post": {
        "summary": "Connect to line notify (for site)",
        "operationId": "connectLineNotify",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "description": "Line Notifyにアカウントを連携する際にコールバックするエンドポイント\n(サイト内以外からこちらにリクエストすることはできません)",
        "tags": [
          "accounts"
        ]
      }
    },
    "/search/uploaders": {
      "get": {
        "summary": "Search by uploader",
        "tags": [
          "search"
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "operationId": "searchArtByUploader",
        "description": "指定した投稿者のイラスト一覧を取得します"
      }
    }
  },
  "components": {
    "schemas": {
      "SearchResult": {
        "title": "SearchResult",
        "type": "object",
        "x-examples": {
          "example-1": {
            "illustID": 0,
            "artistID": 0,
            "title": "string",
            "caption": "string",
            "date": "string",
            "pages": 0,
            "like": 0,
            "mylist": 0,
            "mylisted": true,
            "originUrl": "string",
            "originService": "string",
            "nsfw": false,
            "artist": {
              "name": "string"
            },
            "extension": "string"
          }
        },
        "description": "検索の応答モデル。配列で並んで返される。",
        "properties": {
          "illustID": {
            "type": "number",
            "description": "イラストID"
          },
          "artistID": {
            "type": "number",
            "description": "絵師ID(前との互換のために用意、非推奨)"
          },
          "title": {
[...]
