openapi: 3.0.0
info:
  title: Gochiira Backend v3 API
  version: '1.0'
  contact:
    name: Omado
    url: 'https://twitter.com/shallow_omado'
    email: dsgamer777@gmail.com
  termsOfService: 'https://illust.gochiusa.team/terms'
  description: |-
    ごちイラ内でメインに使用されているAPI。
    現在Bot、ガチャ、フロントエンド の 3箇所で使用中。
  license:
    name: GPLv3
    url: 'https://www.gnu.org/licenses/gpl-3.0.ja.html'
servers:
  - url: 'https://api.gochiusa.team'
    description: Prod
  - url: 'http://127.0.0.1:8080'
    description: Dev
paths:
  /accounts:
    post:
      summary: Create account
      operationId: createAccount
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountStruct'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
      tags:
        - accounts
      description: 新しいアカウントを作成します
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountStruct'
  '/accounts/{accountID}':
    parameters:
      - schema:
          type: integer
        name: accountID
        in: path
        required: true
        description: 取得したいユーザーのアカウントID
    get:
      summary: Get user info
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountStruct'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
      operationId: getAccount
      description: ユーザーのアカウント情報を取得します
      tags:
        - accounts
    put:
      summary: Edit user info
      operationId: editAccount
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountStruct'
              examples: {}
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
      tags:
        - accounts
      description: |-
        アカウント情報を編集します
        (本人または管理者のみがリクエストできます)
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountStruct'
            examples:
              example:
                value:
                  userDisplayID: omado
                  userName: お窓
                  userPassword: kafuuch1n0
                  userOldPassword: h0t0c0c0a
                  userFavorite: 1
                  userTheme: 0
                  userPermission: 0
                  userLineID: dosugamea
                  userTwitterID: shallow_omado
        description: |-
          ユーザー本人、もしくは管理者のみデータを変更できます
          変更したいカラムを与え、値に変更後の値を与えると変更できます
          パスワードを変更する場合のみ、例外的に現在のパスワードが要求されます
    delete:
      summary: Delete user info
      operationId: deleteAccount
      description: |-
        アカウントを削除します
        (本人または管理者のみがリクエストできます)
      tags:
        - accounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteAccountRequest'
        description: 危険な操作のため、パスワードが必要になります
      responses:
        '204':
          description: No Content
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
              examples: {}
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
  '/accounts/{accountID}/upload_history':
    parameters:
      - schema:
          type: integer
        name: accountID
        in: path
        required: true
        description: 取得したいユーザーのアカウントID
    get:
      summary: Get upload history
      tags:
        - accounts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUploadHistoryResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
      operationId: getUploadHistory
      description: イラスト投稿履歴を取得します
      parameters:
        - $ref: '#/components/parameters/SearchQueryPage'
        - schema:
            type: string
            enum:
              - d
            example: d
            minLength: 1
            maxLength: 1
          in: query
          name: sort
          description: 'ソート方法 d:最終更新'
        - $ref: '#/components/parameters/SearchQueryOrder'
  /token/generate:
    parameters: []
    post:
      summary: Reissue api key
      operationId: reissueToken
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostGenerateTokenResponse'
      description: Bot等向けの長期間有効なアクセストークンを生成します
      tags:
        - token
  /accounts/me:
    get:
      summary: Get user info (self)
      tags:
        - accounts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountStruct'
      operationId: getSelfAccount
      description: |-
        自分自身にまつわる情報をすべて取得します
        通常、ログイン時に一度だけ呼び出されます
    parameters: []
  /accounts/login/form:
    post:
      summary: Login with form
      tags:
        - accounts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostLoginWithFormResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
      operationId: loginWithForm
      description: IDとパスワードを用いてユーザー認証し、APIトークンを発行します
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostLoginWithFormRequest'
            examples:
              user:
                value:
                  id: test_user
                  password: this_is_only_for_test
              admin:
                value:
                  id: test_admin
                  password: this_is_only_for_test
        description: ユーザーIDとパスワードをパラメータに取ります
  /catalog/artists:
    get:
      summary: Get artist list
      tags:
        - catalog
      responses:
        '200':
          description: ヒットしたデータが応答のdata->contentsに配列で返却されます
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCatalogArtistResponse'
              examples: {}
      operationId: getArtistList
      description: 絵師一覧を取得します
      parameters:
        - $ref: '#/components/parameters/SearchQueryPage'
        - $ref: '#/components/parameters/SearchQuerySortCatalog'
        - $ref: '#/components/parameters/SearchQueryOrder'
        - $ref: '#/components/parameters/SearchQueryPerPage'
    parameters: []
  /catalog/tags:
    get:
      summary: Get tag list
      tags:
        - catalog
      responses:
        '200':
          description: ヒットしたデータが応答のdata->contentsに配列で返却されます
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCatalogTagResponse'
              examples: {}
      operationId: getTagList
      description: タグ一覧を取得します
      parameters:
        - $ref: '#/components/parameters/SearchQueryPage'
        - $ref: '#/components/parameters/SearchQuerySortCatalog'
        - $ref: '#/components/parameters/SearchQueryOrder'
        - $ref: '#/components/parameters/SearchQueryPerPage'
    parameters: []
  /catalog/characters:
    get:
      summary: Get character list
      tags:
        - catalog
      responses:
        '200':
          description: ヒットしたデータが応答のdata->contentsに配列で返却されます
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCatalogTagResponse'
              examples: {}
      operationId: getCharacterList
      description: キャラクター一覧を取得します
      parameters:
        - $ref: '#/components/parameters/SearchQueryPage'
        - $ref: '#/components/parameters/SearchQuerySortCatalog'
        - $ref: '#/components/parameters/SearchQueryOrder'
        - $ref: '#/components/parameters/SearchQueryPerPage'
  '/arts/{illustID}':
    parameters:
      - schema:
          type: integer
        name: illustID
        in: path
        required: true
        description: 取得したいイラストのID
    get:
      summary: Get art info
      tags:
        - arts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtStruct'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
        '451':
          description: Unavailable For Legal Reasons
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
      operationId: getArt
      description: 指定したイラストを取得します
    put:
      summary: Edit art
      operationId: put-arts-illustID
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtStruct'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
      description: |-
        指定したイラストの情報を編集します
        パラメータで与えられたデータに応じて柔軟に
        絵師名・タグ・キャラクター等を同時に書き換えます
      tags:
        - arts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArtStruct'
        description: ''
    delete:
      summary: Delete art
      operationId: delete-arts-illustID
      responses:
        '204':
          description: No Content
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
      description: |-
        指定したイラストを削除します
        削除してほしくないため非推奨とします
        (このエンドポイントから削除したイラストは
        参照が不可能になるだけであり一定日数サーバー上に残されます)
      deprecated: true
      tags:
        - arts
  /navigations/characters:
    get:
      summary: Get character navigation tab (for site)
      tags:
        - navigations
      responses:
        '200':
          description: 応答のdataに配列で返却されます
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetNavigationGeneralResponse'
              examples: {}
      operationId: getCharacterNavigation
      description: |-
        イラスト数の多いキャラクター上位5件を取得します
        サイト内上部 ナビゲーションメニューで使用しています
  /navigations/artists:
    get:
      summary: Get artist navigation tab (for site)
      tags:
        - navigations
      responses:
        '200':
          description: 応答のdataに配列で返却されます
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetNavigationGeneralResponse'
              examples: {}
      operationId: getArtistNavigation
      description: |-
        イラスト数の多い絵師上位5件を取得します
        サイト内上部 ナビゲーションメニューで使用しています
  /navigations/tags:
    get:
      summary: Get tag navigation tab (for site)
      tags:
        - navigations
      responses:
        '200':
          description: 応答のdataに配列で返却されます
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetNavigationGeneralResponse'
              examples: {}
      operationId: getTagNavigation
      description: |-
        イラスト数の多いタグ上位5件を取得します
        サイト内上部 ナビゲーションメニューで使用しています
  /navigations/uploaders:
    get:
      summary: Get uploader navigation tab (for site)
      tags:
        - navigations
      responses:
        '200':
          description: 応答のdataに配列で返却されます
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetNavigationGeneralResponse'
              examples: {}
      operationId: getUploaderNavigation
      description: |-
        イラスト数の多い投稿者上位5件を取得します
        サイト内上部 ナビゲーションメニューで使用しています
  '/news/{newsID}':
    parameters:
      - schema:
          type: integer
          minimum: 1
          exclusiveMinimum: true
        name: newsID
        in: path
        required: true
    get:
      summary: Get news
      tags:
        - news
      responses:
        '200':
          description: 応答のdataに返却されます
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewsStruct'
              examples: {}
        '404':
          description: Not Found
      operationId: getNews
      description: 指定したニュースの内容を取得します
    delete:
      summary: Delete news
      operationId: deleteNews
      responses:
        '204':
          description: No Content
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
        - news
      description: |-
        指定したニュースを削除します
        管理者のみリクエストできます
    put:
      summary: Edit news
      operationId: editNews
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewsStruct'
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
        - news
      description: |-
        指定したニュースのタイトル/本文/カラーを編集します
        管理者のみリクエストできます
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewsStruct'
  '/mylists/{mylistID}':
    parameters:
      - schema:
          type: integer
        name: mylistID
        in: path
        required: true
    get:
      summary: Get mylist data
      tags:
        - mylist
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MylistStruct'
              examples: {}
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
      operationId: getMylist
      description: 指定したマイリストに登録されたイラスト一覧を取得します
      parameters: []
    put:
      summary: Edit mylist
      operationId: editMylist
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MylistStruct'
        '403':
          description: Forbidden
        '404':
          description: Not Found
      description: マイリストのタイトル/説明文/内容(イラスト)を編集します
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MylistStruct'
        description: 変更したいものを指定してリクエストします
      tags:
        - mylist
    delete:
      summary: Delete mylist
      operationId: deleteMylist
      description: マイリストを削除します
      tags:
        - mylist
      responses:
        '204':
          description: No Content
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
  /search/tag:
    get:
      summary: Search by tag
      tags:
        - search
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSearchGeneralResponse'
              examples: {}
      operationId: searchArtByTag
      description: 指定したタグを持つイラスト一覧を取得します
      parameters:
        - $ref: '#/components/parameters/SearchQuerySort'
        - $ref: '#/components/parameters/SearchQueryOrder'
        - $ref: '#/components/parameters/SearchQueryPage'
        - schema:
            type: integer
          in: query
          name: id
          description: タグID
          required: true
        - $ref: '#/components/parameters/SearchQueryMylistAllow'
        - $ref: '#/components/parameters/SearchQueryPerPage'
  /search/artist:
    get:
      summary: Search by artist
      tags:
        - search
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSearchGeneralResponse'
              examples:
                example:
                  value:
                    status: 200
                    message: found
                    data:
                      title: みふね
                      count: 4
                      current: 1
                      pages: 1
                      imgs:
                        - illustID: 4
                          artistID: 1
                          title: 社畜のイラスト
                          caption: 会社に飼い慣らされ家畜のように扱われている男性会社員（サラリーマン）、俗にいう社畜のイラストです。
                          date: '2021-01-07 14:53:43'
                          pages: 1
                          like: 1
                          mylist: 0
                          mylisted: false
                          originUrl: '?page=1'
                          originService: 独自
                          nsfw: false
                          artist:
                            id: 1
                            name: みふね
                          extension: png
                        - illustID: 3
                          artistID: 1
                          title: なかなか当たらないガチャのイラスト
                          caption: 当たりが出る確率がとても低いガチャガチャを回し続けている人のイラストです。
                          date: '2021-01-07 14:51:59'
                          pages: 1
                          like: 1
                          mylist: 0
                          mylisted: false
                          originUrl: 'https://www.irasutoya.com/2016/02/blog-post_256.html?page=1'
                          originService: 独自
                          nsfw: false
                          artist:
                            id: 1
                            name: みふね
                          extension: png
                        - illustID: 2
                          artistID: 1
                          title: 単位を落とす学生のイラスト（男性）
                          caption: 大学生の男の子が単位を落として焦っているイラストです。
                          date: '2021-01-07 12:53:04'
                          pages: 1
                          like: 2
                          mylist: 0
                          mylisted: false
                          originUrl: 'https://www.irasutoya.com/2016/10/blog-post_23.html?page=1'
                          originService: 独自
                          nsfw: false
                          artist:
                            id: 1
                            name: みふね
                          extension: png
                        - illustID: 1
                          artistID: 1
                          title: パソコンのキャラクター（ノートパソコン）(笑顔)
                          caption: |
                            快調に動く笑顔のノート型のコンピューターと、壊れて困った顔をしているコンピューターのイラストです。
                          date: '2021-01-07 12:31:01'
                          pages: 1
                          like: 53
                          mylist: 1
                          mylisted: false
                          originUrl: 'https://www.irasutoya.com/2017/01/blog-post_792.html?page=1'
                          originService: 独自
                          nsfw: false
                          artist:
                            id: 1
                            name: みふね
                          extension: png
      operationId: searchArtByArtist
      description: 指定した絵師のイラスト一覧を取得します
      parameters:
        - $ref: '#/components/parameters/SearchQuerySort'
        - $ref: '#/components/parameters/SearchQueryOrder'
        - $ref: '#/components/parameters/SearchQueryPage'
        - schema:
            type: integer
          in: query
          name: id
          description: 絵師ID
          required: true
        - $ref: '#/components/parameters/SearchQueryMylistAllow'
        - $ref: '#/components/parameters/SearchQueryPerPage'
  /search/mylist:
    get:
      summary: Search by mylist
      tags:
        - search
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSearchGeneralResponse'
              examples:
                example:
                  value:
                    status: 200
                    message: found
                    data:
                      title: みふね
                      count: 4
                      current: 1
                      pages: 1
                      imgs:
                        - illustID: 4
                          artistID: 1
                          title: 社畜のイラスト
                          caption: 会社に飼い慣らされ家畜のように扱われている男性会社員（サラリーマン）、俗にいう社畜のイラストです。
                          date: '2021-01-07 14:53:43'
                          pages: 1
                          like: 1
                          mylist: 0
                          mylisted: false
                          originUrl: '?page=1'
                          originService: 独自
                          nsfw: false
                          artist:
                            id: 1
                            name: みふね
                          extension: png
                        - illustID: 3
                          artistID: 1
                          title: なかなか当たらないガチャのイラスト
                          caption: 当たりが出る確率がとても低いガチャガチャを回し続けている人のイラストです。
                          date: '2021-01-07 14:51:59'
                          pages: 1
                          like: 1
                          mylist: 0
                          mylisted: false
                          originUrl: 'https://www.irasutoya.com/2016/02/blog-post_256.html?page=1'
                          originService: 独自
                          nsfw: false
                          artist:
                            id: 1
                            name: みふね
                          extension: png
                        - illustID: 2
                          artistID: 1
                          title: 単位を落とす学生のイラスト（男性）
                          caption: 大学生の男の子が単位を落として焦っているイラストです。
                          date: '2021-01-07 12:53:04'
                          pages: 1
                          like: 2
                          mylist: 0
                          mylisted: false
                          originUrl: 'https://www.irasutoya.com/2016/10/blog-post_23.html?page=1'
                          originService: 独自
                          nsfw: false
                          artist:
                            id: 1
                            name: みふね
                          extension: png
                        - illustID: 1
                          artistID: 1
                          title: パソコンのキャラクター（ノートパソコン）(笑顔)
                          caption: |
                            快調に動く笑顔のノート型のコンピューターと、壊れて困った顔をしているコンピューターのイラストです。
                          date: '2021-01-07 12:31:01'
                          pages: 1
                          like: 53
                          mylist: 1
                          mylisted: false
                          originUrl: 'https://www.irasutoya.com/2017/01/blog-post_792.html?page=1'
                          originService: 独自
                          nsfw: false
                          artist:
                            id: 1
                            name: みふね
                          extension: png
        '403':
          description: Forbidden
      operationId: searchArtByMylist
      description: 指定したマイリストのイラスト一覧を取得します
      parameters:
        - $ref: '#/components/parameters/SearchQuerySort'
        - $ref: '#/components/parameters/SearchQueryOrder'
        - $ref: '#/components/parameters/SearchQueryPage'
        - schema:
            type: integer
          in: query
          name: id
          description: マイリストID
          required: true
        - $ref: '#/components/parameters/SearchQueryMylistAllow'
        - $ref: '#/components/parameters/SearchQueryPerPage'
  /search/keyword:
    get:
      summary: Search by keyword
      tags:
        - search
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSearchGeneralResponse'
              examples:
                example:
                  value:
                    status: 200
                    message: found
                    data:
                      title: cafe
                      count: 1
                      current: 1
                      pages: 1
                      imgs:
                        - illustID: 6
                          artistID: 3
                          title: Cafe Image
                          caption: Ready for the breakfast rush to start
                          date: '2021-01-07 15:01:01'
                          pages: 1
                          like: 1
                          mylist: 0
                          mylisted: false
                          originUrl: 'https://unsplash.com/photos/dwQRixazu9I?page=1'
                          originService: 独自
                          nsfw: false
                          artist:
                            id: 3
                            name: Andy Falconer
                          extension: jpg
      operationId: searchArtByKeyword
      description: 指定したキーワードを含むイラスト一覧を取得します
      parameters:
        - $ref: '#/components/parameters/SearchQuerySort'
        - $ref: '#/components/parameters/SearchQueryOrder'
        - $ref: '#/components/parameters/SearchQueryPage'
        - schema:
            type: string
            example: cafe
          in: query
          name: keyword
          description: 検索対象ワード
          required: true
        - $ref: '#/components/parameters/SearchQueryMylistAllow'
        - $ref: '#/components/parameters/SearchQueryPerPage'
  /search/all:
    get:
      summary: Search all arts
      tags:
        - search
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSearchGeneralResponse'
              examples:
                example:
                  value:
                    status: 200
                    message: found
                    data:
                      title: 全て
                      count: 8
                      current: 1
                      pages: 1
                      imgs:
                        - illustID: 8
                          artistID: 5
                          title: tea pours into white teacup photo
                          caption: ''
                          date: '2021-01-07 15:16:58'
                          pages: 1
                          like: 1
                          mylist: 0
                          mylisted: false
                          originUrl: 'https://unsplash.com/photos/oBoELXgJR1w?page=1'
                          originService: 独自
                          nsfw: false
                          artist:
                            id: 5
                            name: CHI CHEN
                          extension: jpg
                        - illustID: 7
                          artistID: 4
                          title: clear glass cup with tea near brown ceramic teapot
                          caption: ''
                          date: '2021-01-07 15:15:28'
                          pages: 1
                          like: 1
                          mylist: 1
                          mylisted: true
                          originUrl: 'https://unsplash.com/photos/L82-kkEBOd0?page=1'
                          originService: 独自
                          nsfw: false
                          artist:
                            id: 4
                            name: Manki Kim
                          extension: jpg
                        - illustID: 6
                          artistID: 3
                          title: Cafe Image
                          caption: Ready for the breakfast rush to start
                          date: '2021-01-07 15:01:01'
                          pages: 1
                          like: 1
                          mylist: 0
                          mylisted: false
                          originUrl: 'https://unsplash.com/photos/dwQRixazu9I?page=1'
                          originService: 独自
                          nsfw: false
                          artist:
                            id: 3
                            name: Andy Falconer
                          extension: jpg
                        - illustID: 5
                          artistID: 2
                          title: top view photography of heart latte coffee photo
                          caption: Cappuccino in a bed of fresh roasted coffee beans.
                          date: '2021-01-07 14:56:37'
                          pages: 1
                          like: 1
                          mylist: 0
                          mylisted: false
                          originUrl: 'https://unsplash.com/photos/XOhI_kW_TaM?page=1'
                          originService: 独自
                          nsfw: false
                          artist:
                            id: 2
                            name: Nathan Dumlao
                          extension: jpg
                        - illustID: 4
                          artistID: 1
                          title: 社畜のイラスト
                          caption: 会社に飼い慣らされ家畜のように扱われている男性会社員（サラリーマン）、俗にいう社畜のイラストです。
                          date: '2021-01-07 14:53:43'
                          pages: 1
                          like: 1
                          mylist: 0
                          mylisted: false
                          originUrl: '?page=1'
                          originService: 独自
                          nsfw: false
                          artist:
                            id: 1
                            name: みふね
                          extension: png
                        - illustID: 3
                          artistID: 1
                          title: なかなか当たらないガチャのイラスト
                          caption: 当たりが出る確率がとても低いガチャガチャを回し続けている人のイラストです。
                          date: '2021-01-07 14:51:59'
                          pages: 1
                          like: 1
                          mylist: 0
                          mylisted: false
                          originUrl: 'https://www.irasutoya.com/2016/02/blog-post_256.html?page=1'
                          originService: 独自
                          nsfw: false
                          artist:
                            id: 1
                            name: みふね
                          extension: png
                        - illustID: 2
                          artistID: 1
                          title: 単位を落とす学生のイラスト（男性）
                          caption: 大学生の男の子が単位を落として焦っているイラストです。
                          date: '2021-01-07 12:53:04'
                          pages: 1
                          like: 2
                          mylist: 0
                          mylisted: false
                          originUrl: 'https://www.irasutoya.com/2016/10/blog-post_23.html?page=1'
                          originService: 独自
                          nsfw: false
                          artist:
                            id: 1
                            name: みふね
                          extension: png
                        - illustID: 1
                          artistID: 1
                          title: パソコンのキャラクター（ノートパソコン）(笑顔)
                          caption: |
                            快調に動く笑顔のノート型のコンピューターと、壊れて困った顔をしているコンピューターのイラストです。
                          date: '2021-01-07 12:31:01'
                          pages: 1
                          like: 53
                          mylist: 1
                          mylisted: false
                          originUrl: 'https://www.irasutoya.com/2017/01/blog-post_792.html?page=1'
                          originService: 独自
                          nsfw: false
                          artist:
                            id: 1
                            name: みふね
                          extension: png
      operationId: searchArtByAll
      description: 登録されたイラスト一覧を取得します
      parameters:
        - $ref: '#/components/parameters/SearchQuerySort'
        - $ref: '#/components/parameters/SearchQueryOrder'
        - $ref: '#/components/parameters/SearchQueryPage'
        - $ref: '#/components/parameters/SearchQueryMylistAllow'
        - $ref: '#/components/parameters/SearchQueryPerPage'
  /search/random:
    get:
      summary: Search by random
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSearchGeneralResponse'
      operationId: searchArtByRandom
      description: ランダムなイラストを1つ取得します
      tags:
        - search
      parameters:
        - $ref: '#/components/parameters/SearchQueryMylistAllow'
        - $ref: '#/components/parameters/SearchQueryPerPage'
  /search/image/self:
    post:
      summary: Search by image
      tags:
        - search
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostSearchByImageResponse'
      operationId: searchArtByImage
      description: 画像からごちイラ内に登録されたイラストを検索します
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostSearchByImageRequest'
    parameters: []
  /search/image/saucenao:
    post:
      summary: Search by image at saucenao
      tags:
        - search
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostSearchByImageAtSauceNaoResponse'
      operationId: searchArtByImageUsingSaucenao
      description: 画像からSauceNAOに登録されたイラストを検索します
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostSearchByImageRequest'
  /artists:
    post:
      summary: Create artist
      operationId: createArtist
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtistStruct'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
      description: |-
        新しい絵師を生成します(イラスト投稿時に存在しなければ自動で作成されるため
        直接操作する必要はありません)
      deprecated: true
      tags:
        - artists
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArtistStruct'
  '/artists/{artistID}':
    get:
      summary: Get artist
      tags:
        - artists
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtistStruct'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
      operationId: getArtist
      description: 指定した絵師の情報を取得します。存在しない情報欄にはnullが入ります。
    parameters:
      - schema:
          type: integer
        name: artistID
        in: path
        required: true
        description: 対象の絵師ID
    delete:
      summary: Delete artist
      operationId: deleteArtist
      responses:
        '204':
          description: No Content
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
      description: |-
        指定した絵師の情報を削除します
        (イラストによって参照されていない場合のみ削除できるため、通常利用機会はありません)
      deprecated: true
      tags:
        - artists
    put:
      summary: Edit artist
      operationId: editArtist
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtistStruct'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
      description: |-
        指定した絵師の情報を置き換えます。
        リクエストで指定されたパラメータだけを置き換えます。
      tags:
        - artists
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArtistStruct'
        description: ''
  '/arts/{illustID}/replace':
    parameters:
      - schema:
          type: integer
        name: illustID
        in: path
        required: true
        description: 置き換えしたい(画質が低い方の)イラストID
    put:
      summary: Combine art info
      operationId: replaceArt
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
      tags:
        - arts
      description: |-
        パスパラメータで指定された低画質なイラストに対して
        クエリパラメータで指定されたより画質の良いイラストで統合(置き換え)処理を行います。
        画質が低い方のいいね・タグ・出典・コメントが画質が高い方のイラストに対して統合されます。
        置き換えられた画質が低い方のイラストは検索結果に表示されなくなりますが、IDを直接指定すれば閲覧できる状態で残ります。
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostReplaceArtRequest'
  '/arts/{illustID}/replace_simulate':
    parameters:
      - schema:
          type: integer
        name: illustID
        in: path
        required: true
        description: 置き換えしたい(画質が低い方の)イラストID
    put:
      summary: Combine art info(simulate)
      operationId: replaceArtSimulate
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostReplaceArtSimulateResponse'
        '400':
          description: Bad Request
        '404':
          description: Not Found
      tags:
        - arts
      description: |-
        パスパラメータで指定された低画質なイラストに対して
        クエリパラメータで指定されたより画質の良いイラストで統合(置き換え)処理の検証を行います。
        画質が低い方のいいね・タグ・出典・コメントが画質が高い方のイラストに対して統合されます。
        置き換えられた画質が低い方のイラストは検索結果に表示されなくなりますが、IDを直接指定すれば閲覧できる状態で残ります。
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostReplaceArtRequest'
  '/arts/{illustID}/tags':
    get:
      summary: Get art tags
      tags:
        - arts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetArtTagsResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
      operationId: getArtTags
      description: 指定したイラストに付いているタグのみを一覧で取得します
    parameters:
      - schema:
          type: integer
        name: illustID
        in: path
        required: true
        description: 対象のイラストID
    put:
      summary: Edit art tags
      operationId: editArtTags
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetArtTagsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
      description: |-
        指定したイラストのタグ一覧に、与えられたIDのタグを追加します
        (イラスト本体の編集時に付けられたタグ名から
        自動的にタグIDを引き出し追加/削除を行う処理が追加されたため
        こちらのエンドポイントを使用する必要はありません)
      tags:
        - arts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutArtTagsRequest'
    delete:
      summary: Delete art tag
      operationId: deleteArtTags
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetArtTagsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
      description: |-
        指定したイラストのタグ一覧から、与えられたIDのタグを削除します
        (イラスト本体の編集時に付けられたタグ名から
        自動的にタグIDを引き出し追加/削除を行う処理が追加されたため
        こちらのエンドポイントを使用する必要はありません)
      deprecated: true
      tags:
        - arts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutArtTagsRequest'
  '/arts/{illustID}/likes/{likeType}':
    parameters:
      - schema:
          type: integer
        name: illustID
        in: path
        required: true
        description: いいねしたいイラストのID
      - schema:
          type: string
          enum:
            - yellow
            - green
            - red
            - blue
          default: yellow
          example: yellow
        name: likeType
        in: path
        required: true
        description: いいね種別
    put:
      summary: Plus art like (with using star)
      operationId: addArtLikeByStar
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetArtLikesResponse'
        '402':
          description: Payment Required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
      tags:
        - arts
      description: |-
        指定したイラストのいいね数を1増加させます
        いいねする都度、likeTypeに指定されたスターを消費します
        (ToyMoneyApiに問い合わせを行った上で増加処理を行うため若干時間がかかります)
    get:
      summary: Get art likes with specify type
      operationId: getArtLikesWithType
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetArtLikesResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
      description: 指定したイラストのいいねを取得します
      tags:
        - arts
  '/arts/{illustID}/likes':
    parameters:
      - schema:
          type: integer
        name: illustID
        in: path
        required: true
        description: いいねしたいイラストのID
    get:
      summary: Get art likes with specify type
      operationId: getArtLikes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetArtAllLikesResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
      description: 指定したイラストのいいねを取得します
      tags:
        - arts
  '/arts/{illustID}/views':
    parameters:
      - schema:
          type: integer
        name: illustID
        in: path
        required: true
        description: 閲覧したイラストのID
    put:
      summary: Plus art view
      operationId: addArtView
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetArtViewsResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
      tags:
        - arts
      description: |-
        指定したイラストの閲覧回数を1増加させます
        同一アカウントからのイラスト閲覧は1日1回のみカウントされます
    get:
      summary: Get art views
      operationId: getArtViews
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetArtViewsResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
      description: 指定したイラストの閲覧回数のみを取得します
      tags:
        - arts
  '/arts/{illustID}/comments':
    parameters:
      - schema:
          type: integer
        name: illustID
        in: path
        required: true
        description: 対象のイラストID
    get:
      summary: Get art comments
      tags:
        - arts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetArtCommentsResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
      operationId: getArtComments
      description: 指定したイラストに付いているコメントのみを一覧で取得します
    post:
      summary: Add art comment
      operationId: addArtComment
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentStruct'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
      description: 指定したイラストにコメントを追加します
      tags:
        - arts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommentEditStruct'
  '/arts/{illustID}/comments/{commentID}':
    parameters:
      - schema:
          type: integer
        name: illustID
        in: path
        required: true
        description: 対象のイラストID
      - schema:
          type: integer
        name: commentID
        in: path
        required: true
        description: 編集したいコメントのID
    put:
      summary: Edit art comment
      operationId: editArtCommentById
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentStruct'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
      tags:
        - arts
      description: |-
        指定したイラストに付けたコメントを編集します
        (ActivityPubを使用している場合、編集後の内容が再投稿されます)
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommentEditStruct'
    delete:
      summary: Delete art comment
      operationId: deleteArtCommentById
      responses:
        '204':
          description: No Content
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
      description: 指定したイラストに付けたコメントを削除します
      tags:
        - arts
    get:
      summary: Get art comment
      operationId: getArtCommentById
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentStruct'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
      description: 指定したイラストに付いている、指定されたIDのコメントを取得します
      tags:
        - arts
  /arts:
    post:
      summary: Create art
      operationId: addArt
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtStruct'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
      tags:
        - arts
      description: パラメータで与えられたイラストを投稿します
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArtStruct'
  /search/uploaders:
    get:
      summary: Search by uploader
      tags:
        - search
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSearchGeneralResponse'
      operationId: searchArtByUploader
      description: 指定した投稿者のイラスト一覧を取得します
      parameters:
        - $ref: '#/components/parameters/SearchQuerySort'
        - $ref: '#/components/parameters/SearchQueryOrder'
        - $ref: '#/components/parameters/SearchQueryPage'
        - $ref: '#/components/parameters/SearchQueryMylistAllow'
  /catalog/uploaders:
    get:
      summary: Get uploader list
      tags:
        - catalog
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCatalogUploaderResponse'
      operationId: getUploaderList
      description: 投稿者一覧を取得します
      parameters:
        - $ref: '#/components/parameters/SearchQueryPage'
        - $ref: '#/components/parameters/SearchQuerySort'
        - $ref: '#/components/parameters/SearchQueryOrder'
        - $ref: '#/components/parameters/SearchQueryPerPage'
  /invites:
    post:
      summary: Create invitation
      operationId: createInvitation
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteStruct'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
      tags:
        - invites
      description: |-
        招待コードを発行します、一般ユーザーは1人につき1コードまで作成できます。
        管理者はcode/countを指定すると任意のコードを指定数作成できます。
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteStruct'
  '/mylists/{mylistID}/finds':
    parameters:
      - schema:
          type: integer
        name: mylistID
        in: path
        required: true
    post:
      summary: Find arts registered
      operationId: findInMylistByIds
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostMylistFindsResponse'
      description: |-
        指定したイラスト(単数/複数)がマイリストに含まれているかを判定します
        検索リクエストでwith_mylisted=0としている場合、必要となる可能性があります
      tags:
        - mylist
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostMylistFindsRequest'
  /news:
    post:
      summary: Add news
      operationId: addNews
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewsStruct'
      description: |-
        ニュースを追加します
        (管理者のみリクエストできます)
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewsStruct'
      tags:
        - news
    get:
      summary: Get all news
      operationId: get-news
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetNewsListResponse'
      description: ニュース一覧を取得します
      tags:
        - news
  '/accounts/{accountID}/notify/clients':
    get:
      summary: Get notify clients
      tags:
        - notify
      operationId: getNotifyClients
      description: 現在のユーザーが設定済みの通知クライアント一覧を取得します
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetNotifyClientsResponse'
      parameters:
        - schema:
            type: integer
          in: query
          name: type
          description: '0:全て 1:LineNotify 2:WebPush'
    parameters:
      - schema:
          type: string
        name: accountID
        in: path
        required: true
  '/accounts/{accountID}/notify/clients/web':
    post:
      summary: Register webpush notify client
      operationId: registerWebNotifyClient
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotifyClientStruct'
      description: |-
        クライアント側で作成したパブリック/プライベートVAPIDキーを
        userID、クライアント名、通知レベルと共にサーバーのデータベースに登録し
        通知クライアントの1種として保存する(何個でも設定できる)
      tags:
        - notify
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostRegisterWebPushRequest'
        description: ''
    parameters:
      - schema:
          type: string
        name: accountID
        in: path
        required: true
  '/accounts/{accountID}/notify/conditions':
    post:
      summary: Register notify condition
      operationId: registerNotifyCondition
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotifyConditionStruct'
      description: 通知条件を追加します
      tags:
        - notify
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotifyConditionStruct'
    parameters:
      - schema:
          type: string
        name: accountID
        in: path
        required: true
    get:
      summary: Get notify conditions
      operationId: getNotifyConditions
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetNotifyConditionsResponse'
      description: 通知条件一覧を取得します
      tags:
        - notify
  '/accounts/{accountID}/notify/clients/line':
    post:
      summary: Register line notify client
      operationId: registerLineNotifyClient
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotifyClientStruct'
      description: '"ユーザー発行の"LINENotifyのトークンとデバイス名をPOSTして、通知クライアントの一種として保存する。(何個でも設定できる)'
      tags:
        - notify
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostRegisterLineNotifyRequest'
    parameters:
      - schema:
          type: string
        name: accountID
        in: path
        required: true
  '/accounts/{accountID}/notify/clients/{clientID}':
    parameters:
      - schema:
          type: integer
        name: clientID
        in: path
        required: true
      - schema:
          type: string
        name: accountID
        in: path
        required: true
    get:
      summary: Get notify client
      tags:
        - notify
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotifyClientStruct'
        '403':
          description: Forbidden
        '404':
          description: Not Found
      operationId: getNotifyClient
      description: 指定した通知クライアント情報を取得します
    put:
      summary: Edit notify client
      operationId: editNotifyClient
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotifyClientStruct'
        '403':
          description: Forbidden
        '404':
          description: Not Found
      description: 指定した通知クライアント情報を編集します
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotifyClientStruct'
      tags:
        - notify
    delete:
      summary: Delete notify client
      operationId: deleteNotifyClient
      description: 指定した通知クライアントを削除します
      tags:
        - notify
      responses:
        '204':
          description: No Content
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/accounts/{accountID}/notify/conditions/{conditionID}':
    parameters:
      - schema:
          type: integer
        name: conditionID
        in: path
        required: true
      - schema:
          type: string
        name: accountID
        in: path
        required: true
    get:
      summary: Get notify condition
      tags:
        - notify
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotifyConditionStruct'
        '403':
          description: Forbidden
        '404':
          description: Not Found
      operationId: getNotifyCondition
      description: 通知条件を取得します
    put:
      summary: Edit notify condition
      operationId: editNotifyCondition
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotifyConditionStruct'
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
        - notify
      description: 通知条件を編集します
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotifyConditionStruct'
    delete:
      summary: Delete notify condition
      operationId: deleteNotifyCondition
      responses:
        '204':
          description: No Content
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
        - notify
      description: 通知条件を削除します
  /ranking/yearly/views:
    get:
      summary: Get yearly views ranking
      tags:
        - ranking
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSearchGeneralResponse'
      operationId: getYearlyViewsRanking
      parameters:
        - $ref: '#/components/parameters/SearchQueryPage'
        - $ref: '#/components/parameters/SearchQueryOrder'
        - $ref: '#/components/parameters/SearchQueryMylistDeny'
        - $ref: '#/components/parameters/SearchQueryPerPage'
      description: 年間閲覧数ランキングを取得します
  /ranking/yearly/likes:
    get:
      summary: Get yearly likes ranking
      tags:
        - ranking
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSearchGeneralResponse'
      operationId: getYearlyLikesRanking
      parameters:
        - $ref: '#/components/parameters/SearchQueryPage'
        - $ref: '#/components/parameters/SearchQueryOrder'
        - $ref: '#/components/parameters/SearchQueryMylistDeny'
        - $ref: '#/components/parameters/SearchQueryPerPage'
      description: 年間いいね数ランキングを取得します
  /ranking/monthly/views:
    get:
      summary: Get monthly views ranking
      tags:
        - ranking
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSearchGeneralResponse'
      operationId: getMonthlyViewsRanking
      parameters:
        - $ref: '#/components/parameters/SearchQueryPage'
        - $ref: '#/components/parameters/SearchQueryOrder'
        - $ref: '#/components/parameters/SearchQueryMylistDeny'
        - $ref: '#/components/parameters/SearchQueryPerPage'
      description: 月間閲覧数ランキングを取得します
  /ranking/monthly/likes:
    get:
      summary: Get monthly likes ranking
      tags:
        - ranking
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSearchGeneralResponse'
      operationId: getMonthlyLikesRanking
      parameters:
        - $ref: '#/components/parameters/SearchQueryPage'
        - $ref: '#/components/parameters/SearchQueryOrder'
        - $ref: '#/components/parameters/SearchQueryMylistDeny'
        - $ref: '#/components/parameters/SearchQueryPerPage'
      description: 月間いいね数ランキングを取得します
  /ranking/weekly/views:
    get:
      summary: Get weekly views ranking
      tags:
        - ranking
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSearchGeneralResponse'
      operationId: getWeeklyViewsRanking
      parameters:
        - $ref: '#/components/parameters/SearchQueryPage'
        - $ref: '#/components/parameters/SearchQueryOrder'
        - $ref: '#/components/parameters/SearchQueryMylistDeny'
        - $ref: '#/components/parameters/SearchQueryPerPage'
      description: 週間閲覧数ランキングを取得します
  /ranking/weekly/likes:
    get:
      summary: Get weekly likes ranking
      tags:
        - ranking
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSearchGeneralResponse'
      operationId: getWeeklyLikesRanking
      parameters:
        - $ref: '#/components/parameters/SearchQueryPage'
        - $ref: '#/components/parameters/SearchQueryOrder'
        - $ref: '#/components/parameters/SearchQueryMylistDeny'
        - $ref: '#/components/parameters/SearchQueryPerPage'
      description: 週間いいね数ランキングを取得します
  '/report/arts/{illustID}':
    parameters:
      - schema:
          type: integer
        name: illustID
        in: path
        required: true
    post:
      summary: Report art
      tags:
        - report
      operationId: reportArt
      description: |-
        指定したイラストを運営に通報します
        むやみに利用するとアカウントが停止される可能性があります
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostReportGeneralRequest'
      responses:
        '201':
          description: Created
        '400':
          description: Bad Request
  '/report/tags/{tagID}':
    parameters:
      - schema:
          type: integer
        name: tagID
        in: path
        required: true
    post:
      summary: Report tag
      tags:
        - report
      operationId: reportTag
      description: |-
        指定したタグを運営に通報します
        むやみに利用するとアカウントが停止される可能性があります
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostReportGeneralRequest'
      responses:
        '201':
          description: Created
        '400':
          description: Bad Request
  '/report/user/{accountID}':
    parameters:
      - schema:
          type: string
        name: accountID
        in: path
        required: true
    post:
      summary: Report user
      tags:
        - report
      operationId: reportUser
      description: |-
        指定したユーザーを運営に通報します
        むやみに利用するとアカウントが停止される可能性があります
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostReportGeneralRequest'
      responses:
        '201':
          description: Created
        '400':
          description: Bad Request
  '/report/wiki/{articleID}':
    parameters:
      - schema:
          type: integer
        name: articleID
        in: path
        required: true
    post:
      summary: Report article
      tags:
        - report
      responses:
        '201':
          description: Created
        '400':
          description: Bad Request
      operationId: reportArticle
      description: |-
        指定した記事を運営に通報します
        むやみに利用するとアカウントが停止される可能性があります
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostReportGeneralRequest'
  /scrape:
    post:
      summary: Scrape content
      operationId: scrapeContent
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostScrapeResponse'
      tags:
        - scrape
      description: |-
        渡されたURLのページ情報をスクレイピングします
        むやみに利用するとアカウントが停止される可能性があります
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostScrapeRequest'
  /upload:
    post:
      summary: Upload content
      operationId: uploadContent
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostUploadResponse'
      description: |-
        画像や動画を投稿するエンドポイントです
        むやみに利用するとアカウントが停止される可能性があります
      tags:
        - upload
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostUploadRequest'
  /search/image/ascii2d:
    get:
      summary: Search by image at ascii2d
      tags:
        - search
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostSearchByImageAtAscii2dResponse'
      operationId: searchArtByImageUsingAscii2d
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostSearchByImageRequest'
      description: 画像からAscii2dに登録されたイラストを検索します
  /search/tag/multiple:
    get:
      summary: Search by multiple tag
      tags:
        - search
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSearchGeneralResponse'
      operationId: searchArtByMultipleTag
      description: |-
        複数のタグを指定してイラストを検索します
        アカウントのレベルによって指定できる数は変動します(予定)
      parameters:
        - $ref: '#/components/parameters/SearchQuerySort'
        - $ref: '#/components/parameters/SearchQueryOrder'
        - $ref: '#/components/parameters/SearchQueryPage'
        - schema:
            type: string
          in: query
          name: id
          description: タグIDをカンマ区切りで複数指定します
        - $ref: '#/components/parameters/SearchQueryMylistAllow'
        - $ref: '#/components/parameters/SearchQueryPerPage'
    parameters: []
  /garbage_collect:
    post:
      summary: Garbage collect
      operationId: garbageCollect
      responses:
        '204':
          description: No Content
        '403':
          description: Forbidden
      description: |-
        参照されていない 絵師情報/タグ情報を削除します
        (cron等でやってもいいかもしれないですが 現在は手動)
      tags:
        - garbage_collect
  /tags:
    post:
      summary: Add tag
      operationId: addTag
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagStruct'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
      tags:
        - tags
      description: |-
        タグを追加します
        管理者のみリクエスト可能です
      deprecated: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagStruct'
  '/tags/{tagID}':
    parameters:
      - schema:
          type: integer
        name: tagID
        in: path
        required: true
    get:
      summary: Get tag
      tags:
        - tags
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagStruct'
        '404':
          description: Not Found
      operationId: getTag
      description: タグ情報を取得します
    put:
      summary: Edit tag
      operationId: editTag
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagStruct'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '404':
          description: Not Found
      tags:
        - tags
      description: |-
        タグ情報を編集します
        タグ種別の変更もできます
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagStruct'
    delete:
      summary: Delete tag
      operationId: deleteTag
      tags:
        - tags
      description: |-
        タグを削除します
        (既にイラストに属しているタグの場合削除できません)
      responses:
        '204':
          description: No Content
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '409':
          description: Conflict
  /tags/finds:
    get:
      summary: Find tags by keyword
      tags:
        - tags
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFindTagsResponse'
      operationId: findTags
      parameters:
        - schema:
            type: string
          in: query
          name: keyword
          description: 検索したいワードを指定します
      description: キーワードからタグを検索します
  '/accounts/{accountID}/timeline/follow':
    post:
      summary: Follow artist
      operationId: followArtist
      description: 絵師をフォローします
      tags:
        - timeline
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TimelineFollowStruct'
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
        '409':
          description: Conflict
    parameters:
      - schema:
          type: string
        name: accountID
        in: path
        required: true
  '/accounts/{accountID}/timeline/unfollow':
    post:
      summary: Unfollow artist
      operationId: unfollowArtist
      description: 絵師のフォローを解除します
      tags:
        - timeline
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TimelineFollowStruct'
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
        '409':
          description: Conflict
    parameters:
      - schema:
          type: string
        name: accountID
        in: path
        required: true
  /search/timeline:
    get:
      summary: Get timeline
      tags:
        - timeline
        - search
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSearchGeneralResponse'
        '403':
          description: Forbidden
      operationId: getTimeline
      parameters:
        - $ref: '#/components/parameters/SearchQuerySort'
        - $ref: '#/components/parameters/SearchQueryOrder'
        - $ref: '#/components/parameters/SearchQueryPage'
        - schema:
            type: integer
          in: query
          name: id
          description: ユーザーID
        - $ref: '#/components/parameters/SearchQueryPerPage'
      description: タイムラインを取得します
    parameters: []
  '/accounts/{accountID}/timeline':
    get:
      summary: Get timeline followings
      tags:
        - timeline
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTimelineFollowingResponse'
      operationId: getFollowing
      description: フォロー中の絵師ID一覧を取得します
    parameters:
      - schema:
          type: string
        name: accountID
        in: path
        required: true
  /wiki:
    post:
      summary: Add wiki article
      operationId: addWikiArticle
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WikiArticleStruct'
      description: Wikiの記事を作成します
      tags:
        - wiki
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WikiArticleStruct'
    get:
      summary: Get wiki articles
      operationId: getWikiArticles
      responses:
        '200':
          description: OK
      description: 全記事一覧を取得します
      tags:
        - wiki
  '/wiki/{articleID}':
    parameters:
      - schema:
          type: string
        name: articleID
        in: path
        required: true
    get:
      summary: Get wiki article
      tags:
        - wiki
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WikiArticleStruct'
        '404':
          description: Not Found
      operationId: getWikiArticle
      description: Wikiの記事を取得します
    put:
      summary: Edit wiki article
      operationId: editWikiArticle
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WikiArticleStruct'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '404':
          description: Not Found
      description: Wikiの記事を編集します
      tags:
        - wiki
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WikiArticleStruct'
    delete:
      summary: Delete wiki article
      operationId: deleteWikiArticle
      tags:
        - wiki
      description: Wikiの記事を削除します
      responses:
        '204':
          description: No Content
        '403':
          description: Forbidden
        '404':
          description: Not Found
  /wiki/find:
    get:
      summary: Find wiki article
      tags:
        - wiki
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
      operationId: findWikiArticle
      description: Wikiの記事が存在するかを確認します
      parameters:
        - schema:
            type: integer
          in: query
          name: type
          description: '対象の記事種別 0:ユーザー 1:タグ 2:絵師'
        - schema:
            type: integer
          in: query
          name: id
          description: 対象の記事ID
  '/activitypub/uploader/{accountID}/outbox':
    get:
      summary: Provide federation user message
      tags:
        - activitypub
      responses:
        '200':
          description: OK
          content:
            application/activity+json:
              schema:
                $ref: '#/components/schemas/GetActivityPubGeneralResponse'
      operationId: getActivityPubOutbox
      description: 他のサーバーがこのユーザーのメッセージを受け取るときにGETされる
    parameters:
      - schema:
          type: string
        name: accountID
        in: path
        required: true
  '/activitypub/artist/{artistID}/outbox':
    get:
      summary: Provide federation artist message
      tags:
        - activitypub
      responses:
        '200':
          description: OK
          content:
            application/activity+json:
              schema:
                $ref: '#/components/schemas/GetActivityPubGeneralResponse'
      operationId: getActivityPubArtistOutbox
      description: 他のサーバーがこのユーザーのメッセージを受け取るときにGETされる
    parameters:
      - schema:
          type: integer
        name: artistID
        in: path
        required: true
  /activitypub/server/inbox:
    post:
      summary: Recieve federation to server message
      operationId: postActivityPubServerInbox
      responses:
        '201':
          description: Created
      description: 他のサーバーがこのサーバーに向けてメッセージを送るときにPOSTされる
      tags:
        - activitypub
      requestBody:
        content:
          application/activity+json:
            schema:
              $ref: '#/components/schemas/PostActivityPubGeneralRequest'
    get:
      summary: Check federation server message
      operationId: getActivityPubServerinbox
      responses:
        '200':
          description: OK
          content:
            application/activity+json:
              schema:
                $ref: '#/components/schemas/GetActivityPubGeneralResponse'
      description: このサーバーが自分自身に来ている通知などを取得する際にGETされる
      tags:
        - activitypub
  /activitypub/server/outbox:
    get:
      summary: Provide federation server message
      tags:
        - activitypub
      responses:
        '200':
          description: OK
          content:
            application/activity+json:
              schema:
                $ref: '#/components/schemas/GetActivityPubGeneralResponse'
      operationId: getActivityPubServerOutbox
      description: 他のサーバーがこのサーバーのメッセージを受け取るときにGETされる
    post:
      summary: Send federation server message
      operationId: postActivityPubServerOutbox
      responses:
        '201':
          description: Created
      description: このサーバーが他のサーバーに向けてメッセージを送るときにPOSTされる
      tags:
        - activitypub
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostActivityPubGeneralRequest'
  '/activitypub/artist/{artistID}':
    parameters:
      - schema:
          type: string
        name: artistID
        in: path
        required: true
    get:
      summary: Get activitypub artist actor
      tags:
        - activitypub
      responses:
        '200':
          description: OK
          content:
            application/activity+json:
              schema:
                $ref: '#/components/schemas/ActivityPubActorStruct'
      operationId: get-activitypub-displayID
      description: |-
        ActivityPubのユーザー情報(絵師)を返す
        (実際使うときは https://example.com/artist/{displayID} からリダイレクト?)
  '/activitypub/uploader/{accountID}':
    parameters:
      - schema:
          type: string
        name: accountID
        in: path
        required: true
    get:
      summary: Get activitypub uploader actor
      tags:
        - activitypub
      responses:
        '200':
          description: OK
          content:
            application/activity+json:
              schema:
                $ref: '#/components/schemas/ActivityPubActorStruct'
      operationId: get-activitypub-uploader-ID
      description: |-
        ActivityPubのユーザー情報(投稿者)を返す
        (実際使うときは https://example.com/uploader/{displayID} からリダイレクト?)
  /activitypub/server:
    get:
      summary: Get activitypub server base
      tags:
        - activitypub
      responses:
        '200':
          description: OK
          content:
            application/activity+json:
              schema:
                $ref: '#/components/schemas/ActivityPubActorStruct'
      operationId: get-activitypub-server
      description: ActivityPubのユーザー情報(サーバー)を返す
  '/invites/{inviteID}':
    parameters:
      - schema:
          type: string
        name: inviteID
        in: path
        required: true
    get:
      summary: Get invite
      tags:
        - invites
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InviteStruct'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
      operationId: getInvite
      description: 指定した招待コードの情報を取得します
    delete:
      summary: Delete invite
      operationId: deleteInvite
      responses:
        '204':
          description: No Content
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
      description: 指定した招待コードを無効化します
      tags:
        - invites
  '/accounts/{accountID}/mylists':
    parameters:
      - schema:
          type: string
        name: accountID
        in: path
        required: true
    get:
      summary: Get user mylists
      tags:
        - accounts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMylistListResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
      operationId: getUserMylists
      description: 指定したユーザーのマイリスト一覧を取得します
    post:
      summary: Create user mylist
      operationId: createMylist
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MylistStruct'
        '400':
          description: Bad Request
        '403':
          description: Forbidden
        '409':
          description: Conflict
      description: マイリストを作成します
      tags:
        - mylist
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MylistStruct'
  '/accounts/{accountID}/mutes':
    parameters:
      - schema:
          type: string
        name: accountID
        in: path
        required: true
    get:
      summary: Get mute list
      tags:
        - accounts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMutesResponse'
        '403':
          description: Forbidden
        '404':
          description: Not Found
      operationId: get-accounts-accountID-mutes
      description: 指定したアカウントのユーザーのミュート一覧を取得します
    post:
      summary: Add mute
      operationId: post-accounts-accountID-mutes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MuteStruct'
      tags:
        - accounts
      description: 指定したアカウントのユーザーのミュートを追加します
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MuteStruct'
  '/accounts/{accountID}/mutes/{muteID}':
    parameters:
      - schema:
          type: string
        name: accountID
        in: path
        required: true
      - schema:
          type: string
        name: muteID
        in: path
        required: true
    get:
      summary: Get mute
      tags:
        - accounts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MuteStruct'
        '403':
          description: Forbidden
        '404':
          description: Not Found
      operationId: get-accounts-accountID-mutes-muteID
      description: 指定したミュート情報を取得します
    delete:
      summary: Delete mute
      operationId: delete-accounts-accountID-mutes-muteID
      responses:
        '204':
          description: No Content
        '403':
          description: Forbidden
        '404':
          description: Not Found
      description: 指定したミュート情報を削除します
      tags:
        - accounts
  /mylists:
    get:
      summary: Get mylist list
      tags:
        - mylist
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMylistListResponse'
      operationId: get-mylists
      description: 全ユーザーの作成したマイリスト一覧を取得します
      parameters:
        - schema:
            type: boolean
          in: query
          name: force_all
          description: 管理者の場合非公開含めて一括取得できる
  /token/verify:
    post:
      summary: Verify token
      operationId: post-token-verify
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
      tags:
        - token
      description: トークンが使用可能か検証します
  /token/revoke:
    post:
      summary: Revoke token
      operationId: post-token-revoke
      responses:
        '204':
          description: No Content
        '401':
          description: Unauthorized
      description: 発行済の長期間有効トークンを無効化します
      tags:
        - token
  /ml/predict/nsfw:
    post:
      summary: Predict image nsfw
      tags:
        - ml
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostMachineLearningGeneralResponse'
        '429':
          description: Too Many Requests
        '503':
          description: Service Unavailable
      operationId: get-prefict-nsfw
      description: |-
        指定された画像がR18かNudeNet/TensorflowLiteを使い推測します
        (管理者のみ使用可)
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostMachineLearningGeneralRequest'
    parameters: []
  /ml/predict/tags:
    post:
      summary: Predict image tags
      tags:
        - ml
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostMachineLearningGeneralResponse'
        '429':
          description: Too Many Requests
        '503':
          description: Service Unavailable
      operationId: get-ml-predict-tags
      description: |-
        指定された画像のタグをDeepDanbooruで推測します
        (管理者のみ使用可)
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostMachineLearningGeneralRequest'
  /ml/transparent:
    post:
      summary: Transparent image
      tags:
        - ml
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostMachineLearningGeneralResponse'
        '429':
          description: Too Many Requests
        '503':
          description: Service Unavailable
      operationId: get-ml-transparent
      description: |-
        指定された画像の背景をrembgまたはhttps://github.com/zymk9/Yet-Another-Anime-Segmenterを使い透過します
        (管理者のみ使用可)
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostMachineLearningGeneralRequest'
  /ml/waifu2x:
    post:
      summary: Waifu2x image
      operationId: post-ml-waifu2x
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostMachineLearningGeneralResponse'
        '429':
          description: Too Many Requests
        '503':
          description: Service Unavailable
      tags:
        - ml
      description: |-
        指定された画像をwaifu2x-converter-cpp等で拡大します
        (管理者のみ使用可)
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostMachineLearningGeneralRequest'
      parameters:
        - schema:
            type: number
            default: 2
            maximum: 3
            minimum: 1
          in: query
          name: scale
          required: true
          description: 拡大レベル
        - schema:
            type: integer
            minimum: 0
            maximum: 3
            enum:
              - 0
              - 1
              - 2
              - 3
            example: 1
            default: 1
          in: query
          name: denoise
          required: true
          description: ノイズ除去レベル
  '/ml/polling/{pollingID}':
    parameters:
      - schema:
          type: string
        name: pollingID
        in: path
        required: true
    get:
      summary: Get ml polling
      tags:
        - ml
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPollingFinishResponse'
        '304':
          description: Not Modified
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneralMessageResponse'
      operationId: get-ml-polling-pollingID
      description: |-
        処理結果が返ってくるまでここをPollingします
        1req/10s ぐらいのリクエストでお願いします
  '/ml/predict/nsfw/result/{resultID}':
    parameters:
      - schema:
          type: string
        name: resultID
        in: path
        required: true
    get:
      summary: Get nsfw predict result
      tags:
        - ml
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostPredictNsfwResponse'
        '404':
          description: Not Found
      operationId: get-ml-predict-nsfw-result-resultID
      description: |-
        NSFW推定の処理結果を返します
        結果データは1日で削除されます
  '/ml/predict/tags/result/{resultID}':
    parameters:
      - schema:
          type: string
        name: resultID
        in: path
        required: true
    get:
      summary: Get tags predict result
      tags:
        - ml
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostPredictTagsResponse'
        '404':
          description: Not Found
      operationId: get-ml-predict-tags-result-resultID
      description: |-
        タグ推定の処理結果を返します
        結果データは1日で削除されます
  '/ml/transparent/result/{resultID}':
    parameters:
      - schema:
          type: string
        name: resultID
        in: path
        required: true
    get:
      summary: Get transparent result
      tags:
        - ml
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostMachineLearningTransparentResponse'
        '404':
          description: Not Found
      operationId: get-ml-transparent-result-resultID
      description: |-
        透過の処理結果を返します
        結果画像は1日で削除されます
  '/ml/waifu2x/result/{resultID}':
    parameters:
      - schema:
          type: string
        name: resultID
        in: path
        required: true
    get:
      summary: Get waifu2x result
      tags:
        - ml
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostMachineLearningWaifu2xResponse'
        '404':
          description: Not Found
      operationId: get-ml-waifu2x-result-resultID
      description: |-
        Waifu2xの処理結果を返します
        結果画像は1日で削除されます
components:
  schemas:
    SearchResultStruct:
      title: SearchResultStruct
      type: object
      x-examples:
        example-1:
          illustID: 0
          artistID: 0
          title: string
          caption: string
          date: string
          pages: 0
          like: 0
          mylist: 0
          mylisted: true
          originUrl: string
          originService: string
          nsfw: false
          artist:
            name: string
          extension: string
      description: 検索の応答モデル。配列で並んで返される。
      properties:
        illustID:
          type: integer
          description: イラストID
        artistID:
          type: integer
          description: 絵師ID(前との互換のために用意、非推奨)
        title:
          type: string
          minLength: 1
          description: イラスト(作品)名
[...]
