{
  "openapi": "3.0.0",
  "info": {
    "title": "Accounts API",
    "version": "1.0",
    "contact": {
      "name": "Omado",
      "url": "https://twitter.com/shallow_omado",
      "email": "dsgamer777@gmail.com"
    },
    "termsOfService": "https://illust.gochiusa.team/terms",
    "description": "ごちイラ内でメインに使用されているAPI。\n現在Bot、ガチャ、フロントエンド の 3箇所で使用中。",
    "license": {
      "name": "GPLv3",
      "url": "https://www.gnu.org/licenses/gpl-3.0.ja.html"
    }
  },
  "servers": [
    {
      "url": "https://api.gochiusa.team",
      "description": "Prod"
    },
    {
      "url": "http://127.0.0.1:8080",
      "description": "Dev"
    }
  ],
  "paths": {
    "/accounts/{accountID}": {
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "accountID",
          "in": "path",
          "required": true,
          "description": "取得したいユーザーのアカウントID"
        }
      ],
      "get": {
        "summary": "Get user info",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAccountResponse"
                }
              }
            }
          }
        },
        "operationId": "getAccount",
        "description": "ユーザーのアカウント情報を取得します",
        "tags": [
          "accounts"
        ]
      },
      "put": {
        "summary": "Edit user info",
        "operationId": "editAccount",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PutAccountResponse"
                },
                "examples": {}
              }
            }
          }
        },
        "tags": [
          "accounts"
        ],
        "description": "アカウント情報を編集します\n(本人または管理者のみがリクエストできます)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountStruct"
              },
              "examples": {
                "example": {
                  "value": {
                    "userDisplayID": "omado",
                    "userName": "お窓",
                    "userPassword": "kafuuch1n0",
                    "userOldPassword": "h0t0c0c0a",
                    "userFavorite": 1,
                    "userTheme": 0,
                    "userPermission": 0,
                    "userLineID": "dosugamea",
                    "userTwitterID": "shallow_omado"
                  }
                }
              }
            }
          },
          "description": "ユーザー本人、もしくは管理者のみデータを変更できます\n変更したいカラムを与え、値に変更後の値を与えると変更できます\nパスワードを変更する場合のみ、例外的に現在のパスワードが要求されます"
        }
      },
      "delete": {
        "summary": "Delete user info",
        "operationId": "deleteAccount",
        "description": "アカウントを削除します\n(本人または管理者のみがリクエストできます)",
        "tags": [
          "accounts"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteAccountRequest"
              }
            }
          },
          "description": "危険な操作のため、パスワードが必要になります"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteAccountResponse"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountID}/upload_history": {
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "accountID",
          "in": "path",
          "required": true,
          "description": "取得したいユーザーのアカウントID"
        }
      ],
      "get": {
        "summary": "Get upload history",
        "tags": [
          "accounts"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUploadHistoryResponse"
                }
              }
            }
          }
        },
        "operationId": "getUploadHistory",
        "description": "イラスト投稿履歴を取得します",
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchQueryPage"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "d"
              ],
              "example": "d",
              "minLength": 1,
              "maxLength": 1
            },
            "in": "query",
            "name": "sort",
            "description": "ソート方法 d:最終更新"
          },
          {
            "$ref": "#/components/parameters/SearchQueryOrder"
          }
        ]
      }
    },
    "/accounts/{accountID}/reissue_token": {
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "accountID",
          "in": "path",
          "required": true,
          "description": "取得したいユーザーのアカウントID"
        }
      ],
      "post": {
        "summary": "Reissue api key",
        "operationId": "reissueToken",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostReissueTokenResponse"
                }
              }
            }
          }
        },
        "description": "アカウントのログインキーを再生成します",
        "tags": [
          "accounts"
        ]
      }
    },
    "/accounts/me": {
      "get": {
        "summary": "Get user info (self)",
        "tags": [
          "accounts"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAccountMeResponse"
                }
              }
            }
          }
        },
        "operationId": "getSelfAccount",
        "description": "自分自身にまつわる情報をすべて取得します\n通常、ログイン時に一度だけ呼び出されます"
      },
      "parameters": []
    },
    "/accounts/login/form": {
      "post": {
        "summary": "Login with form",
        "tags": [
          "accounts"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostLoginWithFormResponse"
                }
              }
            }
          }
        },
        "operationId": "loginWithForm",
        "description": "IDとパスワードを用いてユーザー認証し、APIトークンを発行します",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostLoginWithFormRequest"
              },
              "examples": {
                "user": {
                  "value": {
                    "id": "test_user",
                    "password": "this_is_only_for_test"
                  }
                },
                "admin": {
                  "value": {
                    "id": "test_admin",
                    "password": "this_is_only_for_test"
                  }
                }
              }
            }
          },
          "description": "ユーザーIDとパスワードをパラメータに取ります"
        }
      }
    }
  },
  "components": {
    "schemas": {
      "GetAccountResponse": {
        "title": "GetAccountResponse",
        "type": "object",
        "x-examples": {
          "success": {
            "status": 200,
            "message": "ok",
            "data": {
              "userID": 3,
              "displayID": "omado",
              "name": "お窓",
              "favorite": 1
            }
          },
          "failed": {
            "status": 404,
            "message": "The account data was not found."
          }
        },
        "properties": {
          "status": {
            "type": "integer",
            "description": "HTTPステータスコードが入ります",
            "format": "int32",
            "minimum": 100,
            "maximum": 999,
            "default": 200,
            "example": 200
          },
          "message": {
            "type": "string",
            "minLength": 1,
            "description": "ok もしくは エラー内容"
          },
          "data": {
            "$ref": "#/components/schemas/AccountStruct"
          }
        },
        "required": [
          "status",
          "message"
        ]
      },
      "AccountStruct": {
        "title": "AccountStruct",
        "type": "object",
        "x-examples": {
          "example": {
            "displayID": "omado",
            "name": "お窓",
            "password": "kafuuch1n0",
            "oldPassword": "h0t0c0c0a",
            "favorite": 1,
            "theme": 0,
            "permission": 0,
            "lineID": "dosugamea",
            "twitterID": "shallow_omado"
          }
        },
        "description": "アカウントの取得/編集に使うリクエスト",
        "properties": {
          "displayID": {
            "type": "string",
            "description": "(Twitterのような)表示IDを指定します。ここで指定したIDがログインに使用されます。英数字のみ入力できます。",
            "example": "omado",
            "maxLength": 20,
            "minLength": 3
          },
          "name": {
            "type": "string",
            "description": "他のユーザーに表示されるユーザー名/投稿者名",
            "example": "お窓",
            "maxLength": 20,
            "minLength": 1
          },
          "password": {
            "type": "string",
            "description": "新しいパスワードを入力します",
            "example": "kafuuch1n0",
            "format": "password",
            "maxLength": 50,
            "minLength": 8
          },
          "oldPassword": {
            "type": "string",
            "description": "現時点のパスワードを入力します。\nuserPasswordを変更する場合に必要となります。",
            "example": "h0t0c0c0a",
            "format": "password",
            "maxLength": 50,
            "minLength": 8
          },
          "favorite": {
            "type": "integer",
            "description": "ユーザーの推しキャラのIDを選択します",
            "example": 1,
            "format": "int32",
            "maximum": 100,
            "minimum": 0
          },
          "theme": {
            "type": "integer",
            "description": "サイト内のテーマ色(もしくはレイアウト?)が変更できることを想定して仮に置かれたものです(未使用)",
            "example": 0,
            "exclusiveMinimum": false,
            "minimum": 0,
            "maximum": 9,
            "format": "int32"
          },
          "permission": {
            "type": "integer",
            "description": "ユーザーが持つ権限を指定します、SysOpのみ変更できます。\n0:User 5:Admin 9:Sysop になっています\n(変更されたユーザーは再ログインが必要です)",
            "example": 0,
            "enum": [
              0,
              5,
              9
            ],
            "format": "int32",
            "minimum": 0,
            "maximum": 9
          },
          "lineID": {
            "type": "string",
            "description": "LINEと連携している場合にユーザーページに表示されることを想定して仮に置かれたものです(未使用)",
            "example": "dosugamea",
            "maxLength": 30
          },
          "twitterID": {
            "type": "string",
            "description": "Twitterと連携している場合にユーザーページに表示されることを想定して仮に置かれたものです(未使用)",
            "example": "shallow_omado",
            "maxLength": 30
          },
          "totpEnabled": {
            "type": "boolean",
            "default": false,
            "description": "TOTPを使用するか否か"
          }
        }
      },
      "PutAccountResponse": {
        "title": "PutAccountResponse",
        "type": "object",
        "x-examples": {
          "success": {
            "value": {
              "status": 200,
              "message": "Update complete"
            }
          },
          "server-error": {
            "value": {
              "status": 500,
              "message": "Server bombed."
            }
          },
          "password-mismatch": {
            "value": {
              "status": 400,
              "message": "password mismatch"
            }
          },
          "not-satisfied-params": {
            "value": {
              "status": 400,
              "message": "Request parameters are not satisfied."
            }
          }
        },
        "properties": {
          "status": {
            "type": "integer",
            "minimum": 100,
            "maximum": 999,
            "example": 200,
            "default": 200,
            "format": "int32"
          },
          "message": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "status",
          "message"
        ]
      },
      "DeleteAccountRequest": {
        "title": "DeleteAccountRequest",
        "type": "object",
        "properties": {
          "password": {
            "type": "string",
            "format": "password",
            "description": "削除したいアカウントのパスワード"
          }
        },
        "required": [
          "password"
        ],
        "description": "アカウントの削除に使うリクエスト",
        "x-examples": {
          "example": {
            "password": "kafuuch1n0"
          }
        }
      },
      "DeleteAccountResponse": {
        "title": "DeleteAccountResponse",
        "type": "object",
        "x-examples": {
          "success": {
            "status": 200,
            "message": "ok thanks for using!"
          },
          "failed": {
            "status": 400,
            "message": "authorization failed"
          }
        },
        "properties": {
          "status": {
            "type": "integer",
            "minimum": 100,
            "maximum": 999,
            "example": 200,
            "format": "int32",
            "default": 200
          },
          "message": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "status",
          "message"
        ]
      },
      "GetUploadHistoryResponse": {
        "title": "GetUploadHistoryResponse",
        "type": "object",
        "x-examples": {
          "success": {
            "value": {
              "status": 200,
              "message": "ok",
              "data": {
                "title": "アップロード履歴",
                "count": 2321,
                "current": 1,
                "pages": 117,
                "contents": [
                  {
                    "uploadID": 12045,
                    "started": "2021-02-21 22:24:22",
                    "finished": "2021-02-21 22:24:27",
                    "status": 5,
                    "illustID": 9381
                  },
                  {
                    "uploadID": 12044,
                    "started": "2021-02-21 22:23:41",
                    "finished": "2021-02-21 22:23:45",
                    "status": 5,
                    "illustID": 9380
                  },
                  {
                    "uploadID": 12036,
                    "started": "2021-02-21 20:30:39",
                    "finished": "2021-02-21 20:30:43",
                    "status": 5,
                    "illustID": 9375
                  },
                  {
                    "uploadID": 12004,
                    "started": "2021-02-20 20:20:19",
                    "finished": "2021-02-20 20:20:29",
                    "status": 5,
                    "illustID": 9355
                  },
                  {
                    "uploadID": 12003,
                    "started": "2021-02-20 20:03:30",
                    "finished": "2021-02-20 20:03:46",
                    "status": 5,
                    "illustID": 9354
                  },
                  {
                    "uploadID": 11972,
                    "started": "2021-02-19 21:30:58",
                    "finished": "2021-02-19 21:31:00",
                    "status": 5,
                    "illustID": 9336
                  },
                  {
                    "uploadID": 11971,
                    "started": "2021-02-19 21:30:52",
                    "finished": "2021-02-19 21:30:55",
                    "status": 5,
                    "illustID": 9335
                  },
                  {
                    "uploadID": 11970,
                    "started": "2021-02-19 21:30:46",
                    "finished": "2021-02-19 21:30:49",
                    "status": 5,
                    "illustID": 9334
                  },
                  {
                    "uploadID": 10756,
                    "started": "2021-01-20 03:12:57",
                    "finished": "2021-01-20 03:13:04",
                    "status": 5,
                    "illustID": 8418
                  },
                  {
                    "uploadID": 10755,
                    "started": "2021-01-20 03:09:31",
                    "finished": "2021-01-20 03:09:39",
                    "status": 5,
                    "illustID": 8417
                  },
                  {
                    "uploadID": 10754,
                    "started": "2021-01-20 02:57:00",
                    "finished": "2021-01-20 02:57:09",
                    "status": 5,
                    "illustID": 8416
                  },
                  {
                    "uploadID": 10753,
                    "started": "2021-01-20 02:56:44",
                    "finished": "2021-01-20 02:56:52",
                    "status": 5,
                    "illustID": 8415
                  },
                  {
                    "uploadID": 10663,
                    "started": "2021-01-17 22:21:22",
                    "finished": "2021-01-17 22:21:35",
                    "status": 5,
                    "illustID": 8364
                  },
                  {
                    "uploadID": 10658,
                    "started": "2021-01-17 21:14:02",
                    "finished": "2021-01-17 21:14:06",
                    "status": 5,
                    "illustID": 8360
                  },
                  {
                    "uploadID": 10657,
                    "started": "2021-01-17 21:07:54",
                    "finished": "2021-01-17 21:07:57",
                    "status": 5,
                    "illustID": 8359
                  },
                  {
                    "uploadID": 10656,
                    "started": "2021-01-17 21:07:47",
                    "finished": "2021-01-17 21:07:51",
                    "status": 5,
                    "illustID": 8358
                  },
                  {
                    "uploadID": 10655,
                    "started": "2021-01-17 21:07:41",
                    "finished": "2021-01-17 21:07:43",
                    "status": 5,
                    "illustID": 8357
                  },
                  {
                    "uploadID": 10654,
                    "started": "2021-01-17 21:07:34",
                    "finished": "2021-01-17 21:07:37",
                    "status": 5,
                    "illustID": 8356
                  },
                  {
                    "uploadID": 10653,
                    "started": "2021-01-17 21:07:27",
                    "finished": "2021-01-17 21:07:30",
                    "status": 5,
                    "illustID": 8355
                  },
                  {
                    "uploadID": 10652,
                    "started": "2021-01-17 21:06:35",
                    "finished": "2021-01-17 21:06:39",
                    "status": 5,
                    "illustID": 8354
                  }
                ]
              }
            }
          },
          "no-hit": {
            "value": {
              "status": 200,
              "message": "ok",
              "data": {
                "title": "アップロード履歴",
                "count": 0,
                "current": 1,
                "pages": 1,
                "contents": []
              }
            }
          },
          "no-account": {
            "status": 404,
            "message": "The account data was not found."
          }
        },
        "properties": {
          "status": {
            "type": "integer",
            "description": "HTTPステータスコードが入ります",
            "format": "int32",
            "minimum": 100,
            "maximum": 999,
            "example": 200,
            "default": 200
          },
          "message": {
            "type": "string",
            "description": "ok もしくは エラー内容",
            "minLength": 1
          },
          "data": {
            "type": "object",
            "properties": {
              "title": {
                "type": "string",
                "description": "検索関連共通化のため\"アップロード履歴\"が入る",
                "example": "アップロード履歴",
                "enum": [
                  "アップロード履歴"
                ],
                "maxLength": 8,
                "minLength": 8
              },
              "count": {
                "type": "integer",
                "description": "総ヒット数",
                "format": "int32"
              },
              "current": {
                "type": "integer",
                "description": "現在開いているページ",
                "example": 1,
                "minimum": 1
              },
              "pages": {
                "type": "integer",
                "description": "ヒット数をページ毎の個数で割ったページ数",
                "minimum": 0,
                "example": 1,
                "format": "int32"
              },
              "contents": {
                "type": "array",
                "uniqueItems": true,
                "description": "指定された範囲で一致するデータ\n一致するものがなければ空配列",
                "minItems": 0,
                "items": {
                  "$ref": "#/components/schemas/UploadHistoryStruct"
                }
              }
            },
            "required": [
              "title",
              "count",
              "current",
              "pages"
            ]
          }
        },
        "required": [
          "status",
          "message"
        ]
      },
      "PostReissueTokenResponse": {
        "title": "PostReissueTokenResponse",
        "type": "object",
        "x-examples": {
          "example": {
            "status": 200,
            "message": "ok",
            "api_key": "DUMMY_API_KEY"
          }
        },
        "properties": {
          "status": {
            "type": "integer",
            "minimum": 100,
            "maximum": 999,
            "example": 200,
            "default": 200,
            "format": "int32"
          },
          "message": {
            "type": "string",
            "minLength": 1
          },
          "api_key": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "status",
          "message"
        ]
      },
      "GetAccountMeResponse": {
        "title": "GetAccountMeResponse",
        "type": "object",
        "x-examples": {
          "success-user": {
            "status": 200,
            "message": "ok",
            "data": {
              "userID": 3,
              "displayID": "test_user",
              "name": "Test",
              "favorite": 42,
              "lineConnect": true,
              "lineNotify": true,
              "oneSignalNotify": true,
              "permission": 0,
              "registeredDate": "2021-01-07 12:48:42",
              "inviter": {
                "id": 1,
                "name": "ドマオー"
              },
              "invite": {
                "id": 1,
                "code": "DISABLED",
                "invited": 0,
                "enabled": false
              },
              "mylist": {
                "id": 3
              },
              "apiKey": "DUMMY_API_KEY"
            }
          },
          "success-admin": {
            "status": 200,
            "message": "ok",
            "data": {
              "userID": 4,
              "displayID": "test_admin",
              "name": "Admin",
              "favorite": 43,
              "lineConnect": true,
              "lineNotify": true,
              "oneSignalNotify": true,
              "permission": 9,
              "registeredDate": "2021-01-07 12:48:42",
              "inviter": {
                "id": 1,
                "name": "ドマオー"
              },
              "invite": {
                "id": 1,
                "code": "DISABLED",
                "invited": 0,
                "enabled": false
              },
              "mylist": {
                "id": 4
              },
              "apiKey": "DUMMY_API_KEY"
            }
          },
          "failed": {
            "status": 500,
            "message": "Server exploded"
          }
        },
        "properties": {
          "status": {
            "type": "integer",
            "description": "HTTPステータスコード",
            "format": "int32",
            "minimum": 100,
            "maximum": 999,
            "example": 200,
            "default": 200
          },
          "message": {
            "type": "string",
            "minLength": 1,
            "description": "ok もしくはエラー内容"
          },
          "data": {
            "type": "object",
            "properties": {
              "userID": {
                "type": "integer",
                "description": "ユーザー通し番号"
              },
              "displayID": {
                "type": "string",
                "minLength": 1,
                "description": "表示ID(英数字のみ)"
              },
              "name": {
                "type": "string",
                "minLength": 1,
                "description": "ユーザー名(日本語可)"
              },
              "favorite": {
                "type": "integer",
                "description": "推しキャラのID"
              },
              "lineNotify": {
                "type": "boolean",
                "description": "LINENotifyに連携済かどうか"
              },
              "permission": {
                "type": "integer",
                "description": "権限レベル 0:一般 5:Admin 9:SysOp"
              },
              "registeredDate": {
                "type": "string",
                "minLength": 1,
                "description": "登録日時(datetime)"
              },
              "inviter": {
                "type": "object",
                "description": "招待者の情報",
                "required": [
                  "id",
                  "name"
                ],
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "招待者のユーザー通し番号"
                  },
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "description": "招待者の名前"
                  }
                }
              },
              "invite": {
                "type": "object",
                "description": "招待情報",
                "required": [
                  "id",
                  "code",
                  "invited",
                  "enabled"
                ],
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "招待通し番号"
                  },
                  "code": {
                    "type": "string",
                    "description": "招待コード(shortuuid)",
                    "minLength": 6,
                    "maxLength": 12
                  },
                  "invited": {
                    "type": "integer",
                    "description": "招待した人数の累計(誰を招待したかは表示されない)"
                  },
                  "enabled": {
                    "type": "boolean",
                    "description": "招待可能な状態か否か"
                  }
                }
              },
              "apiKey": {
                "type": "string",
                "minLength": 1,
                "description": "ログインに使用したAPIキー"
              }
            },
            "required": [
              "userID",
              "displayID",
              "name",
              "favorite",
              "lineNotify",
              "permission",
              "registeredDate",
              "inviter",
              "invite",
              "apiKey"
            ]
          }
        },
        "required": [
          "status",
          "message"
        ]
      },
      "PostLoginWithFormRequest": {
        "title": "PostLoginWithFormRequest",
        "type": "object",
        "description": "",
        "x-examples": {
          "user": {
            "value": {
              "id": "test_user",
              "password": "this_is_only_for_test"
            }
          },
          "admin": {
            "value": {
              "id": "test_admin",
              "password": "this_is_only_for_test"
            }
          }
        },
        "properties": {
          "id": {
            "type": "string",
            "minLength": 1
          },
          "password": {
            "type": "string",
            "minLength": 1
          },
          "totp_code": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "password"
        ]
      },
      "PostLoginWithFormResponse": {
        "title": "PostLoginWithFormResponse",
        "type": "object",
        "properties": {
          "status": {
            "type": "integer"
          },
          "message": {
            "type": "string",
            "minLength": 1
          },
          "apiKey": {
            "type": "string",
            "minLength": 1
          }
        },
        "x-examples": {
          "login-success": {
            "value": {
              "status": 200,
              "message": "welcome back",
              "apiKey": "DUMMY_API_KEY"
            }
          },
          "login-failed": {
            "value": {
              "status": 404,
              "message": "account not found"
            }
          }
        },
        "required": [
          "status",
          "message"
        ],
        "description": ""
      }
    },
    "parameters": {
      "SearchQuerySort": {
        "name": "sort",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string",
          "enum": [
            "l",
            "d"
          ],
          "example": "d",
          "default": "d"
        },
        "description": "ソート方法 l:いいね数順 d:投稿日順"
      },
      "SearchQueryOrder": {
        "name": "order",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string",
          "enum": [
            "d",
            "a"
          ],
          "default": "d",
          "example": "d",
          "minLength": 1,
          "maxLength": 1
        },
        "description": "ソート方向 d:降順(大→小) a:昇順(小→大)"
      },
      "SearchQueryPage": {
        "name": "page",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 1
        },
        "description": "ページ番号 (NOTE: 1ページ辺りの応答は20件)"
      },
      "SearchQueryMylistAllow": {
        "name": "with_mylisted",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "format": "int32",
          "default": 1,
          "enum": [
            1,
            0
          ],
          "example": 1,
          "minimum": 0,
          "maximum": 1
        },
        "description": "マイリスト追加済みかを取得する0/1 (デフォルト1)"
      },
      "SearchQueryMylistDeny": {
        "name": "with_mylisted",
        "in": "query",
        "schema": {
          "type": "integer",
          "enum": [
            0,
            1
          ],
          "example": 0,
          "default": 0,
          "minimum": 0,
          "maximum": 1
        },
        "description": "マイリスト追加済みかを取得する0/1 (デフォルト0)"
      }
    }
  },
  "tags": [
    {
      "name": "accounts"
    }
  ]
}