{
  "openapi": "3.0.0",
  "info": {
    "title": "Report API",
    "version": "1.0",
    "contact": {
      "name": "Omado",
      "url": "https://twitter.com/shallow_omado",
      "email": "dsgamer777@gmail.com"
    },
    "termsOfService": "https://illust.gochiusa.team/terms",
    "description": "ごちイラ内でメインに使用されているAPI。\n現在Bot、ガチャ、フロントエンド の 3箇所で使用中。",
    "license": {
      "name": "GPLv3",
      "url": "https://www.gnu.org/licenses/gpl-3.0.ja.html"
    }
  },
  "servers": [
    {
      "url": "https://api.gochiusa.team",
      "description": "Prod"
    },
    {
      "url": "http://127.0.0.1:8080",
      "description": "Dev"
    }
  ],
  "paths": {
    "/report/arts/{illustID}": {
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "illustID",
          "in": "path",
          "required": true
        }
      ],
      "post": {
        "summary": "Report art",
        "tags": [
          "report"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostReportGeneralResponse"
                }
              }
            }
          }
        },
        "operationId": "reportArt",
        "description": "指定したイラストを運営に通報します\nむやみに利用するとアカウントが停止される可能性があります",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostReportGeneralRequest"
              }
            }
          }
        }
      }
    },
    "/report/tags/{tagID}": {
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "tagID",
          "in": "path",
          "required": true
        }
      ],
      "post": {
        "summary": "Report tag",
        "tags": [
          "report"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostReportGeneralResponse"
                }
              }
            }
          }
        },
        "operationId": "reportTag",
        "description": "指定したタグを運営に通報します\nむやみに利用するとアカウントが停止される可能性があります",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostReportGeneralRequest"
              }
            }
          }
        }
      }
    },
    "/report/user/{userID}": {
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "userID",
          "in": "path",
          "required": true
        }
      ],
      "post": {
        "summary": "Report user",
        "tags": [
          "report"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostReportGeneralResponse"
                }
              }
            }
          }
        },
        "operationId": "reportUser",
        "description": "指定したユーザーを運営に通報します\nむやみに利用するとアカウントが停止される可能性があります",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostReportGeneralRequest"
              }
            }
          }
        }
      }
    },
    "/report/wiki/{articleID}": {
      "parameters": [
        {
          "schema": {
            "type": "integer"
          },
          "name": "articleID",
          "in": "path",
          "required": true
        }
      ],
      "post": {
        "summary": "Report article",
        "tags": [
          "report"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostReportGeneralResponse"
                }
              }
            }
          }
        },
        "operationId": "reportArticle",
        "description": "指定した記事を運営に通報します\nむやみに利用するとアカウントが停止される可能性があります",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostReportGeneralRequest"
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "PostReportGeneralRequest": {
        "title": "ReportGeneralRequest",
        "type": "object",
        "x-examples": {
          "example-1": {
            "type": 1,
            "msg": "XSSしようとしてる人が居るみたいです、なんとかしてください"
          },
          "example-2": {
            "type": 2,
            "msg": "どうみてもエッチですあーいけません!"
          },
          "example-3": {
            "type": 3,
            "msg": "完全に同一の画像を上げ続け、運営を妨害している人が居ます"
          },
          "example-4": {
            "type": 4,
            "msg": "DMCA Request"
          }
        },
        "properties": {
          "type": {
            "type": "integer",
            "description": "通報種別 1:不適切名称 2:不適切年齢 3:規約違反 4:法律違反",
            "minimum": 1,
            "maximum": 9,
            "format": "int32",
            "example": 1,
            "default": 1
          },
          "msg": {
            "type": "string",
            "description": "通報本文",
            "minLength": 1
          }
        },
        "required": [
          "type",
          "msg"
        ]
      },
      "PostReportGeneralResponse": {
        "title": "ReportGeneralResponse",
        "type": "object",
        "x-examples": {
          "success": {
            "status": 200,
            "message": "Report succeed."
          },
          "failed-already-reported": {
            "status": 400,
            "message": "You already reported."
          },
          "failed-not-found": {
            "status": 404,
            "message": "The target was not found."
          },
          "failed-permission": {
            "status": 400,
            "message": "You don't have enough permission."
          }
        },
        "properties": {
          "status": {
            "type": "integer",
            "minimum": 100,
            "maximum": 999,
            "format": "int32",
            "example": 200,
            "default": 200
          },
          "message": {
            "type": "string",
            "minLength": 1
          }
        },
        "required": [
          "status",
          "message"
        ]
      }
    },
    "parameters": {
      "SearchQuerySort": {
        "name": "sort",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string",
          "enum": [
            "l",
            "d"
          ],
          "example": "d",
          "default": "d"
        },
        "description": "ソート方法 l:いいね数順 d:投稿日順"
      },
      "SearchQueryOrder": {
        "name": "order",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string",
          "enum": [
            "d",
            "a"
          ],
          "default": "d",
          "example": "d",
          "minLength": 1,
          "maxLength": 1
        },
        "description": "ソート方向 d:降順(大→小) a:昇順(小→大)"
      },
      "SearchQueryPage": {
        "name": "page",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "minimum": 1
        },
        "description": "ページ番号 (NOTE: 1ページ辺りの応答は20件)"
      },
      "SearchQueryMylistAllow": {
        "name": "with_mylisted",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "format": "int32",
          "default": 1,
          "enum": [
            1,
            0
          ],
          "example": 1,
          "minimum": 0,
          "maximum": 1
        },
        "description": "マイリスト追加済みかを取得する0/1 (デフォルト1)"
      },
      "SearchQueryMylistDeny": {
        "name": "with_mylisted",
        "in": "query",
        "schema": {
          "type": "integer",
          "enum": [
            0,
            1
          ],
          "example": 0,
          "default": 0,
          "minimum": 0,
          "maximum": 1
        },
        "description": "マイリスト追加済みかを取得する0/1 (デフォルト0)"
      }
    }
  },
  "tags": [
    {
      "name": "report"
    }
  ]
}